<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<!-- Modal -->
<script type="text/ng-template" id="inforouterupdate.html">
    <div class="col-xs-12 p0" block-ui="inforouterupdateblock">
        <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="Tagging('Hogar','Hogar_AdministraturedWiFi_Enlinea_Cerrar');cancel()"></img>
        </div>
        <div class="col-xs-12 tac fwbbold fs21 mt3p cgraybold tac">
            <img src="/Images/Miclaro.png"></img>
        </div>
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>
        <div class="col-xs-8 col-xs-offset-2col-xs-8 col-xs-offset-2 p0">
            <div class="col-xs-6 col-md-5 p0">
                <img src="/Images/RecuerdatuclavewifiGray.png" class="w77">
                <div class="clilalight fs15 p0 mt10p" ng-if="inforouter.alive">
                    <div class="col-xs-2 p0">
                        <img src="/Images/lineaactiva.png" class=""></img>
                    </div>
                    <div class="col-xs-10 tal mt1p">EN LÍNEA</div>
                </div>

                <div class="cgraylight fs15 p0 mt10p" ng-if="!inforouter.alive">
                    <div class="col-xs-2 p0">
                        <img src="/Images/lineainactiva.png" class=""></img>
                    </div>
                    <div class="col-xs-10 tal mt1p">EN LÍNEA</div>
                </div>
            </div>
            <div class="col-xs-6 col-md-7 p0">
                <div class="col-xs-12">
                    <div class="h4"></div>
                </div>
                <div class="cgraylight fs15 p0">{{inforouter.brand}}</div>
                <div class="cblack fwbbold fs15 p0">{{inforouter.model}}</div>
                <!--<div class="cgraylight fs15 p0">{{inforouter.ipAddress}}</div>-->
            </div>
        </div>
        <!-- Separadores -->
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>
        <div class="col-xs-8 col-xs-offset-2col-xs-8 col-xs-offset-2 p0 tac cblack fwbbold">Personaliza el nombre y contraseña de tu Red Wifi</div> 
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 pt10 pb10 bc1grayinput mb15">
            <div class="col-xs-4 fs16 fwbbold cred brgray">
                NOMBRE
            </div>
            <div class="col-xs-8 fs16 fwbbold cgraylight pr0">
                 <input id="ssid" type="text" ng-disabled="(disabledinput == 1)? false : true" class="col-xs-12 p0 outlinenone" ng-model="formInforouter.ssid" maxlength="50" />
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 pt10 pb10 bc1grayinput mb15">
            <div class="col-xs-4 fs16 fwbbold cred brgray mt4">
                CLAVE
            </div>
            <div class="col-xs-8 pr0 fs16 fwbbold cgraylight">
                <input type="text" ng-disabled="(disabledinput == 1)? false : true" class="col-xs-12 p0 outlinenone" ng-model="formInforouter.key" maxlength="50" />
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 pt10 pb10 bc1grayinput mb15">
            <div class="col-xs-4 fs16 fwbbold cred brgray">
                CIFRADO
            </div>
            <div class="col-xs-8 fs16 fwbbold cgraylight">
                <select class="corange bn outlinenone col-xs-12 m0 bcwhite talast hidden-xs" ng-disabled="(disabledinput == 1)? false : true" aria-label="Follow" ng-model="selected.selected" ng-change="validarCifrado()">
                  <option value="{{item.name}}" ng-repeat="item in inforouterCifrado" ng-disabled="item.name == inforouter.encriptionMode">{{item.name}}</option>
                </select>
                
                <md-select class="corange bn outlinenone col-xs-12 m0 bcwhite talast hidden-sm hidden-md hidden-lg" ng-disabled="(disabledinput == 1)? false : true" aria-label="Follow" ng-model="selected.selected" ng-change="validarCifrado()">
                  <md-option value="{{item.name}}" ng-repeat="item in inforouterCifrado" ng-disabled="item.name == inforouter.encriptionMode">{{item.name}}</option>
                </md-select>
            </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 pt10 pb10 bc1grayinput">
            <div class="col-xs-4 fs16 fwbbold cred brgray">
                CANAL
            </div>
            <div class="col-xs-8 fs16 fwbbold cgraylight">
                {{inforouter.channel}}
            </div>
        </div>

        <!-- Separadores -->
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>
        
        <div class="col-xs-8 col-xs-offset-2 bclilalight cwhite pt10 pb10 fs18 tac cpointer" ng-if="disabledinput == 0" ng-click="editarinputwifi()">
            Editar
        </div>
        
        <div class="col-xs-8 col-xs-offset-2 bgcorange cwhite pt10 pb10 fs18 tac cpointer" ng-if="disabledinput == 1" ng-click="Tagging('Hogar','_ini_adminredwifi_detallemodem_act');updaterouter()">
            Actualizar
        </div>

        <div class="cb"></div>
        <!-- Separadores -->
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>
        <div class="cb"></div>
    </div>
    <div class="cb"></div>
</script>

<div class="col-xs-12 p0" block-ui="blockcambiodeclavewifi">
    <!-- Formulario que se carga desde JavaScript y ejecuta una nueva pestaña para la domiciliacion de factura -->
    <div id="mainContent" class="dn"></div>

    <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
        Personaliza tu Red WiFi
    </div>

    <div class="col-xs-12">
        <div class="h4"></div>
    </div>

    <div class="col-md-12 tac fs15 fwbbold cgraybold">
        <div>Desde aquí puedes personalizar tu red WiFi</div>
        <div>de forma rápida y sencilla</div>
    </div>

    <div class="col-xs-12">
        <div class="h4"></div>
    </div>

    <!-- Contenedor -->
    <div class="col-xs-12">
        <div class="col-md-12 tac fs15 fwbbold clilalight">
            <div>Selecciona el módem que quieres personalizar</div>
        </div>
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>
        <!-- Repeater de router -->
        <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 bcgraylight pt2p pb2p">
            <div class="col-xs-6 col-md-4 tac cpointer mt2p mb2p" ng-repeat="item in routers" ng-click="Tagging('Hogar','_ini_adminredwifi_detallemodem');getinforouter(item)">
                <img src="/Images/RecuerdatuclavewifiGray.png" class="w77">
                <div class="cgraylight fs12 tac p0 mt2p">{{item.brand}}</div>
                <div class="cblack fwbbold fs15 tac p0 mt2p">{{item.model}}</div>

                <div class="clilalight fs15 p0 mt2p" ng-if="item.alive">
                    <div class="col-xs-4 p0">
                        <img src="/Images/lineaactiva.png" class="pull-right"></img>
                    </div>
                    <div class="col-xs-8 tal mt1p">EN LÍNEA</div>
                </div>

                <div class="cgraylight fs15 p0 mt2p" ng-if="!item.alive">
                    <div class="col-xs-4 p0">
                        <img src="/Images/lineainactiva.png" class="pull-right"></img>
                    </div>
                    <div class="col-xs-8 tal mt1p">EN LÍNEA</div>
                </div>
            </div>
        </div>
    </div>
    <div class="cb"></div>
</div>
