<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<div class="col-xs-12 p0" block-ui="blockDetallePaqueteTv">
    <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
        Detalle de Paquete de Televisión Satelital
    </div>
    <div class="col-xs-12 mt15">
        <div class="col-xs-6 fs14 fwbbold cgraybold mt3 tar">
            Cuenta Hogar: 
        </div>
        <div class="col-xs-6 fs15 fwbbold cred tal">
            {{OpSelec.hogar}}
        </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 p0">
        <div class="col-xs-12 mt30 mb40 p0">
            <div class="col-xs-6 fs15 fwbbold cgraybold mt3 tal cblack">
                Filtrado por
            </div>
            <div class="col-xs-6 fs15 fwbbold cred tal">
                <div class="col-sm-5 col-sm-offset-7">
                    <select class="cgraybold bn outlinenone col-xs-12 talast bcwhite hidden-xs" ng-model="paqueteActivo.activo" ng-change="cambiarPaquetes()">
                      <option value="">-- Seleccione --</option>
                      <option value="{{item.valor}}" ng-repeat="item in paquetesOption">{{item.nombre}}</option>
                    </select>
    
                   <md-select class="corange bn outlinenone col-xs-12 talast bcwhite m0 hidden-sm hidden-md hidden-lg" aria-label="Follow" ng-model="paqueteActivo.activo" ng-change="cambiarPaquetes()">
                        <md-option value="">-- Seleccione --</md-option>
                        <md-option value="{{item.valor}}" ng-repeat="item in paquetesOption">{{item.nombre}}</md-option>
                    </md-select>
                </div>
            </div>
        </div>
        <div class="col-xs-12 p0 cgraybold fs18 fwbbold tac p0" ng-if="hayPaquetes == 0">{{textoPaquetes}}</div>
        <div class="col-xs-12 p0" ng-if="hayPaquetes == 1">
            <div class="col-xs-12 p0 mb40" ng-repeat="paquete in dataPaquetes">
                <div class="col-xs-12 mb12 fs15 cgraylight p0">
                    <div class="col-xs-6 pl36">Tu paquete</div>
                    <div class="col-xs-6 tac">
                        <div class="col-sm-3 col-sm-offset-5">
                            Estado
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 p0">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="bgRojoBl cwhite dn-flex flex-ai-center flex-jc-center w35 h60 brd0">1</th>
                          <th class="col-xs-8 cblack fs18 lh2-4px lhbil1px pl15 brdb0 btcgray1px">{{paquete.NOMBRE_PAQUETE}}</th>
                          <th class="col-xs-4 fs18 clila lh2-4px brdb0 btcgray1px">{{estadoActivo}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th class="w35 brd0"></th>
                          <td class="col-xs-8 pl15 brd0">Fecha de compra</td>
                          <td class="col-xs-4 brd0">{{paquete.FECHA_INICIO}}</td>
                        </tr>
                        <tr>
                          <th class="w35 brd0"></th>
                          <td class="col-xs-8 pl15 brd0">Fecha de compra</td>
                          <td class="col-xs-4 brd0">{{paquete.FECHA_FIN}}</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12 fwbbold cblack mb15">
                        Detalle
                    </div>
                    <div class="col-xs-12">
                        {{paquete.DESCRIPCION_LARGA}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
