<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<!-- Detalle de la factura -->
<script type="text/ng-template" id="detalledelplanhogar.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="Tagging('Hogar','Hogar_Detalledefacturacion_Cerrar');cancel()"></img>
    </div>
    <div class="col-xs-12 mh316 mt2p" block-ui="blockdetalledelpaquete">
        <div class="col-xs-12">
            <div class="col-xs-12 fs40 fwbbold tac cgraybold">
                Detalle de factura
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3 p0 bbcgray mt6p">
            <div class="col-xs-4 p0 cwhite fs12 bgcorange tac pt10 pb10">
                <img src="/Images/detallefacturacionsaldo.png" class="ma img-responsive w40"></img>
                <div class="col-xs-12 mt10">
                    Saldo
                </div>
            </div>
            <div class="col-xs-8 fwbbold cblack fs40 mt6p">
                {{fnreplace(DetallePlan.saldo)}}
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3 p0 bbcgray mt3p">
            <div class="col-xs-4 p0 cwhite fs12 bclilalight tac pt10 pb10">
                <img src="/Images/detallefacturaciontelevision.png" class="ma img-responsive w50"></img>
                <div class="col-xs-12 mt10">
                    {{DetallePlan.productos[0].nombre}}
                </div>
            </div>
            <div class="col-xs-8 fwbbold cblack fs40 mt4p">
                {{fnreplace(DetallePlan.productos[0].valor)}}
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3 p0 bbcgray mt3p">
            <div class="col-xs-4 p0 cgraybold fs12 bcgraylight tac pt10 pb10">
                <img src="/Images/detallefacturacioninternet.png" class="ma img-responsive w50"></img>
                <div class="col-xs-12 mt10">
                    {{DetallePlan.productos[1].nombre}}
                </div>
            </div>
            <div class="col-xs-8 fwbbold cblack fs40 mt6p">
                {{fnreplace(DetallePlan.productos[1].valor)}}
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3 p0 bbcgray mt3p">
            <div class="col-xs-4 p0 cwhite fs12 bclilalight tac pt10 pb10">
                <img src="/Images/detallefacturacionllamada.png" class="ma img-responsive w50"></img>
                <div class="col-xs-12 mt10">
                    {{DetallePlan.productos[2].nombre}}
                </div>
            </div>
            <div class="col-xs-8 fwbbold cblack fs40 mt6p">
                {{fnreplace(DetallePlan.productos[2].valor)}}
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3 p0 bbcgray mt3p">
            <div class="col-xs-4 p0 cgraybold fs12 bcgraylight tac pt10 pb10">
                <img src="/Images/detallefacturaciontelefono.png" class="ma img-responsive w34 h55"></img>
                <div class="col-xs-12 mt10">
                    {{DetallePlan.productos[3].nombre}}
                </div>
            </div>
            <div class="col-xs-8 fwbbold cblack fs40 mt6p">
                {{fnreplace(DetallePlan.productos[3].valor)}}
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 bclilalight cwhite pt10 pb10 fs18 tac mt3p mb4p cpointer" ng-click="Tagging('Hogar','_ini_historialdefacturas');ok()">
            Historial de facturas
        </div>
       <!-- <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 bgcorange cwhite pt10 pb10 fs18 tac mt3p mb4p cpointer" ng-click="Tagging('Hogar','_ini_historialdefacturas');descargarfactura()">
            Descarga tu factura aquí
        </div> -->

    </div>
    <div class="cb"></div>
</script>

<!-- Historial de facturas -->
<script type="text/ng-template" id="historialfacthogar.html">

    <div class="col-xs-12 bc1graylight bcwhite mh316 max-h600 ofy" block-ui="blockhistorialdefactura">
        <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="Tagging('Hogar','Hogar_Historialdefacturas_Cerrar');cancel()"></img>
        </div>
        <div class="col-xs-12 fs40 fwbbold tac cgraybold mt2p mb25">
            Historial de facturas
        </div>
        <div class="col-xs-12 pb30" ng-if="Historialdefactura != null">
            <div class="col-xs-12 col-md-6 pt15 pb15 bbcgray" ng-repeat="item in Historialdefactura.facturas" ng-if="$index < 12">
                <div class="col-xs-12 fs16 cblack fwbbold tac">{{item.fecha}}</div>
                <div class="col-xs-12 p0 mt2p">
                    <div class="col-xs-6 p0 cgraybold fwbbold fs15 tac">No. de factura</div>
                    <div class="col-xs-6 p0 cgraybold fwbbold fs15 tac">Valor</div>
                </div>
                <div class="col-xs-12 p0 mt2p">
                    <div class="col-xs-6 p0 cblack fwbbold fs15 tac">{{item.numeroFactura}}</div>
                    <div class="col-xs-6 p0 cblack fwbbold fs15 tac">{{fnreplace(item.valor)}}</div>
                </div>
            </div>
        </div>
        <div class="cb"></div>
        <div>
</script>
<div class="col-xs-12 p0" block-ui="blockpagatufacturahogar" ng-if="vista == 1">
    <!-- Formulario que se carga desde JavaScript y ejecuta una nueva pestaña para la domiciliacion de factura -->
    <div id="mainContent" class="dn"></div>
    
    <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
        Administra tu factura
    </div>

    <!-- Contenedor -->
    <div class="col-xs-12 col-md-6 col-md-offset-3 p0 mt25">
        <!-- Detalle factura -->
        <div class="col-xs-12 p0 mt25">
            <div class="col-xs-12 p0 col-md-12 bslbposconsumo mb25">
                <div class="col-xs-12 p0">
                    <div class="col-xs-12 cgraybold fs20 fwbbold mt25">Último pago en línea</div>
                    <div class="col-xs-12 pb10 pt10 fs16">
                        <div class="col-xs-6 p0 fwbbold corange">Fecha del pago:</div>
                        <div class="col-xs-6 p0 cgraybold tar">{{Data.facturaActual.pago.FECHA}}</div>
                    </div>
                    <div class="col-xs-12 pb10 pt10 fs16">
                        <div class="col-xs-6 p0 fwbbold corange">Valor del pago:</div>
                        <div class="col-xs-6 p0 cgraybold tar">{{Data.facturaActual.pago.VALOR | currency:'$':0}}</div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 bslbposconsumo cred mb25 pt10 pb10" ng-if="muestraUlPago != 0" ng-click="historialdePagos()">
                <div class="col-xs-6 fs16 p0">
                    Ver histórico de pagos en línea
                </div>
                <div class="col-xs-6 tar cred bnfocusounder p0" ng-click="">
                    Ver <img src="/Images/Extractosprepago_icon_rounded_ritgh_rojo.png" alt="Ver historico de pagos en línea" class="w27 ml10">
                </div>
            </div>

            <!-- Mobil -->
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>

            <div class="col-xs-12 col-md-12 bslbposconsumo p0 fs16 mb25">

                <div class="col-xs-12 fs20 cgraybold mt25 fwbbold">Factura actual</div>
                <div class="col-xs-12 pb10 pt10">
                    <div class="col-xs-12 col-md-6 p0 fwbbold corange">Nombre:</div>
                    <div class="col-xs-12 col-md-6 p0 cgraybold tar">{{Data.usuario.nombre}}</div>
                </div>
                <div class="col-xs-12 pb10 pt10">
                    <div class="col-xs-12 col-md-6 p0 fwbbold corange">Dirección de facturación:</div>
                    <div class="col-xs-12 col-md-6 p0 cgraybold tar">{{Data.usuario.direccion}}</div>
                </div>
                <div class="col-xs-12 pb10 pt10">
                    <div class="col-xs-12 col-md-6 p0 fwbbold corange">Pago oportuno:</div>
                    <div class="col-xs-12 col-md-6 p0 cgraybold tar">{{Data.facturaActual.pagoOportuno}}</div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12 pb10 pt10 bbcgray"></div>
                </div>
                <div class="col-xs-12 pb10 pt10">
                    <div class="col-xs-12 col-md-6 p0 fwbbold corange">Total a pagar:</div>
                    <div class="col-xs-12 col-md-6 p0 cgraybold tar">{{fnreplace(Data.facturaActual.valor)}}</div>
                </div>
                <div class="col-xs-12 pb10 pt10">
                    <div class="col-xs-12 col-md-6 p0 fwbbold corange">Referencia de pago:</div>
                    <div class="col-xs-12 col-md-6 p0 cgraybold tar">{{OpSelec.hogar}}</div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 bslbposconsumo fs16 p0" ng-if="fechasFactura.fechaInicioCorte != undefined && fechasFactura.fechaFinCorte != undefined">
                <div class="col-xs-12 pb10 pt10">
                    <div class="col-xs-12 col-md-6 p0 fwbbold corange">Fecha de inicio de plan:</div>
                    <div class="col-xs-12 col-md-6 p0 cgraybold tar">{{fechasFactura.fechaInicioCorte}}</div>
                </div>
                <div class="col-xs-12 pb10 pt10">
                    <div class="col-xs-12 col-md-6 p0 fwbbold corange">Fecha corte de plan:</div>
                    <div class="col-xs-12 col-md-6 p0 cgraybold tar">{{fechasFactura.fechaFinCorte}}</div>
                </div>
            </div>
        </div>
        <!-- Tarjetas factura -->

        <!-- Formulario que se carga desde JavaScript y ejecuta una nueva pestaña para generar el pago -->
        <div id="mainContentpagofacturahogar" class="dn"></div>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2 p0 mt40">

        <!-- Mobil -->
        <div class="col-xs-12 hidden-md hidden-lg">
            <div class="h4"></div>
        </div>

        <div class="col-xs-12 col-md-3 cpointer outlinenone" ng-click="Tagging('Hogar','_ini_adminfact_pagatufacturaaqui');pagarfactura()">
            <div class="col-xs-12 h85 bgcorange tac">
                <img src="/Images/Internapagarfactura.png" class="mt12 tac"></img>
                <div class="cwhite fs15 tac mt8">
                    Paga tu factura aquí
                </div>
            </div>
        </div>

        <!-- Mobil -->
        <div class="col-xs-12 hidden-md hidden-lg">
            <div class="h4"></div>
        </div>

        <div class="col-xs-12 col-md-3 cpointer outlinenone">
            <div class="col-xs-12 h85 bcgraymousebold tac" ng-click="Tagging('Hogar','_ini_adminfact_pagoautofactura');domiciliacion()">
                <img src="/Images/pagosautomaticosdefactura.png" class="mt10 tac w33 mt15"></img>
                <div class="cwhite fs15 mt4 tac">
                    Pagos automáticos
                </div>
                <div class="cwhite fs15 mt0 tac">
                    de factura
                </div>
            </div>
        </div>

        <!-- Mobil -->
        <div class="col-xs-12 hidden-md hidden-lg">
            <div class="h4"></div>
        </div>

        <div class="col-xs-12 col-md-3 cpointer outlinenone" ng-click="Tagging('Hogar','_ini_adminfact_enviarporcorreo');enviarfacturaporcorreo()">
            <div class="col-xs-12 h85 bclilalight tac">
                <img src="/Images/Internadomiciliacionfactura.png" class="mt10 tac w47 mt15"></img>
                <div class="cwhite fs15 mt5">
                    Enviar factura por correo
                </div>
            </div>
        </div>

        <!-- Mobil -->
        <div class="col-xs-12 hidden-md hidden-lg">
            <div class="h4"></div>
        </div>

        <div class="col-xs-12 col-md-3 cpointer outlinenone">
            <div class="col-xs-12 h85 bcgraymousebold tac" ng-click="Tagging('Hogar','_ini_adminfact_descargarfactura');descargarfactura()">
                <img src="/Images/internadescargarfactura.png" class="mt13 tac"></img>
                <div class="cwhite fs15 mt5">
                    Descargar factura
                </div>
            </div>
        </div>

        <!-- Separador -->
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>

        <!-- Factura digital mobil -->
        <div class="col-xs-12 hidden-md hidden-lg">
            <a href="#ConvenioElectronicoHogar" class="outlinenone" ng-click="Tagging('Hogar','_ini_adminfact_facturadigital');">
                <div class="col-xs-12 h85 bcgraymouse tac">
                    <img src="/Images/Internaconvenioelectronico.png" class="mt15 tac w35"></img>
                    <div class="cwhite fs15 mt5 fwbbold">
                        Factura digital
                    </div>
                </div>
            </a>
        </div>
        
        <!-- ver contrato mobil -->
        <div class="col-xs-12 hidden-md hidden-lg">
            <div class="h4"></div>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg">
            <div class="col-xs-12 h85 bgcorange tac" ng-click="Tagging('Hogar','_vercontrato');getPDF()">
                <img src="/Images/icon_vercontrato_blanco.png" class="mt15 tac w25"></img>
                <div class="cwhite fs15 mt5">
                    Ver contrato
                </div>
            </div>
        </div>
        
        <!-- Detalle última Facturación mobil -->
        <div class="col-xs-12 hidden-md hidden-lg">
            <div class="h4"></div>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg">
            <div class="col-xs-12 h85 bcgraymousebold tac" ng-click="Tagging('Hogar','_ini_detalledefacturacion');detalledelafacturahogar()">
                <img src="/Images/detalleplan.png" class="mt13 tac w25"></img>
                <div class="cwhite fs15 mt5 fwbbold">
                    Detalle última Facturación
                </div>
            </div>
        </div>

        <!-- Factura digital desktop -->
        <div class="col-md-12 p0 hidden-xs hidden-sm">
            <div class="col-xs-3">
                <a href="#ConvenioElectronicoHogar" class="outlinenone">
                    <div class="col-xs-12 h85 bcgraymousemedium tac">
                        <img src="/Images/Internaconvenioelectronico.png" class="mt10 tac w35"></img>
                        <div class="cwhite fs15 mt5 fwbbold">
                            Factura digital
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <div class="col-xs-12 h85 bgcorange tac outline0" ng-click="Tagging('Hogar','_vercontrato');getPDF()">
                    <img src="/Images/icon_vercontrato_blanco.png" class="mt10 tac w25"></img>
                    <div class="cwhite fs15 mt5 fwbbold">
                        Ver contrato
                    </div>
                </div>
            </div>
            <!--<div class="col-xs-3">
                <div class="col-xs-12 h80 bclilalight tac outline0" ng-click="Tagging('Hogar','');historialdefacturashogar()">
                    <img src="/Images/Detallefacturacion.png" class="mt10 tac w25"></img>
                    <div class="cwhite fs15 mt5">
                        Historial de facturas
                    </div>
                </div>
            </div>-->
            <div class="col-xs-3">
                <div class="col-xs-12 h85 bcgraymousebold tac outline0" ng-click="Tagging('Hogar','');detalledelafacturahogar()">
                    <img src="/Images/detalleplan.png" class="mt10 tac w25"></img>
                    <div class="cwhite fs15 mt5 fwbbold">
                        Detalle última Facturación
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobil -->
        <div class="col-xs-12 hidden-md hidden-lg">
            <div class="h4"></div>
        </div>

    </div>
    <div class="cb"></div>
</div>
<div class="col-xs-12" block-ui="block" ng-if="vista == 2">
    <!-- Formulario que se carga desde JavaScript y ejecuta una nueva pestaña para la domiciliacion de factura -->
    <div id="mainContent" class="dn"></div>

    <div class="col-xs-12 p0 fs40 fwbbold tac cgraybold mt25">
        Historial de pagos
    </div>
    
    <div class="col-xs-12 fs15 tac cgraybold mt1p pb25">
         <div class="col-xs-12 tac cgraybold mt1p">
            Número de Cuenta <span class="corange ml10">{{OpSelec.postpago}}</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2 p0 mt25">
        <div class="col-xs-12 col-sm-6 col-md-4 fs13 mb15" ng-repeat="item in ultimosPagos.UltimosPagos | orderBy : 'FECHA'">
            <div class="col-xs-12 bslbposconsumo br10all p0 pt10 pb10">
                <div class="col-xs-12 cgraybold fs20 fwbbold">
                    {{item.MES | uppercase}}
                </div>
                <div class="col-xs-12 p0">
                    <div class="col-xs-6 corange">Fecha del pago:</div>
                    <div class="col-xs-6 tar">
                        {{item.FECHA}}
                    </div>
                </div>
                <div class="col-xs-12 p0">
                    <div class="col-xs-6 corange">Valor del pago:</div>
                    <div class="col-xs-6 tar">
                        {{item.VALOR | currency:'$':0}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3 mt4p">
            <div class="col-xs-12 p0 bgbluelight cwhite tac pb10 pt10 fwbbold fs16 cpointer outlinenone" ng-click="volveradministraFactura()">
                Volver
            </div>
        </div>
    </div>
</div>
