<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<div class="col-xs-12 col-md-6 p0">
    <!-- Version Desktop -->
    <img preload-image ng-src="/Images/registrar_banner4.png" default-image="/Images/registrar_banner4def.jpg" fallback-image="/Images/registrar_banner4def.jpg" class="resizehight img-responsive hidden-xs hidden-sm"></img>
    <!-- Version Mobil 
    <img src="/Images/registrar_banner4.png" class="img-responsive hidden-md hidden-lg"></img> -->
</div>

<div class="col-xs-12 col-md-6" block-ui="registroblock">
    <div class="col-xs-12 tac corange fs40 mt6p fwbbold">
        Validación de PIN
    </div>
    
    <div class="col-xs-12 tac fs20 fwbbold cgray">
        Como paso final, hemos enviado un PIN de cuatro (4) digitos al {{(ObjSend.LineOfBusiness == 1)? 'correo': 'número'}}
    </div>
    <div class="col-xs-12 tac fs20 fwbbold corange">
        {{(ObjSend.LineOfBusiness == 1)?ObjSend.nombreUsuario:ObjSend.meAccountId}}
    </div>
    
    <div class="col-xs-12 col-md-8 col-md-offset-2 h1 bbcgray"></div>
    
    <div class="col-xs-12 corange fs20 mt8p cgray tac fwbbold">
        Ingresa el PIN
    </div>
        
    <div class="col-xs-12 col-md-8 col-md-offset-2">        
        <div class="col-xs-12 cgray fs18 mt2p">
            <input type="text" class="col-xs-12 fs18 p7 outlinenone" ng-model="$parent.ObjSend.pinwrite" placeholder="Escribe el PIN de seguridad" max-length="4"/>
        </div>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2 mt5p dn-flex flex-jc-center">
        <div
           vc-recaptcha
           theme="'light'"
           key="model.key"
           on-create="setWidgetId(widgetId)"
           on-success="setResponse(response)"
           on-expire="cbExpiration()"
        ></div>
     </div>
      <div class="col-xs-12 tac corange fs13 mt5p">
        <span class="cgraylight cpointer">No he recibido el PIN de seguridad<span>
    </div>
    
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 bclilalight cwhite pt10 pb10 fs14 tac cpointer RobotoBold" ng-click="Tagging('Registro','bt_confirmarelpin_reenviarpin');validateEmailAndPAss()">
        Reenviar PIN     
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4 bgcorange cwhite pt10 pb10 fs18 tac mt5p cpointer RobotoBold" ng-click="validatePIN()">
        Validar y finalizar
    </div>    
</div>