body #inbenta-chatbot-sdk.inbenta .inbenta-bot {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  color: #37474f;
  line-height: 1.4;
  z-index: 999999; }
  body #inbenta-chatbot-sdk.inbenta .inbenta-bot a {
    color: #78909c; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot a:active, body #inbenta-chatbot-sdk.inbenta .inbenta-bot a:focus {
      color: #78909c; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot a:hover {
      color: #78909c;
      text-decoration: underline; }
  body #inbenta-chatbot-sdk.inbenta .inbenta-bot ul, body #inbenta-chatbot-sdk.inbenta .inbenta-bot ol {
    padding-left: 15px;
    list-style: disc; }
  body #inbenta-chatbot-sdk.inbenta .inbenta-bot-button {
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
    background-color: #1976d2;
    color: white;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0.01, 0.6, 0.99) 0s;
    transition: all 0.3s cubic-bezier(0.3, 0.01, 0.6, 0.99) 0s;
    text-transform: none; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot-button:hover:not([disabled]), body #inbenta-chatbot-sdk.inbenta .inbenta-bot-button.clicked {
      background-color: #1565c0;
      color: white;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
              box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      -webkit-transition: all 0.3s cubic-bezier(0.3, 0.01, 0.6, 0.99) 0s;
      transition: all 0.3s cubic-bezier(0.3, 0.01, 0.6, 0.99) 0s; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot-button[disabled] {
      background-color: #1976d2;
      color: white; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot-button[disabled].clicked {
        color: white;
        background-color: #1565c0; }
  body #inbenta-chatbot-sdk.inbenta .inbenta-bot-input {
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
    background-color: white;
    color: #37474f;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 1px solid #eee; }
  body #inbenta-chatbot-sdk.inbenta .inbenta-bot__launcher {
    background-color: #1976d2;
    font-family: Helvetica, arial, sans-serif;
    font-size: 16px;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.08);
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0.01, 0.6, 0.99) 0s;
    transition: all 0.3s cubic-bezier(0.3, 0.01, 0.6, 0.99) 0s;
    padding: 15px;
    z-index: 9999;
    height: auto; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__launcher__image + .inbenta-bot__launcher__text {
      margin-left: 10px; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__launcher__text {
      color: white;
      font-weight: 600; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__launcher:hover {
      background-color: #1565c0;
      color: white;
      border-radius: 0;
      -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.08);
              box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.08);
      -webkit-transition: all 0.3s cubic-bezier(0.3, 0.01, 0.6, 0.99) 0s;
      transition: all 0.3s cubic-bezier(0.3, 0.01, 0.6, 0.99) 0s; }
  body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble {
    border-radius: 0;
    width: 365px; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat__header, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble__header {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-justify-content: flex-end;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      background-color: #f5f5f5;
      -webkit-box-shadow: none;
              box-shadow: none;
      padding: 8px 16px;
      position: relative;
      border: 1px solid #ebebeb;
      min-height: 45px; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .header__title, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .header__title {
      display: none; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .header__actions__icon:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .header__actions__icon:before {
      color: #8697A1; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .body__wrapper, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .body__wrapper {
      background-color: #f5f5f5;
      padding: 16px 16px 0; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .alert-box__title, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .alert-box__title {
      font-family: Helvetica, arial, sans-serif;
      color: #1976d2; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .alert-box__message, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .alert-box__message {
      font-family: Helvetica, arial, sans-serif; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message__content, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message__content {
      font-family: Helvetica, arial, sans-serif;
      font-size: 14px;
      color: #37474f;
      -webkit-box-shadow: none;
              box-shadow: none;
      padding: 8px 14px; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message .extended_message_container, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message .extended_message_container {
      -webkit-box-shadow: none;
              box-shadow: none;
      background-color: #D5E8F8;
      border-radius: 5px; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message .extended_message_container .messages__message__content, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message .extended_message_container .messages__message__content {
        padding: 0; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message .extended_message_container .messages__message__content:after, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message .extended_message_container .messages__message__content:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message .extended_message_container .messages__message__content:after, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message .extended_message_container .messages__message__content:before {
          top: 30%; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message .extended_message_container .messages__message__content .content__text, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message .extended_message_container .messages__message__content .content__text {
          padding: 8px 14px; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message .extended_message_container .messages__message__content .content__label, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message .extended_message_container .messages__message__content .content__label {
          padding: 8px 14px 0; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--sent .messages__message__content, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--sent .messages__message__content {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-align-items: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      background-color: white;
      color: #727272;
      border-radius: 5px;
      border: 1px solid #e0e0e0; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--sent .messages__message__content, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--sent .messages__message__content {
        position: relative;
        background: white;
        border: 1px solid #e0e0e0; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--sent .messages__message__content:after, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--sent .messages__message__content:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--sent .messages__message__content:after, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--sent .messages__message__content:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--sent .messages__message__content:after, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--sent .messages__message__content:after {
        border-color: transparent;
        border-left-color: white;
        border-width: 6px;
        margin-top: -6px; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--sent .messages__message__content:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--sent .messages__message__content:before {
        border-color: transparent;
        border-left-color: #e0e0e0;
        border-width: 7px;
        margin-top: -7px; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--sent .content__label, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--sent .content__label {
      display: block;
      font-weight: 600;
      color: #727272;
      opacity: .5; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--received .messages__message__avatar, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--received .messages__message__avatar {
      display: none; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--received .messages__message__content, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--received .messages__message__content {
      background-color: #D5E8F8;
      color: #37474f;
      border-radius: 5px;
      border: 1px solid #90caf9; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--received .messages__message__content, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--received .messages__message__content {
        position: relative;
        background: #D5E8F8;
        border: 1px solid #90caf9; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--received .messages__message__content:after, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--received .messages__message__content:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--received .messages__message__content:after, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--received .messages__message__content:before {
        right: 100%;
        top: 25%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--received .messages__message__content:after, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--received .messages__message__content:after {
        border-color: transparent;
        border-right-color: #D5E8F8;
        border-width: 6px;
        margin-top: -6px; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--received .messages__message__content:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--received .messages__message__content:before {
        border-color: transparent;
        border-right-color: #90caf9;
        border-width: 7px;
        margin-top: -7px; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--received .messages__message__content .inbenta-bot-rating__content, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--received .messages__message__content .inbenta-bot-rating__content {
        background-color: #D5E8F8; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--received .messages__message__content .inbenta-bot-rating__content__buttons .inbenta-bot-button .inbenta-bot-icon:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--received .messages__message__content .inbenta-bot-rating__content__buttons .inbenta-bot-button .inbenta-bot-icon:before {
          color: #1976d2; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--received .messages__message__content .inbenta-bot-rating__content__buttons .inbenta-bot-button__text, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--received .messages__message__content .inbenta-bot-rating__content__buttons .inbenta-bot-button__text {
          color: #1976d2; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--received .messages__message__content .inbenta-bot-rating__content__buttons .inbenta-bot-button:hover, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--received .messages__message__content .inbenta-bot-rating__content__buttons .inbenta-bot-button:hover {
          background-color: #1565c0;
          border-radius: 0; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--received .messages__message__content .inbenta-bot-rating__content__comment .comment__wrapper__textarea, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--received .messages__message__content .inbenta-bot-rating__content__comment .comment__wrapper__textarea {
          border-radius: 0;
          -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.08);
                  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.08);
          border: 1px solid #f6f6f6; }
          body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--received .messages__message__content .inbenta-bot-rating__content__comment .comment__wrapper__textarea:hover, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--received .messages__message__content .inbenta-bot-rating__content__comment .comment__wrapper__textarea:hover {
            border: 1px solid #f6f6f6; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--received .content__label, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--received .content__label {
      display: block;
      font-weight: 600;
      opacity: .5;
      color: #37474f; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .messages__message--system .messages__message__content, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .messages__message--system .messages__message__content {
      background-color: #eceff1;
      color: #78909c;
      border-radius: 0;
      border: 1px solid #cfd8dc; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__open-sidebubble__phrase, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__open-sidebubble__phrase {
      color: #1976d2;
      font-family: Helvetica, arial, sans-serif;
      font-weight: 600;
      margin: 0; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__open-sidebubble__icon, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__open-sidebubble__icon {
      color: #1976d2;
      margin: 0; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__open-sidebubble:hover, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__open-sidebubble:hover {
      background-color: transparent; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__open-sidebubble:hover .content__open-sidebubble__phrase,
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__open-sidebubble:hover .content__open-sidebubble__icon, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__open-sidebubble:hover .content__open-sidebubble__phrase,
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__open-sidebubble:hover .content__open-sidebubble__icon {
        color: #1565c0; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons {
      margin: 0; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--multiple-choise, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--multiple-choise {
        padding-top: 13px; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--multiple-choise .inbenta-bot-icon--faq-icon, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--multiple-choise .inbenta-bot-icon--faq-icon {
          display: -ms-flexbox;
          display: -webkit-box;
          display: flex;
          -ms-justify-content: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -ms-align-items: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -ms-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
          margin-right: 8px;
          background-color: #8697a3;
          border-radius: 100px;
          padding: 2px; }
          body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--multiple-choise .inbenta-bot-icon--faq-icon:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--multiple-choise .inbenta-bot-icon--faq-icon:before {
            color: #D5E8F8;
            font-weight: 600;
            font-size: 10px; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--multiple-choise .inbenta-bot-button, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--multiple-choise .inbenta-bot-button {
          color: #8697a3;
          font-size: 14px;
          font-weight: 600;
          background-color: transparent;
          -webkit-box-shadow: none;
                  box-shadow: none;
          line-height: 1.3; }
          body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--multiple-choise .inbenta-bot-button:hover:not([disabled]), body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--multiple-choise .inbenta-bot-button.clicked, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--multiple-choise .inbenta-bot-button:hover:not([disabled]), body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--multiple-choise .inbenta-bot-button.clicked {
            background-color: transparent;
            color: #8697a3; }
            body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--multiple-choise .inbenta-bot-button:hover:not([disabled]) .inbenta-bot-icon--faq-icon:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--multiple-choise .inbenta-bot-button.clicked .inbenta-bot-icon--faq-icon:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--multiple-choise .inbenta-bot-button:hover:not([disabled]) .inbenta-bot-icon--faq-icon:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--multiple-choise .inbenta-bot-button.clicked .inbenta-bot-icon--faq-icon:before {
              color: #D5E8F8; }
          body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--multiple-choise .inbenta-bot-button[disabled], body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--multiple-choise .inbenta-bot-button[disabled] {
            background-color: transparent; }
          body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--multiple-choise .inbenta-bot-button.clicked, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--multiple-choise .inbenta-bot-button.clicked {
            color: #8697a3; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--download .inbenta-bot-button, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--download .inbenta-bot-button {
        color: #1976d2;
        background-color: transparent; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--download .inbenta-bot-button:hover:not([disabled]), body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--download .inbenta-bot-button.clicked, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--download .inbenta-bot-button:hover:not([disabled]), body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--download .inbenta-bot-button.clicked {
          background-color: transparent;
          color: #1565c0; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--attached .inbenta-bot-button, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--attached .inbenta-bot-button {
        color: #1976d2; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--attached .inbenta-bot-button:hover:not([disabled]), body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__buttons--attached .inbenta-bot-button.clicked, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--attached .inbenta-bot-button:hover:not([disabled]), body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__buttons--attached .inbenta-bot-button.clicked {
          background-color: transparent;
          color: #1565c0; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__related-contents, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__related-contents {
      border-radius: 0 0 5px 5px;
      background-color: #E8F3FC;
      padding: 8px 14px; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__related-contents .content__related__show, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__related-contents .content__related__show {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-justify-content: flex-start;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        padding: 0;
        font-size: 13px; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__related__show, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__related__show {
      font-family: Helvetica, arial, sans-serif;
      font-size: 14px;
      background-color: #E8F3FC;
      border-radius: 0 0 5px 5px;
      color: #37474f; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__related__show:hover, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__related__show:hover {
        background-color: #E8F3FC;
        color: #37474f; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__related__icon--closed:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__related__icon--closed:before {
      color: #1976d2; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__related__icon--opened:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__related__icon--opened:before {
      color: #1976d2; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__related-buttons, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__related-buttons {
      margin: 0; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__related__button, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__related__button {
      font-family: Helvetica, arial, sans-serif;
      font-size: 14px;
      background-color: transparent;
      color: #8697a3;
      border-radius: 0;
      padding: 4px 0;
      font-weight: 600; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__related__button--active, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__related__button:hover:not([disabled]), body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__related__button:focus, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__related__button--active, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__related__button:hover:not([disabled]), body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__related__button:focus {
        background-color: transparent;
        color: #8697a3; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .content__related__button:first-child, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .content__related__button:first-child {
        margin-top: 10px; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat__footer, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble__footer {
      margin: 0; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__chat-activity .activity__content, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__chat-activity .activity__content {
      background-color: #D5E8F8;
      color: #37474f;
      border-radius: 5px;
      -webkit-box-shadow: none;
              box-shadow: none;
      border: 1px solid #90caf9; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__chat-activity .activity__avatar, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__chat-activity .activity__avatar {
      display: none; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__chat-activity .activity__avatar .inbenta-bot-icon, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__chat-activity .activity__avatar .inbenta-bot-icon {
        display: none; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__chat-activity .activity__avatar .inbenta-bot-icon--avatar:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__chat-activity .activity__avatar .inbenta-bot-icon--avatar:before {
          color: white; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__chat-activity .activity__dot, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__chat-activity .activity__dot {
      background-color: #1976d2; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__chat-activity .activity__text, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__chat-activity .activity__text {
      color: #37474f; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__form, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__form {
      background-color: white;
      -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.08);
              box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 3px 12px 0 rgba(0, 0, 0, 0.08); }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__form__input, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__form__input {
        color: #37474f;
        font-size: 14px;
        height: 46px;
        border: none;
        background-color: white;
        -webkit-box-shadow: none;
                box-shadow: none; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__form__input::-webkit-input-placeholder, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__form__input::-webkit-input-placeholder {
          color: #D4D4D4;
          opacity: 1; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__form__input::-moz-placeholder, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__form__input::-moz-placeholder {
          color: #D4D4D4;
          opacity: 1; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__form__input:-ms-input-placeholder, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__form__input:-ms-input-placeholder {
          color: #D4D4D4;
          opacity: 1; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__form__input:-moz-placeholder, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__form__input:-moz-placeholder {
          color: #D4D4D4;
          opacity: 1; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__form__input[disabled], body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__form__input:hover[disabled], body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__form__input[disabled], body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__form__input:hover[disabled] {
          border: none;
          background-color: white; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__form__button, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__form__button {
        background-color: white;
        height: 46px;
        -webkit-box-shadow: none;
                box-shadow: none; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__form__button .inbenta-bot-icon:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__form__button .inbenta-bot-icon:before {
          color: #9E9E9E; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__form__button:hover:not([disabled]), body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__form__button:hover:not([disabled]) {
          background-color: white;
          color: #333B44;
          -webkit-box-shadow: none;
                  box-shadow: none; }
          body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__form__button:hover:not([disabled]) .inbenta-bot-icon:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__form__button:hover:not([disabled]) .inbenta-bot-icon:before {
            color: #333B44; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__form__button.footer__form__button--attach .inbenta-bot-icon:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__form__button.footer__form__button--attach .inbenta-bot-icon:before {
          color: #37474f; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat .footer__form__button.footer__form__button--attach:hover:not([disabled]) .inbenta-bot-icon:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .footer__form__button.footer__form__button--attach:hover:not([disabled]) .inbenta-bot-icon:before {
          color: #37474f; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat__confirmation, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble__confirmation {
      font-family: Helvetica, arial, sans-serif;
      border-radius: 0; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat__confirmation .confirmation-box, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble__confirmation .confirmation-box {
        border-radius: 0; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat__confirmation .confirmation-box__icon:before, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble__confirmation .confirmation-box__icon:before {
          color: #1976d2; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat__confirmation .confirmation-box__title, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble__confirmation .confirmation-box__title {
          font-family: Helvetica, arial, sans-serif;
          color: #37474f;
          text-align: center;
          font-size: 14px; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat__confirmation .confirmation-box__subtitle, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble__confirmation .confirmation-box__subtitle {
          font-family: Helvetica, arial, sans-serif;
          font-size: 13px; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat__confirmation .confirmation-box__buttons .inbenta-bot-button, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble__confirmation .confirmation-box__buttons .inbenta-bot-button {
          font-family: Helvetica, arial, sans-serif; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat__custom-window, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble__custom-window {
      overflow: auto; }
  body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble__header {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px 16px; }
  body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .header__title {
    font-size: 16px;
    font-family: Helvetica, arial, sans-serif;
    display: block;
    font-weight: 600;
    color: #8697A1; }
  body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble .header__actions__icon:hover:before {
    color: #8697A1; }
  body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble__body {
    background-color: #f5f5f5; }
  body #inbenta-chatbot-sdk.inbenta .inbenta-bot-rating__content {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #F6F6F6;
    min-height: 0;
    padding: 12px 16px; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot-rating__content__phrase {
      color: #8697a3;
      padding: 0 0 10px 0; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot-rating__content__buttons {
      width: 100%; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot-rating__content__buttons .inbenta-bot-button {
        background-color: #1976d2;
        width: 50%; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot-rating__content__buttons .inbenta-bot-button + .inbenta-bot-button {
          margin-left: 8px; }
        body #inbenta-chatbot-sdk.inbenta .inbenta-bot-rating__content__buttons .inbenta-bot-button__text {
          color: white;
          display: block;
          white-space: nowrap; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot-rating__content .inbenta-bot-icon {
      display: none; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot-rating__content .inbenta-bot-icon--rating-yes:before {
        color: white; }
      body #inbenta-chatbot-sdk.inbenta .inbenta-bot-rating__content .inbenta-bot-icon--rating-no:before {
        color: white; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot-rating__content__comment .comment__phrase {
      color: #8697a3;
      margin: 0; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot-rating__content__comment .comment__wrapper {
      padding-bottom: 0; }
    body #inbenta-chatbot-sdk.inbenta .inbenta-bot-rating__content__thanks {
      margin: 5px 0;
      color: #8697a3; }
  body #inbenta-chatbot-sdk.inbenta .inbenta-bot-escalation__form__item {
    margin-bottom: 16px; }
  body #inbenta-chatbot-sdk.inbenta .inbenta-bot-escalation-group--error {
    color: red;
    margin-top: 8px;
    font-size: 12px;
    display: block; }

html.inbenta-bot--msie-11 #inbenta-chatbot-sdk.inbenta.inbenta .inbenta-bot__chat .messages__message__content, html.inbenta-bot--msie-11 #inbenta-chatbot-sdk.inbenta.inbenta .inbenta-bot__bubble .messages__message__content {
  width: auto !important;
  overflow: auto; }
  html.inbenta-bot--msie-11 #inbenta-chatbot-sdk.inbenta.inbenta .inbenta-bot__chat .messages__message__content:after, html.inbenta-bot--msie-11 #inbenta-chatbot-sdk.inbenta.inbenta .inbenta-bot__chat .messages__message__content:before, html.inbenta-bot--msie-11 #inbenta-chatbot-sdk.inbenta.inbenta .inbenta-bot__bubble .messages__message__content:after, html.inbenta-bot--msie-11 #inbenta-chatbot-sdk.inbenta.inbenta .inbenta-bot__bubble .messages__message__content:before {
    display: none; }
  html.inbenta-bot--msie-11 #inbenta-chatbot-sdk.inbenta.inbenta .inbenta-bot__chat .messages__message__content .content__text, html.inbenta-bot--msie-11 #inbenta-chatbot-sdk.inbenta.inbenta .inbenta-bot__bubble .messages__message__content .content__text {
    width: 100%; }

html.inbenta-bot--msie-11 #inbenta-chatbot-sdk.inbenta.inbenta .inbenta-bot__chat .messages__message .extended_message_container .messages__message__content .content__related__show, html.inbenta-bot--msie-11 #inbenta-chatbot-sdk.inbenta.inbenta .inbenta-bot__bubble .messages__message .extended_message_container .messages__message__content .content__related__show {
  font-size: 13px;
  padding: 0; }

html.inbenta-bot--msie-11 #inbenta-chatbot-sdk.inbenta.inbenta .inbenta-bot__chat .content__buttons--multiple-choise .inbenta-bot-icon--faq-icon, html.inbenta-bot--msie-11 #inbenta-chatbot-sdk.inbenta.inbenta .inbenta-bot__bubble .content__buttons--multiple-choise .inbenta-bot-icon--faq-icon {
  padding: 0;
  height: 15px;
  width: 15px; }

@media (max-width: 768px) {
  body #inbenta-chatbot-sdk.inbenta .inbenta-bot__chat, body #inbenta-chatbot-sdk.inbenta .inbenta-bot__bubble {
    border-radius: 0;
    width: 100%; } }
