<!--Registrar equipo-->
<script type="text/ng-template" id="registroEquipImei.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img></div>
    <div class="col-xs-12 mh200"  block-ui="detalleplanprepago">
        <div class="col-xs-12 tac fwbbold fs18 mt3p cgraybold">{{DataDetallePlan.PlanName}}</div>

        <div class="col-xs-12 tac fwbbold fs12 mt3p clila">Tu plan tiene una tarifa por  {{(DataDetallePlan.PlanVoiceUnit == 'Sec')?'segundos':(DataDetallePlan.PlanVoiceUnit == 'Min')?'minutos':''}}</div>
        
        <div class="col-xs-10 col-xs-offset-1 fwbbold fs12 mt3p cgraybold tac">Detalle del plan</div>

        <div class="col-xs-10 col-xs-offset-1 fs18 cgraybold mt4p taj">{{DataDetallePlan.PlanDescription}}</div>
    
        <div class="col-xs-12 p0 mt3p mb3p" ng-if="DataDetallePlan.PlanName != undefined">
            <a href="http://miclaroapp.com.co/archivos/contratoPrepago.pdf" target="_blank" ng-click="Tagging('Prepago','bt_pre_ini_dtarifa_dplan_vercontrato');">
                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
                    <div class="col-xs-12 bgcorange cwhite pt10 pb10 fs18 tac mt8p cpointer mb8p outlinenone">
                        Ver contrato
                    </div>
                </div>
            </a>        
        </div>
        <div class="cb"></div>
    </div>
    <div class="cb"></div>
</script>
<div class="col-xs-12 p0" block-ui="block" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
    <div class="col-xs-12 p0">
        <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25 mb10">
            Registra tu Equipo <span class="cgraydark ml10 fs30">{{OpSelec.prepago}}</span>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 p0 dn-flex hidden-xs">
            <div class="col-xs-12 col-sm-6 tal fs15 p10 pr30 pl30 mb15">
                <div class="col-xs-12 tal fs20 cgraydark p0 RobotoBold mb10">
                    Datos del propietario
                </div>
                <div class="col-xs-12 bslb pt10 pb10 h80p">
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal"> 
                            Nombre(s): 
                        </div>
                        <div class="col-xs-6 tar cblack">
                            {{Us.usuario.nombre}}
                        </div>
                    </div>
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal"> 
                            Apellido(s): 
                        </div>
                        <div class="col-xs-6 tar cblack">
                            {{Us.usuario.apellido}}
                        </div>
                    </div>
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal"> 
                            Tipo de documento: 
                        </div>
                        <div class="col-xs-6 tar cblack">
                            {{tipoDocument(Us.usuario.DocumentType)}}
                        </div>
                    </div>
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal"> 
                            Número de documento: 
                        </div>
                        <div class="col-xs-6 tar corange">
                            {{Us.usuario.DocumentNumber}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 tal fs15 p10 pr30 pl30 mb15">
                <div class="col-xs-12 tal fs20 cgraydark p0 RobotoBold mb10">
                    Datos de este equipo
                </div>
                <div class="col-xs-12 bslb pt10 pb10 h80p">
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal corange"> 
                            IMEI: 
                        </div>
                        <div class="col-xs-6 tar cblack">
                            {{ImeiData.imei}}
                        </div>
                    </div>
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal"> 
                            Marca: 
                        </div>
                        <div class="col-xs-6 tar cblack">
                            {{ImeiData.marca}}
                        </div>
                    </div>
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal "> 
                            Modelo: 
                        </div>
                        <div class="col-xs-6 tar cblack">
                            {{ImeiData.modelo}}
                        </div>
                    </div>
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal"> 
                            Año: 
                        </div>
                        <div class="col-xs-6 tar corange">
                            {{ImeiData.descripcion}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 p0 hidden-sm hidden-md hidden-lg">
            <div class="col-xs-12 col-sm-6 tal fs15 p10 pr30 pl30 mb15">
                <div class="col-xs-12 tal fs20 cgraydark p0 RobotoBold mb10">
                    Datos del propietario
                </div>
                <div class="col-xs-12 bslb pt10 pb10 h80p">
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal"> 
                            Nombre(s): 
                        </div>
                        <div class="col-xs-6 tar cblack">
                            {{Us.usuario.nombre}}
                        </div>
                    </div>
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal"> 
                            Apellido(s): 
                        </div>
                        <div class="col-xs-6 tar cblack">
                            {{Us.usuario.apellido}}
                        </div>
                    </div>
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal"> 
                            Tipo de documento: 
                        </div>
                        <div class="col-xs-6 tar cblack">
                            {{tipoDocument(Us.usuario.DocumentType)}}
                        </div>
                    </div>
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal"> 
                            Número de documento: 
                        </div>
                        <div class="col-xs-6 tar corange">
                            {{Us.usuario.DocumentNumber}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 tal fs15 p10 pr30 pl30 mb15">
                <div class="col-xs-12 tal fs20 cgraydark p0 RobotoBold mb10">
                    Datos de este equipo
                </div>
                <div class="col-xs-12 bslb pt10 pb10 h80p">
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal corange"> 
                            IMEI: 
                        </div>
                        <div class="col-xs-6 tar cblack">
                            {{ImeiData.imei}}
                        </div>
                    </div>
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal"> 
                            Marca: 
                        </div>
                        <div class="col-xs-6 tar cblack">
                            {{ImeiData.marca}}
                        </div>
                    </div>
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal "> 
                            Modelo: 
                        </div>
                        <div class="col-xs-6 tar cblack">
                            {{ImeiData.modelo}}
                        </div>
                    </div>
                    <div class="col-xs-12 p0 mb5">
                        <div class="col-xs-6 tal"> 
                            Año: 
                        </div>
                        <div class="col-xs-6 tar corange">
                            {{ImeiData.descripcion}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 mt35">
            <div class="col-xs-12 mb10">
                <div class="col-xs-1 col-md-2 p0">
                    <img src="/Images/icon_-1.png" class="img-responsive mw30">
                </div>
                <div class="col-xs-10 col-md-10 col-xs-offset-1 col-sm-offset-0  p0">
                    Declaro bajo la gravedad de juramento ser el único responsable del uso y propiedad del terminal el cual he adquirido legalmente y no tengo conocimiento que hay sido adulterado su serial.
                </div>
                <div class="col-xs-12 tac fwbbold fs15 cblackopacity mt3p p0">
                    <div class="col-xs-10 tdul tar fs12 cgraylight">
                        Aceptar declaración
                    </div>
                    <md-switch ng-model="CambioNumero.declaracion" ng-change="validateTerminos(1)"></md-switch>
                
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-1 col-md-2 p0"> 
                    <img src="/Images/icon_-2.png" class="img-responsive mw30"></img>
                </div>
                <div class="col-xs-10 col-md-10 col-xs-offset-1 col-sm-offset-0 p0">
                    Otorgo consentimiento previo, expreso e informado a Comcel S.A. para tratamiento de sus datos conforme a lo descrito en nuestra <a class="clila">Politica de tratamiento de datos personales.</a>
                </div>
                <div class="col-xs-12 tac fwbbold fs15 cblackopacity mt3p p0">
                    <div class="col-xs-10 tdul fs12 tdn tar cgraylight">
                        Acepto la polica de tretamientos de datos.
                    </div>
                    <md-switch ng-model="CambioNumero.politicas" ng-change="validateTerminos(2)"></md-switch>
                </div>
                
            </div>
            <div class="col-xs-12 mt3p mb5p p0">
                <div class="col-xs-12 pr0 bcgraydark cwhite tac pt10 pb10 fs16 tac mb10" ng-if="CambioNumero.mostrar == 0" ng-click="">
                    Registrar este Equipo
                </div>
                <div class="col-xs-12 pr0 bgcorange cwhite tac pt10 pb10 fs16 tac cpointer mb10" ng-if="CambioNumero.mostrar == 1" ng-click="Tagging('Prepago','bt_pre_ini_gestiequi_regisequi');registroEquipImei()">
                    Registrar este Equipo
                </div>
                <div class="col-xs-12 p0 bclilalight cwhite tac pb10 pt10 fwbbold fs16 cpointer outlinenone" ng-click="pregestionaEquip()">
                    Volver
                </div>  
            </div>
        </div>
    </div>
</div>