<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<!-- popup se debe confima que activaste familia y amigos -->
<script type="text/ng-template" id="activarFyaconfirmar.html">
    <div class="col-xs-12"  block-ui="activarFyaconfirmar">
        <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img></div>
        <div>
            <div class="col-xs-12 tac mt3p"><img src="/Images/logo-mi-claro-popup.jpg"></div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 mt20 fs16 tac cblack">
                Tu solicitud de activación del servicio Familia y Amigos ha sido creada exitosamente.
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 mt20 fs16 tac cblack">
                Recuerda que tu servicio será activado después de 24 horas hábiles.
            </div>
            <div class="col-xs-12">
                <div class="col-12-6">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 bgcorange cwhite pt10 pb10 fs18 tac cpointer mb8p mt40" ng-click="ok()" role="button" tabindex="0">
                        Cerrar
                    </div>
                </div>
            </div> 
        </div>  
        <div class="cb"></div>
    </div>
    <div class="cb"></div>
</script>
<!-- popup confima que deseas activar familia y amigos -->
<script type="text/ng-template" id="popupactivarcos.html">
    <div class="col-xs-12"  block-ui="popupactivarcop">
        <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img></div>
        <div class="col-xs-12">
            <div class="col-xs-12 tac mt3p"><img src="/Images/logo-mi-claro-popup.jpg"></div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 mt20 fs16 tac cblack">
                Este servicio tiene un costo de activación de <span class="fwbbold fs17">{{precioactivafym}}</span> Ten encuenta que la activación del servicio se realizará en un plazo máximo de 24 horas hábiles.
            </div>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 mt20 fs16 tac cblack">
                ¿Estás seguro de activar este servicio? 
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <div class="col-xs-12 bcgraydark cwhite pt10 pb10 fs18 tac cpointer mb8p mt40" ng-click="Tagging('Datos_compartidos_familia_amigos','bt_pos_ini_familiaamigos_activar_cancepr');cancel()" role="button" tabindex="0">
                        Cancelar
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-12 bgcorange cwhite pt10 pb10 fs18 tac cpointer mb8p mt40" ng-click="Tagging('Postpago','bt_pos_ini_familiaamigos_activar_confipr');ok(infofym)" role="button" tabindex="0">
                        Activar
                    </div>
                </div>
            </div> 
        </div>  
        <div class="cb"></div>
    </div>
    <div class="cb"></div>
</script>
<div class="col-xs-12 p0" block-ui="activarfya">
    <div class="col-xs-12 p0bil">
        <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
            Familia y Amigos
        </div>
        <div class="col-xs-12 p0 mt25">
            <div class="col-xs-6 fs14 fwbbold cgraybold mt3 tar">
                Número de cuenta:
            </div>
            <div class="col-xs-6 fs15 fwbbold cred tal">
                {{OpSelec.postpago}}
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 p0 mt35 mtbil10">
            <!-- Content Left -->
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 p0">
                <div class="col-xs-12 p0">
                    <div class="col-xs-1 tac p0 tac"><img src="/Images/Point.png"></div>
                    <div class="col-xs-11">
                        Conforma tu comunidad de máximo 5 líneas (incluyendo la tuya) las cuáles pueden ser:
                    </div>
                </div>
                <div class="col-xs-12 p0 mt15">
                    <div class="col-xs-1 tac p0 tac"><img src="/Images/Point.png"></div>
                    <div class="col-xs-11">
                        Hasta cuatro (4) líneas móviles de Claro u otro operador y hasta una (1) línea fija Claro.
                    </div>
                </div>
                <div class="col-xs-12 p0 mt15">
                    <div class="col-xs-1 tac p0 tac"><img src="/Images/Point.png"></div>
                    <div class="col-xs-11">
                        Las líneas Claro inscritas en la comunidad podrán hablar entre ellas ilimitadamente.
                    </div>
                </div>
                 <div class="col-xs-12 p0 mt15">
                    <div class="col-xs-1 tac p0 tac"><img src="/Images/Point.png"></div>
                    <div class="col-xs-11">
                        Cuando el servicio quede activo, podrás administrar tu comunidad agregando, editando o eliminando números de acuerdo a tu necesidad.
                    </div>
                </div>
                <div class="col-xs-12 p0 mt15">
                    <div class="col-xs-1 tac p0 tac"><img src="/Images/Point.png"></div>
                    <div class="col-xs-11">
                        Aplican condiciones y restricciones del servicio. 
                    </div>
                </div>
            </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-4 col-sm-offset-4 mb5p mtbil22 p0 mtbil5 mt20">
            <div class="col-xs-12 p0 mt3p">
                <div class="col-xs-12 pr0 bgcorange cwhite tac pt15 pb15 fs16 tac cpointer outlinenone p0" ng-click="Tagging('Postpago','bt_pos_ini_familiaamigos_activar');popupcostoactivar(opcionAcDefya)">
                    Activar
                </div>
            </div>
        </div>
    </div>
</div>