<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<script type="text/ng-template" id="modalConfirmPhone.html">
    <div class="col-xs-12" >
        <div class="col-xs-12 tac fwbbold fs22 mt3p cgraybold"><img src="/Images/ico_InformacionEnLinea.png"></img></div>
        <div class="col-xs-12 tac fwbbold fs22 mt3p cblack">Tus datos cambiarán de la siguiente forma:</div>

        <div class="col-xs-12 tac fs20 mt2p cblack fwbbold">{{phonePrefix}} {{phoneNumber}}</div>

        <div class="col-xs-12 mt6p" >
            <div class="col-xs-4 col-xs-offset-2 bcgraydark cwhite pt10 pb10 fs18 tac cpointer mb8p" ng-click="cancel()">
                Cancelar
            </div>
            <div class="col-xs-4 col-xs-offset-1 bgcorange cwhite pt10 pb10 fs18 tac cpointer mb8p" ng-click="ok()">
                Confirmar
            </div>
        </div>
        <div class="cb"></div>
    </div>
    <div class="cb"></div>
</script>
<actdatos1 ng-if="module == 1"></actdatos1>
<actdatos2 ng-if="module == 2"></actdatos2>
<actdatos3 ng-if="module == 3"></actdatos3>
<actdatos4 ng-if="module == 4"></actdatos4>
<actdatos5 ng-if="module == 5"></actdatos5>
<actdatos6 ng-if="module == 6"></actdatos6>
<actdatos7 ng-if="module == 7"></actdatos7>
<actdatos8 ng-if="module == 8"></actdatos8>