<div class="col-xs-6 col-xs-offset-3 p0" ng-repeat="item in ListElegidos" ng-if="item.show == 1">
    <div class="col-xs-12 p0">
        <div class="col-xs-1 p0 tac h65 bgcorange pt15 fs18 fwbbold cwhite bc1graylight">
            {{$index + 1}}
        </div>
        <div class="col-xs-11 p0 h65 pt15 bc1graylight">
<!--            <div class="col-xs-5 brgray">
                <div class="col-xs-12">
                    <div class="fwbbold fs14 cgraylight">Contacto:</div>
                    <div class="fwbbold fs14">{{item.Name}}</div>
                </div>
            </div>-->
            <div class="col-xs-10">
                <div class="col-xs-12">
                    <div class="fwbbold fs14 cgraylight">Número:</div>
                    <div class="fwbbold fs14">{{item.PhoneNumber}}</div>
                </div>
            </div>
            <div class="col-xs-2 tac">
                <img src="/Images/IconDelete.png" class="cpointer outlinenone" ng-click="delete(item)"></img>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-xs-offset-3 p0" ng-repeat= "item in ListElegidos" ng-if="item.add == 1">
    <div class="col-xs-12 p0">
        <div class="col-xs-1 p0 tac h65 bcgraymouse pt15 fs18 fwbbold cwhite bc1graylight">
            {{item.indice}}
        </div>
        <div class="col-xs-11 p0 h65 pt20 bc1graylight">
            <div class="col-xs-10">
                <div class="col-xs-12 cgraymouse fwbbold fs18">
                    Agregar nuevo elegido
                </div>
            </div>
            <div class="col-xs-2 tac">
                <img src="/Images/Iconadd.png" class="cpointer outlinenone" ng-click="open()"></img>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-xs-offset-3 p0" ng-repeat= "item in ListElegidos" ng-if="item.blank == 1">
    <div class="col-xs-12 p0">
        <div class="col-xs-1 p0 tac h65 bcgraymouse pt15 fs18 fwbbold cwhite bc1graylight">
            {{item.indice}}
        </div>
    </div>
</div>