<script>
    var URLactual = window.location;
    if (URLactual.pathname.indexOf('.') != -1) {
        window.location.href = "/";
    }
</script>
<script type="text/ng-template" id="hgdtp.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img>
    </div>
    <div class="col-xs-12 tac fwbbold fs21 cgraybold">Términos y condiciones</div>
    <div class="col-xs-12 max-h360 taj fs15 mt2p mb4p cgraybold ofy overflowxh">
        Condiciones Legales de Acceso al Portal Personal Mi Claro Móvil<br /> POR FAVOR LEER ESTOS TÉRMINOS Y CONDICIONES CUIDADOSAMENTE. AL ACCEDER A MI CLARO, EL USUARIO Y CUALQUIER TERCERO QUE EN VIRTUD DE CUALQUIER TIPO DE RELACIÓN CON EL USUARIO
        TENGA O PUEDA TENER ACCESO A MI CLARO MÓVIL, CONVIENE EN OBLIGARSE SEGÚN LOS TÉRMINOS Y CONDICIONES QUE APARECEN A CONTINUACIÓN.<br /> Con el acceso a Mi Claro Móvil, EL USUARIO, de manera serena, madura y completamente voluntaria, entiende y
        comprende y por lo mismo ACEPTA en forma libre y espontánea que al acceder a Mi Claro Móvil y hacer uso de la clave de acceso asignada, para realizar cambios de plan, cambios de número móvil, consulta de saldos, consultar minutos disponibles,
        consultar factura, tipos de equipos disponibles, valores de equipos , entre otros, los presentes términos y condiciones de uso de Mi Claro Móvil, así como de todas aquellas modificaciones, adiciones o supresiones que en cualquier momento unilateralmente
        realicen Comcel S.A. y Telmex Colombia S.A. En caso de que no esté de acuerdo con todos los Términos de Uso, no utilice ni se registre en el Portal Personal Mi Claro Móvil. Por favor, revise todos los Términos de Uso con cuidado antes de aceptarlos.<br
        /> Aceptación – El solo acceso a Mi Claro Móvil o la utilización de la clave autorizada, es una inequívoca aceptación de EL USUARIO de todas las condiciones de uso de Mi Claro Móvil y de los reglamentos aplicables.<br /> EL USUARIO acepta la totalidad
        de las cláusulas, estipulaciones, términos y condiciones de uso de Mi Claro Móvil y acepta que los mismos son aplicables a este y a cualquier tercero, que en virtud de cualquier tipo de relación con EL USUARIO o como consecuencia de una instrucción
        de este, tenga o pueda tener acceso a Mi Claro Móvil. Por lo anterior, EL USUARIO es responsable de informar a cualquier tercero que autorice para acceder a Mi Claro Móvil, los términos y condiciones para el uso de Mi Claro Móvil. Adicionalmente,
        EL USUARIO asume la plena responsabilidad frente a Comcel S.A. y Telmex Colombia S.A. y frente a terceros por todas las órdenes y transacciones que reciba Comcel S.A. y Telmex Colombia S.A. y que sean validadas con su usuario y clave a través
        de Mi Claro Móvil, las cuales presuponen su consentimiento y autorización. EL USUARIO, se obliga a notificar por escrito o por el medio más expedito a Comcel S.A. y Telmex Colombia S.A. cualquiera de las siguientes situaciones: (i) Pérdida o robo
        de su clave (ii) Uso no autorizado de su clave; (iii) Uso no autorizado de Mi Claro Móvil o de algún tipo de información contenida en el mismo. (iv) Alguna falla, error o hecho inusual al recibir algún mensaje relacionado con una orden iniciada
        por EL USUARIO a través de Mi Claro Móvil, o que haya sido recibida y/o ejecutada a través del mismo. No obstante lo anterior, y aun mediando notificación oportuna, EL USUARIO será responsable por la confidencialidad y el uso de la clave. Adicionalmente
        se obliga a:<br /> Propiedad de la información – Comcel S.A. y Telmex Colombia S.A. sus emblemas y los demás signos distintivos contenidos en MI CLARO, son marcas comerciales y/o de servicios registradas. Los derechos de autor sobre las páginas,
        las imágenes y en general todo contenido obrante en MI CLARO MOVIL, son propiedad de Comcel S.A. y/o Telmex Colombia S.A salvo indicación expresa en contrario. Por lo anterior, EL USUARIO no podrá reproducir, retransmitir, distribuir, vender,
        publicar, divulgar, circular o comercializar, y en general a disponer por cualquier medio de la información aquí contenida, total o parcialmente, salvo que exista autorización previa, expresa y escrita de Comcel S.A. y/o Telmex Colombia S.A. Información
        personal: La información que el Usuario ingrese a Mi Claro Móvil estará protegida por la contraseña que establezca al momento de realizar el registro. El usuario es responsable por mantener la confidencialidad de su contraseña. El usuario acepta
        expresamente equiparar jurídicamente el uso de las claves a su firma, de forma que las transacciones, compras, pagos, accesos y/o consultas realizadas se reputarán en todo caso como válidas, y se entenderá que han sido cursadas por el Usuario,
        produciendo plenos efectos jurídicos. Tratamiento de Información. El tratamiento de la información se realiza en los términos de la Ley 1581 de 2012, los cuales autorizan a Comcel S.A. y Telmex S.A. de manera libre y expresa para llevar a cabo
        el tratamiento de sus datos personales en los términos detallados en la política de tratamiento disponible para consulta en el siguiente link: http://www.claro.com.co/portal/recursos/co/comcel/Politicas_Seguridad_Inf_Claro.pdf Con la aceptación
        de los presentes términos y condiciones, autoriza libre, voluntaria y expresamente a Comcel S.A. y Telmex Colombia S.A. para hacer tratamiento de los mismos con propósito comercial y/o publicitario. Esta información será conservada por Comcel
        S.A. y Telmex Colombia S.A. con la debida diligencia. Los derechos sobre el particular se encuentran previstos en el artículo 8 de la Ley 1581 de 2012; en especial: a) Conocer, actualizar y rectificar sus datos personales frente a los Responsables
        del Tratamiento o Encargados del Tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo Tratamiento esté expresamente prohibido o no haya sido
        autorizado; b) Solicitar prueba de la autorización otorgada al Responsable del Tratamiento salvo cuando expresamente se exceptúe como requisito para el Tratamiento, de conformidad con lo previsto en el artículo 10 de la mencionada ley; c) Ser
        informado por el Responsable del Tratamiento o el Encargado del Tratamiento, previa solicitud, respecto del uso que le ha dado a sus datos personales; d) Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto
        en la referida ley y las demás normas que la modifiquen, adicionen o complementen; e) Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se respeten los principios, derechos y garantías constitucionales y legales.
        La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el Tratamiento el Responsable o Encargado han incurrido en conductas contrarias a la ley y a la Constitución. Sin perjuicio del derecho
        que asiste a los titulares de la información de solicitar revocatoria o supresión de la información, con los siguientes datos: nombre y apellidos, domicilio a efectos de notificaciones, petición en que se concreta la solicitud, fecha, firma de
        la persona interesada, éstas medidas no procederán cuando exista una obligación legal o contractual que imponga al usuario el deber de permanecer en nuestras bases de datos; f) Acceder en forma gratuita a sus datos personales que hayan sido objeto
        de Tratamiento. Los responsables de tratamiento de la información son Comcel S.A., con NIT 800153993-7, dirección principal Calle 90 No. 14-37 y teléfono 6169797 en Bogotá y Telmex Colombia S.A. con NIT 830.053.800-4, dirección principal Carrera
        7 No. 63-44 y teléfono 6500300 en Bogotá Limitación de responsabilidad – Cualquier daño o perjuicio que sufra EL USUARIO por el uso de Mi Claro Móvil, cualquier pérdida que llegare a sufrir por tener acceso o por ejecutar operaciones a través
        del mismo, es responsabilidad exclusiva de EL USUARIO y por lo tanto EL USUARIO declara que mantendrá indemne y libre de toda responsabilidad a Comcel S.A. y a Telmex Colombia S.A. Igualmente, EL USUARIO releva de cualquier responsabilidad a Comcel
        S.A. y/o Telmex Colombia S.A. por los daños que llegare a sufrir el hardware y el software, o cualquier aparato electrónico a través del cual EL USUARIO acceda a Mi Claro Móvil. En ningún caso Comcel S.A. y/o Telmex Colombia S.A. será responsables
        por daños ni por las pérdidas o gastos que pudiesen surgir por conectarse a Mi Claro Móvil o por el uso que se haga del mismo, o por la incapacidad para hacer uso del mismo por parte de cualquier persona, o por cualquier falla en la ejecución,
        error, omisión, interrupción, defecto, demora en la transmisión de la información o en la información transmitida o en la conexión, o por la existencia de un virus en la computadora o por fallas del sistema o en la línea, o por su suspensión o
        terminación, aun cuando Comcel S.A. y Telmex Colombia S.A. o sus representantes se encuentren notificados sobre la posibilidad de tales daños, pérdidas o gastos. Los enlaces a Mi Claro Móvil corren totalmente por cuenta de EL USUARIO. Transmisión
        de datos – EL USUARIO acepta que los datos transmitidos a través de Internet o a través de otro tipo de comunicación en red, o cualquier otra vía electrónica, pueden ser accedidos o modificados por personas no autorizadas cuando se establezca
        la comunicación con Comcel S.A. y/o Telmex Colombia S.A., salvo aquellos protegidos por la ley, por lo que libera a Comcel S.A. y Telmex Colombia S.A. de cualquier tipo de responsabilidad en este sentido. Modificaciones y actualizaciones a las
        condiciones de acceso y uso de Mi Claro Móvil – Comcel S.A. y Telmex Colombia S.A. se reservan el derecho de actualizar las condiciones de uso de Mi Claro Móvil en cualquier momento y EL USUARIO acepta desde ahora que cualquier actualización que
        Comcel S.A. y Telmex Colombia S.A. desee introducir en las condiciones de uso lo obligan a partir del momento en el cual se dé a conocer a EL USUARIO la(s) modificación(es) por cualquier medio idóneo incluyendo el Internet o cualquier sistema
        electrónico de transmisión de datos. Sanciones – EL USUARIO acepta que cualquier incumplimiento de las obligaciones contenidas en los términos y condiciones Mi Claro Móvil, facultan a Comcel S.A. y Telmex Colombia S.A. para el inicio de las acciones
        legales a que haya lugar.
    </div>
    <div class="cb"></div>
</script>

<script type="text/ng-template" id="compraExitosa.html">
    <div block-ui="compraExitosa">
        </div>
        <div class="col-xs-12 mt25 tac fwbbold fs21 cgraybold tac">
            <img src="/Images/Miclaro.png"></img>
        </div>
        <div class="col-xs-12 tac fs15 mt4p cgraybold">Se ha agregado correctamente los paquetes</div>
        <div class="col-xs-12 tac fs15 cgraybold">seleccionados a tu Cuenta Hogar</div>
        <div class="col-xs-12 fs22 mb15 fwbbold cgraybold mt10 tal tac">
            {{OpSelec.hogar}}
        </div>
        <div class="col-xs-12 tac cgraybold mb5">
            <div class="col-xs-12 tac">
                Paquetes
            </div>
        </div>
        <div class="col-xs-12 tac cgraybold mb2 fs22" ng-repeat="item in pauqtesAdq" ng-if="item.agregado == true">
            <div class="col-xs-12 tac fwbbold">
                {{item.tipoTelevision}}
            </div>
        </div>
        <div class="col-xs-12 tac fs15 mt25 cgraybold">Apartir de ahora podras sincronizar los</div>
        <div class="col-xs-12 tac fs15 cgraybold">canales de este paquete a través del</div>
        <div class="col-xs-12 tac fs15 cgraybold">decodificador HD Claro que seleccionaste.</div>
        <div class="col-xs-12 p0">
            <div class="col-xs-12 mt5p p0">
                <div class="col-xs-12 p0 bgcorange cwhite tac pt20 pb20 fs20 tac cpointer" ng-click="ok()">
                    Aceptar
                </div>
            </div>
        </div>
    </div>
    <div class="cb"></div>
</script>
<div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
    Confirmar deco
</div>

<div class="col-xs-12 tac fs20 mt25 cgraybold">Elige los decodificadores en los cuales</div>
<div class="col-xs-12 tac fs20 cgraybold">se les activarán los paquetes</div>
<div class="col-xs-12 tac fs20 cgraybold">seleccionados.</div>

<div class="col-xs-12 tac fs18 p0 mt25">
    <div class="col-xs-12 tac fs20 cgraybold">El serial del decodificador lo encuentras</div>
    <div class="col-xs-12 tac fs20 cgraybold">en el sticker que tiene un código de</div>
    <div class="col-xs-12 tac fs20 cgraybold">barras, lo identificas como "Serial" o</div>
    <div class="col-xs-12 tac fs20 cgraybold">con las iniciales "S/N"</div>
</div>

<div class="col-xs-12 col-md-8 col-md-offset-2 mt25 fs17 p0">
    <div class="col-xs-12 cblack mb15 p0">
        <div class="col-xs-12 col-md-6 col-md-offset-3 cgray fs18 mt1p">
            <div class="row">
                <div class="col-xs-6 p0" ng-repeat="deco in delleHd.inventarios">
                    <div class="col-xs-12 tac">
                        <img src="/Images/icon_deco.png"></img>
                    </div>
                    <div class="col-xs-12 mt10 fwbbold cgraybold fs14 tac">
                        {{deco.serial}}
                    </div>
                    <div class="col-xs-7 col-xs-offset-3 cgraymouse mb15">
                        <md-switch class="md-warn" ng-init="dataDeco.deco[$index].active=false;dataDeco.deco[$index].serial=deco.serial" ng-model="dataDeco.deco[$index].active" ng-change="changeSwitch(dataDeco.deco[$index])"></md-switch>
                    </div>
                </div>
                <div class="col-xs-6 p0">
                    <div class="col-xs-12 tac">
                        <img src="/Images/icon_deco.png"></img>
                    </div>
                    <div class="col-xs-12 mt10 fwbbold cgraybold fs14 tac">
                        Todos
                    </div>
                    <div class="col-xs-7 col-xs-offset-3 cgraymouse mb15">
                        <md-switch class="md-warn" ng-init="dataDeco.decoAll=false" ng-model="dataDeco.decoAll" ng-change="selectAll()"></md-switch>
                    </div>
                </div>
            </div>
           <!-- <select name="Departamento" class="col-xs-12 fs18 p7 hidden-xs bnfocusounder" ng-options="delleHd.inventarios.indexOf(deco) as deco.serial for deco in delleHd.inventarios" ng-model="dataDeco.deco"></select>
            <div class="col-xs-12 p0 bc1graylight pb10 pt10 hidden-sm hidden-md hidden-lg bnfocusounder">
                <md-select class="col-xs-12 bn m0 bcwhite fs18 outlinenone" aria-label="Follow" ng-model="dataDeco.deco">
                    <md-option value="{{$index}}" ></md-option>
                </md-select>
            </div>-->
        </div>
    </div>
</div>

<div class="col-xs-12 tac fs18 p0 mt25">
    <div class="col-xs-12 tac fs18 cgraybold">¡Si no visualizas todos tus decos,</div>
    <div class="col-xs-12 tac fs18 cgraybold">ingresa a nuestro chat "Adquirir</div>
    <div class="col-xs-12 tac fs18 cgraybold">producto" y con gusto te ayudaremos!</div>
</div>
<div class="col-xs-12 p0 col-sm-4 col-sm-offset-4">
    <div class="col-xs-12 bbcgray mt10 mb10"></div>
    <div class="col-xs-6 tac fs16 cgraybold">Costo total de paquetes</div>
    <div class="col-xs-6 tac fs20 fwbbold corange">{{fnreplace(paquetesaddTotal)}}</div>
</div>

<div class="col-xs-12 col-md-6 col-md-offset-4 mt25 p0">
    <div class="col-xs-8 cblack mb15 fs15">
        Acepto los <span class="tdul cblack bnfocusounder" ng-click="termino()">Términos y condiciones</span> de la suscripción de servicios y paquetes claro Hogar
    </div>
    <div class="col-xs-2 cgraymouse mb15">
        <md-switch ng-model="dataDeco.Terminos"></md-switch>
    </div>
</div>

<div class="col-xs-12 col-md-8 col-md-offset-2 mt25 p0bil hidden-xs">
    <div class="col-xs-12 col-sm-6 cgraymouse mb15 p0bil">
        <div class="col-xs-12 p0 btn-primary cwhite tac pb10 pt10 fwbbold fs16 cpointer outlinenone" ng-click="popupPaquetesSlt()">
            Cancelar
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 cgraymouse mb15 p0bil">
        <div class="col-xs-12 p0 bcgraymousebold cwhite tac pb10 pt10 fwbbold fs16 cpointer outlinenone" ng-if="dataDeco.Terminos == false">
            <img src="/Images/icon_mediodepago.png" class="mr25"></img> Finalizar compra
        </div>
        <div class="col-xs-12 p0 bgcorange cwhite tac pb10 pt10 fwbbold fs16 cpointer outlinenone" ng-click="finalizarCompra()" ng-if="dataDeco.Terminos == true">
            <img src="/Images/icon_mediodepago.png" class="mr25"></img> Finalizar compra
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-8 col-md-offset-2 mt25 p0bil hidden-sm hidden-md hidden-lg">
    <div class="col-xs-12 col-sm-6 cgraymouse p0bil">
        <div class="col-xs-12 p0 btn-primary cwhite tac pb10 pt10 fwbbold fs16 cpointer outlinenone" ng-click="popupPaquetesSlt()">
            Volver
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 cgraymouse p0bil">
        <div class="col-xs-12 p0 bcgraymousebold cwhite tac pb10 pt10 fwbbold fs16 cpointer outlinenone" ng-if="dataDeco.Terminos == false">
            <img src="/Images/icon_mediodepago.png" class="mr25"></img> Finalizar compra
        </div>
        <div class="col-xs-12 p0 bgcorange cwhite tac pb15 pt10 fwbbold fs16 cpointer outlinenone" ng-click="finalizarCompra()" ng-if="dataDeco.Terminos == true">
            <img src="/Images/icon_mediodepago.png" class="mr25"></img> Finalizar compra
        </div>
    </div>
</div>
