<script>
var URLactual = window.location;
if (URLactual.pathname.indexOf('.') != -1) {
    window.location.href = "/";
}
</script>
<div class="col-xs-12 col-md-6 p0">
    <!-- Version Desktop -->
    <img preload-image ng-src="/Images/registrar_banner3.png" default-image="/Images/registrar_banner3def.jpg" fallback-image="/Images/registrar_banner3def.jpg" class="resizehight img-responsive hidden-xs hidden-sm"></img>
    <!-- Version Mobil 
    <img src="/Images/registrar_banner3.png" class="img-responsive hidden-md hidden-lg"></img> -->
</div>
<div class="col-xs-12 col-md-6" block-ui="registroblock">
    <div class="col-xs-12 tac corange fs30 mt6p fwbbold">
        Confirmación datos personales
    </div>
    <div class="col-xs-12 tac fs18 fwbbold cgray hidden-xs hidden-sm">
        Por favor comfirma los siguientes datos del formulario para continuar con la validacion de tu identidad
    </div>
    <div class="col-xs-12 tac fs14 fwbbold cgray hidden-md hidden-lg">
        Por favor comfirma los siguientes datos del formulario para continuar con la validacion de tu identidad
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2 h1 bbcgray"></div>
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="row">
                <div class="col-xs-12 col-md-6 corange fs20 mt6p cgray fwbbold">
                    Tipo de documento
                    <input type="text" class="col-xs-12 fs18 p7 outlinenone" ng-model="informacion.DocumentType" ng-disabled="true" />
                </div>
                <div class="col-xs-12 col-md-6 corange fs20 mt6p cgray fwbbold">
                    Número de documento
                    <input type="text" class="col-xs-12 fs18 p7 outlinenone" ng-model="informacion.DocumentNumber" ng-disabled="true" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 corange fs20 mt6p cgray fwbbold">
                    Nombre Completo
                    <input type="text" class="col-xs-12 fs18 p7 outlinenone" ng-model="informacion.Nombre" placeholder="Escribe tu nombre" />
                </div>
                <div class="col-xs-12 col-md-6 corange fs20 mt6p cgray fwbbold">
                    Primer apellido
                    <input type="text" class="col-xs-12 fs18 p7 outlinenone" ng-model="informacion.primerApellido" placeholder="Escribe tu primer apellido" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 corange fs20 mt6p cgray fwbbold">
                    Segundo apellido
                    <input type="text" class="col-xs-12 fs18 p7 outlinenone" ng-model="informacion.segundoApellido" placeholder="Escribe tu segundo apellido" />
                </div>
                <div class="col-xs-12 col-md-6 corange fs20 mt6p cgray fwbbold">
                    Fecha de expedición de tu documento
                    <md-datepicker md-hide-icons="calendar" ng-model="informacion.fecha" md-placeholder="DD/MM/AAAA"></md-datepicker>
                </div>
            </div>
            <!-- Version mobil -->
            <div class="col-xs-12 hidden-md hidden-lg cgray fs15 mt3p mb3p tac">
                <div class="cpointer col-xs-7 tar" ng-click="terminoscondiciones();"><span class="tdul cgraylight cpointer">Acepto las Políticas de Tratamiento de datos personales<span></div>
                <div class="col-xs-5">
                    <md-switch ng-model="TerminosEvi.Terminos"></md-switch>
                </div>
            </div>
            <!-- Version desktop -->
            <div class="col-xs-12 col-md-12 hidden-xs hidden-sm cgray fs15 mt3p tac">
                <div class="cpointer col-xs-7 tar" ng-click="terminoscondiciones();"><span class="tdul cgraylight cpointer">Acepto las Políticas de Tratamiento de datos personales<span></div>
                <div class="col-xs-5">
                    <md-switch ng-model="TerminosEvi.Terminos" ></md-switch>
                </div>
            </div>
            <div class="row">
                <div ng-click="cambiodepaso(31)" class="col-xs-12  col-md-4 col-md-offset-1 bgcorange cwhite pt10 pb10 fs18 tac mt3p mb3p cpointer hidden-xs hidden-sm RobotoBold">
                    Volver
                </div>  
                <div class="col-xs-12 col-md-4 col-md-offset-2 bgcorange cwhite pt10 pb10 fs18 tac mt3p mb3p cpointer RobotoBold" ng-click="enviarDatos()">
                    Enviar datos
                </div>
                <div ng-click="cambiodepaso(31)" class="col-xs-12  col-md-4 col-md-offset-1 bgcorange cwhite pt10 pb10 fs18 mb3p tac mt3p cpointer hidden-md hidden-lg RobotoBold">
                    Volver
                </div>  
            </div>
        </div>
    </div>
</div>