<div class="col-xs-12 p0" block-ui="blockPaquetesRecurrentes">
    <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
        Administra tus paquetes recurrentes
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 mt10">
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                <md-tab label="Paquetes" class="fs24">
                    <md-content class="md-padding bcwhite" block-ui="blockRecurrentes">
                        <div class="row" ng-show="showpaquetes">
                            <div class="col-xs-12 p0 tac cgraybold mt10 fs16">
                                Aquí podrás cambiar el día de la recurrencia o desactivarla.<br> Los cambios realizados se verán reflejados en el siguiente mes.
                            </div>
                            <div ng-repeat="item in paquetes">
                                <div class="col-xs-10 col-xs-offset-1 p0 tac cgraydark fwbbold mt10p mb10p fs30">
                                    <div class="col-xs-3 tal">
                                        <img src="/Images/Paquetestodoincluido.png" alt="" class="ma img-responsive">
                                    </div>
                                    <div class="col-xs-9 tal">
                                        Detalle del paquete
                                    </div>
                                </div>
                                <div class="col-xs-12 p0 tac cgraydark mt10 fs18">
                                    <div class="col-xs-8 tal fwbbold fs24">
                                        Tipo de frecuencia
                                    </div>
                                    <div class="col-xs-4 fwbbold tar">
                                        {{item.DESC_COMPRA}}
                                    </div>
                                </div>
                                <div class="col-xs-12 p0 tac cgraydark mt10 fs24">
                                    <div class="col-xs-8 tal fs24">
                                        Costo del paquete
                                    </div>
                                    <div class="col-xs-4 corange fwbbold tar">
                                        {{item.VALOR_COMPRA}}
                                    </div>
                                </div>
                                <div class="col-xs-12 p0 tac cgraydark  mt10 fs20">
                                    <div class="col-xs-9 tal cgraydark fwbbold fs20">
                                        Día del mes de la recurrencia {{$parent.$index}}
                                    </div>
                                    <div class="col-xs-3 corange fwbbold tar">
                                        <md-select style="border:rgb(245, 52, 2) 2px solid;border-radius:7px" class="mt0" aria-label ng-init="DiaRecurrenciaPaquetes = selected[$index]" ng-model="DiaRecurrenciaPaquetes">
                                            <md-option  ng-repeat="num in numeros" ng-value="{{num}}">
                                                {{num}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 tac pr0">
                                    <div class="col-xs-6  p0 tac cgraydark mt10 fs20" ng-click="recurrencia('A',item,DiaRecurrenciaPaquetes,'P')" >
                                        <div class="col-xs-11 p0 bgcorange cwhite pt10 pb10 fs14 tac mt3p cpointer RobotoBold">
                                            Actualizar
                                        </div>
                                    </div>
                                    <div class="col-xs-6 p0 tac cgraydark mt10 fs20" ng-click="recurrencia('I',item,DiaRecurrenciaPaquetes,'P')">
                                        <div class="col-xs-11 p0 bgcorange cwhite pt10 pb10 fs14 tac mt3p cpointer RobotoBold">
                                            Desactivar
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Recargas">
                    <md-content class="md-padding bcwhite" block-ui="blockRecurrentes">
                        <div class="row" ng-show="showrecargas">
                            <div class="col-xs-12 p0 tac cgraybold mt10 fs16">
                                Aquí podrás cambiar el día de la recurrencia o desactivarla.<br> Los cambios realizados se verán reflejados en el siguiente mes.
                            </div>
                            <div ng-repeat="item in recargas">
                                <div class="col-xs-10 col-xs-offset-1 p0 tac cgraydark fwbbold mt10p mb10p fs30">
                                    <div class="col-xs-3 tal">
                                        <img src="/Images/icon_Recargas.png" alt="" class="ma img-responsive">
                                    </div>
                                    <div class="col-xs-9 tal">
                                        Recargas
                                    </div>
                                </div>
                                <div class="col-xs-12 p0 tac cgraydark mt10 fs18">
                                    <div class="col-xs-8 tal cgraydark fwbbold fs24">
                                        Tipo de frecuencia
                                    </div>
                                    <div class="col-xs-4 cgraydark tar">
                                        {{item.DESC_COMPRA}}
                                    </div>
                                </div>
                                <div class="col-xs-12 p0 tac cgraydark mt10 fs24">
                                    <div class="col-xs-8 tal cgraydark fwbbold fs24">
                                        Costo de la recarga
                                    </div>
                                    <div class="col-xs-4 corange fwbbold tar">
                                        {{item.VALOR_COMPRA}}
                                    </div>
                                </div>
                                <div class="col-xs-12 p0 tac cgraydark mt10 fs20">
                                    <div class="col-xs-9 tal cgraydark fwbbold fs20">
                                        Día del mes de la recurrencia
                                    </div>
                                    <div class="col-xs-3 corange fwbbold tar">
                                        <md-select style="border:rgb(245, 52, 2) 2px solid;border-radius:7px" class="mt0" aria-label ng-init="DiaRecurrenciaRecargas = select[$index]" ng-model="DiaRecurrenciaRecargas">
                                            <md-option  ng-repeat="num in numeros" ng-value="{{num}}">
                                                {{num}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </div>
                                <div class="col-xs-12 tac pr0">
                                    <div class="col-xs-6  p0 tac cgraydark mt10 fs20" ng-click="recurrencia('A',item,DiaRecurrenciaRecargas,'R')">
                                        <div class="col-xs-11 p0 bgcorange cwhite pt10 pb10 fs14 tac mt3p cpointer RobotoBold">
                                            Actualizar
                                        </div>
                                    </div>
                                    <div class="col-xs-6 p0 tac cgraydark mt10 fs20" ng-click="recurrencia('I',item,DiaRecurrenciaRecargas,'R')">
                                        <div class="col-xs-11 p0 bgcorange cwhite pt10 pb10 fs14 tac mt3p cpointer RobotoBold">
                                            Desactivar
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
