<!DOCTYPE html>
<html lang="" ng-app="miclarologin">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mi Claro Registro</title>
    <meta name="Description" content="Ingresa a Mi Claro App con tu correo electrónico y contraseña. Puedes mantener tu sesión iniciada y disfrutar de todos los beneficios que creamos para ti.">

    <link rel="shortcut icon" type="image/png" href="/Images/favicon.png" />
    <link rel="stylesheet" href="/Plugins/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/Plugins/Blockui/angular-block-ui.min.css">
    <link rel="stylesheet" href="/Plugins/ngSweetAlert-master/sweetalert.css">
    <link rel="stylesheet" href="/Plugins/Material/angular-material.min.css">
    <link rel="stylesheet" href="/Css/miclaro.css">

    <!-- jquery -->
    <script src="/Plugins/Jquery/jquery.min.js"></script>

    <!-- Seguridad -->
    <script src="/Plugins/Seguridad/rollups/aes.js"></script>

    <!-- Angular -->
    <script src="/Plugins/Angular/angular.min.js"></script>
    <script src="/Plugins/recaptcha/angular-recaptcha.min.js"></script>
    <script src="/Plugins/AngularTouch/angular-touch.min.js"></script>
    <script src="/Plugins/AngularSanitize/angular-sanitize.js"></script>
    <script src="/Plugins/AngularAnimate/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!--ngSweetAlert-->
    <script type="text/javascript" src="/Plugins/ngSweetAlert-master/sweetalertbasic.min.js"></script>
    <script type="text/javascript" src="/Plugins/ngSweetAlert-master/SweetAlert.min.js"></script>

    <!-- angular-block-ui -->
    <script src="/Plugins/Blockui/angular-block-ui.min.js"></script>

    <!-- Easy image -->
    <script src="/Plugins/preload/preoladimage.js"></script>

    <!-- Boostrap UI-->
    <script src="/Plugins/Bootstrap/ui-bootstrap-2.5.0.min.js"></script>
    <script src="/Plugins/Bootstrap/ui-bootstrap-custom-tpls-2.5.0.min.js"></script>
     <!-- Moments -->
    <script src="/Plugins/moments/moment.min.js"></script>
    <script src="/Plugins/moments/traducciones.js"></script>
    <script src="/Plugins/moments/angular-momentjs.js"></script>
    <!-- Util -->
    <script src="/Plugins/Util/Util.js"></script>

    <!-- Aplicacion -->
    <script type="text/javascript" src="/Aplicacion/login.js"></script>

    <!-- Controlador -->
    <script type="text/javascript" src="/Controladores/finalizarRegistro.js"></script>

    <!-- Fabricas -->
    <script type="text/javascript" src="/Fabrica/Servicios.js"></script>
    <script type="text/javascript" src="/Fabrica/Serviciosm3.js"></script>
    <script type="text/javascript" src="/Fabrica/Textos.js"></script>

    <!-- Directivas -->
    <script type="text/javascript" src="/Directivas/Directiva.js"></script>
    <style>
        .col-lg-1,
        .col-lg-10,
        .col-lg-11,
        .col-lg-12,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-5,
        .col-lg-6,
        .col-lg-7,
        .col-lg-8,
        .col-lg-9,
        .col-md-1,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-sm-1,
        .col-sm-10,
        .col-sm-11,
        .col-sm-12,
        .col-sm-2,
        .col-sm-3,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-9,
        .col-xs-1,
        .col-xs-10,
        .col-xs-11,
        .col-xs-12,
        .col-xs-2,
        .col-xs-3,
        .col-xs-4,
        .col-xs-5,
        .col-xs-6,
        .col-xs-7,
        .col-xs-8,
        .col-xs-9 {
            min-height: 0px !important;
        }
    </style>
        <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NHH4MJT');
        

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
      Date();a=s.createElement(o),
    
    
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    
    
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-102829616-4', 'auto');
    
      ga('send', 'pageview');

    </script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHH4MJT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
</head>
<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<body ng-controller="finalizarRegistro" class="p0 m0 maincauto" ng-click="sessiontimeRe()" ng-cloak>
    <!-- Modal Terminos y condiciones -->
    <script type="text/ng-template" id="terminoscondiciones.html">
        <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img>
        </div>
        <div class="col-xs-12 tac fwbbold fs21 mt2p cgraybold">Condiciones Legales de Acceso a Mi Claro </div>
        <div class="col-xs-12 max-h360 tac fs15 mt2p mb4p cgraybold ofy overflowxh">

            Bienvenido a nuestros términos y condiciones de uso. Recomendamos que LEA ESTOS TÉRMINOS Y CONDICIONES CUIDADOSAMENTE. AL INCRIBIRSE, ACCEDER O MI CLARO WEB/APP, USTED, ACEPTA OBLIGARSE SEGÚN LOS TÉRMINOS Y CONDICIONES QUE APARECEN A CONTINUACIÓN. En
            caso de que no esté de acuerdo con todos los Términos de Uso, no utilice ni se registre en el Portal Personal Mi Claro. Mi Claro es el canal de auto atención en línea donde podrá realizar las principales consultas y operaciones de servicios
            móviles y fijos de Claro entre ellos consultar el estado de cuenta y ciclo de facturación, conocer el detalle de llamadas de los servicio móviles y fijos, consultar consumos y saldos de minutos, Internet, SMS y MMS, revisar la información
            de tu plan actual y servicios contratados entre otros Aceptación – El registrarse en Mi Claro, así como el acceso y la utilización de la clave autorizada, es su inequívoca aceptación de todas las condiciones de uso de Mi Claro Móvil y de los
            reglamentos aplicables. Al registrarse en Mi Claro el sistema genera automáticamente una contraseña la cual será enviada al celular ó cuenta de correo electrónico con el cual USTED se esté registrando y posteriormente debe realizar el cambio
            de clave de acuerdo con las condiciones de una contraseña fuerte, atendiendo a patrones y requisitos mínimos de seguridad. USTED acepta que su contraseña protege su cuenta de usuario, y usted es el único responsable de que esta sea segura
            y secreta. USTED acepta que es responsable por la confidencialidad y el uso de la clave, en ese sentido, asume la plena responsabilidad frente a Comcel S.A. y Telmex Colombia S.A. y frente a terceros por todas las órdenes y transacciones que
            reciba Comcel S.A. y Telmex Colombia S.A. y que sean validadas con su usuario y clave a través de Mi Claro, las cuales presumen su consentimiento y autorización. USTED se obliga a notificar de inmediato a Comcel S.A. y Telmex Colombia S.A.
            cualquiera de las siguientes situaciones: (i) Pérdida o robo de su clave (ii) Uso no autorizado de su clave; (iii) Uso no autorizado de Mi Claro o de algún tipo de información contenida en el mismo. (iv) Alguna falla, error o hecho inusual
            al recibir algún mensaje relacionado con una orden iniciada por EL USUARIO a través de Mi Claro, o que haya sido recibida y/o ejecutada a través del mismo. En todo caso, si se presenta alguna de las situaciones mencionadas cambie su contraseña.
            Información personal: La información que el Usuario ingrese a Mi Claro estará protegida por la contraseña que establezca al momento de realizar el registro. USTED es responsable por mantener la confidencialidad de su contraseña. USTED acepta
            expresamente equiparar jurídicamente el uso de las claves a su firma, de forma que las transacciones, compras, pagos, accesos y/o consultas realizadas se reputarán en todo caso como válidas, y se entenderá que han sido cursadas por el Usuario,
            produciendo plenos efectos jurídicos. Usted no debe revelar informaciones de su cuenta a nadie, ni utilizar la cuenta de otra persona. El uso de la aplicación genera consumo de datos móviles o internet, USTED acepta que para usar la aplicación
            debe proporcionar su propio acceso a Internet (ya sea a través de un PC o terminal), pagando todos los cargos por servicio eventualmente cobrados por terceros en relación a tal acceso. Tratamiento de datos personales. El tratamiento de la
            información se realiza en los términos de la Ley 1581 de 2012, los cuales autorizan a Comcel S.A. y Telmex S.A. Con la aceptación de los presentes términos y condiciones, autoriza libre, voluntaria y expresamente a Comcel S.A. y Telmex Colombia
            S.A. para hacer tratamiento de los datos personales con propósitos comerciales y/o publicitarios, así como todas aquellas finalidades necesarias para la prestación de los servicio de Comcel S.A. y Telmex Colombia S.A. y para el uso efectivo
            de Mi Claro. Esta información será conservada por Comcel S.A. y Telmex Colombia S.A. con la debida diligencia. Los derechos sobre el particular se encuentran previstos en el artículo 8 de la Ley 1581 de 2012; en especial: a) Conocer, actualizar
            y rectificar sus datos personales frente a los Responsables del Tratamiento o Encargados del Tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos
            cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado; b) Solicitar prueba de la autorización otorgada al Responsable del Tratamiento salvo cuando expresamente se exceptúe como requisito para el Tratamiento, de conformidad
            con lo previsto en el artículo 10 de la mencionada ley; c) Ser informado por el Responsable del Tratamiento o el Encargado del Tratamiento, previa solicitud, respecto del uso que le ha dado a sus datos personales; d) Presentar ante la Superintendencia
            de Industria y Comercio quejas por infracciones a lo dispuesto en la referida ley y las demás normas que la modifiquen, adicionen o complementen; e) Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se
            respeten los principios, derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el Tratamiento el Responsable o Encargado han incurrido
            en conductas contrarias a la ley y a la Constitución. Sin perjuicio del derecho que asiste a los titulares de la información de solicitar revocatoria o supresión de la información, con los siguientes datos: nombre y apellidos, domicilio a
            efectos de notificaciones, petición en que se concreta la solicitud, fecha, firma de la persona interesada, éstas medidas no procederán cuando exista una obligación legal o contractual que imponga al usuario el deber de permanecer en nuestras
            bases de datos; f) Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento. Los responsables de tratamiento de los datos personales son Comcel S.A., con NIT 800153993-7, dirección principal Carrera 68 A # 24B-10
            y teléfono 6169797 en Bogotá y Telmex Colombia S.A. con NIT 830.053.800-4, dirección principal Carrera 68 A # 24B-10 y teléfono 6500300 en Bogotá. La política de tratamiento de datos de Comcel S.A. y Telmex Colombia S.A., está disponible para
            consulta en el link: http://www.claro.com.co/portal/recursos/co/comcel/Politicas_Seguridad_Inf_Claro.pdf Propiedad de la información – Comcel S.A. y Telmex Colombia S.A. sus emblemas y los demás signos distintivos contenidos en MI CLARO, son
            marcas comerciales y/o de servicios registradas. Los derechos de autor sobre las páginas, las imágenes y en general todo contenido obrante en MI CLARO, son propiedad de Comcel S.A. y/o Telmex Colombia S.A salvo indicación expresa en contrario.
            Por lo anterior, EL USUARIO no podrá reproducir, retransmitir, distribuir, vender, publicar, divulgar, circular o comercializar, y en general a disponer por cualquier medio de la información aquí contenida, total o parcialmente, salvo que
            exista autorización previa, expresa y escrita de Comcel S.A. y/o Telmex Colombia S.A. Limitación de responsabilidad – Cualquier daño o perjuicio que USTED sufra por el uso de Mi Claro, cualquier pérdida que llegare a sufrir por tener acceso
            o por ejecutar operaciones a través del mismo, es SU responsabilidad exclusiva y por lo tanto USTED declara que mantendrá indemne y libre de toda responsabilidad a Comcel S.A. y a Telmex Colombia S.A. Igualmente, USTED releva de cualquier
            responsabilidad a Comcel S.A. y/o Telmex Colombia S.A. por los daños que llegare a sufrir el hardware y el software, o cualquier aparato electrónico a través del cual acceda a Mi Claro. En ningún caso Comcel S.A. y/o Telmex Colombia S.A. serán
            responsables por daños, pérdidas o gastos que pudiesen surgir por conectarse a Mi Claro o por el uso que se haga del mismo, o por la incapacidad para hacer uso del mismo por parte de cualquier persona, o por cualquier falla en la ejecución,
            error, omisión, interrupción, defecto, demora en la transmisión de la información o en la información transmitida o en la conexión, o por la existencia de un virus en la computadora o por fallas del sistema o en la línea, o por su suspensión
            o terminación, aun cuando Comcel S.A. y Telmex Colombia S.A. o sus representantes se encuentren notificados sobre la posibilidad de tales daños, pérdidas o gastos. Los enlaces a Mi Claro Móvil corren totalmente por cuenta de EL USUARIO. Modificaciones,
            actualizaciones y supresiones a los términos y condiciones de acceso y uso de Mi Claro. - Comcel S.A. y Telmex Colombia S.A. se reservan el derecho de actualizar las condiciones de uso de Mi Claro en cualquier momento a su entera discreción
            y USTED acepta desde ahora que cualquier actualización que Comcel S.A. y Telmex Colombia S.A. desee introducir en las condiciones de uso lo obligan a partir del momento en el cual se le dén a conocer la(s) modificación(es) por cualquier medio
            idóneo incluyendo el Internet o cualquier sistema electrónico de transmisión de datos. USTED acepta que el uso continuo de los servicios una vez implementada la actualización constituirá su aceptación de los cambios. Sanciones – USTED acepta
            que cualquier incumplimiento de las obligaciones contenidas en los términos y condiciones Mi Claro, facultan a Comcel S.A. y Telmex Colombia S.A. para el inicio de las acciones legales a que haya lugar.


        </div>
        <div class="cb"></div>
    </script>
    
    <!-- Modal Terminos y condiciones legalizacion -->
    <script type="text/ng-template" id="terminoscondicioneslegalizaciones.html">
        <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img>
        </div>
        <div class="col-xs-12 tac fwbbold fs21 mt2p cgraybold">Condiciones Legales de Acceso a Mi Claro </div>
        <div class="col-xs-12 max-h360 tac fs15 mt2p mb4p cgraybold ofy overflowxh">

            Bienvenido a nuestros términos y condiciones de uso. Recomendamos que LEA ESTOS TÉRMINOS Y CONDICIONES CUIDADOSAMENTE. AL INCRIBIRSE, ACCEDER O MI CLARO WEB/APP, USTED, ACEPTA OBLIGARSE SEGÚN LOS TÉRMINOS Y CONDICIONES QUE APARECEN A CONTINUACIÓN. En
            caso de que no esté de acuerdo con todos los Términos de Uso, no utilice ni se registre en el Portal Personal Mi Claro. Mi Claro es el canal de auto atención en línea donde podrá realizar las principales consultas y operaciones de servicios
            móviles y fijos de Claro entre ellos consultar el estado de cuenta y ciclo de facturación, conocer el detalle de llamadas de los servicio móviles y fijos, consultar consumos y saldos de minutos, Internet, SMS y MMS, revisar la información
            de tu plan actual y servicios contratados entre otros Aceptación – El registrarse en Mi Claro, así como el acceso y la utilización de la clave autorizada, es su inequívoca aceptación de todas las condiciones de uso de Mi Claro Móvil y de los
            reglamentos aplicables. Al registrarse en Mi Claro el sistema genera automáticamente una contraseña la cual será enviada al celular ó cuenta de correo electrónico con el cual USTED se esté registrando y posteriormente debe realizar el cambio
            de clave de acuerdo con las condiciones de una contraseña fuerte, atendiendo a patrones y requisitos mínimos de seguridad. USTED acepta que su contraseña protege su cuenta de usuario, y usted es el único responsable de que esta sea segura
            y secreta. USTED acepta que es responsable por la confidencialidad y el uso de la clave, en ese sentido, asume la plena responsabilidad frente a Comcel S.A. y Telmex Colombia S.A. y frente a terceros por todas las órdenes y transacciones que
            reciba Comcel S.A. y Telmex Colombia S.A. y que sean validadas con su usuario y clave a través de Mi Claro, las cuales presumen su consentimiento y autorización. USTED se obliga a notificar de inmediato a Comcel S.A. y Telmex Colombia S.A.
            cualquiera de las siguientes situaciones: (i) Pérdida o robo de su clave (ii) Uso no autorizado de su clave; (iii) Uso no autorizado de Mi Claro o de algún tipo de información contenida en el mismo. (iv) Alguna falla, error o hecho inusual
            al recibir algún mensaje relacionado con una orden iniciada por EL USUARIO a través de Mi Claro, o que haya sido recibida y/o ejecutada a través del mismo. En todo caso, si se presenta alguna de las situaciones mencionadas cambie su contraseña.
            Información personal: La información que el Usuario ingrese a Mi Claro estará protegida por la contraseña que establezca al momento de realizar el registro. USTED es responsable por mantener la confidencialidad de su contraseña. USTED acepta
            expresamente equiparar jurídicamente el uso de las claves a su firma, de forma que las transacciones, compras, pagos, accesos y/o consultas realizadas se reputarán en todo caso como válidas, y se entenderá que han sido cursadas por el Usuario,
            produciendo plenos efectos jurídicos. Usted no debe revelar informaciones de su cuenta a nadie, ni utilizar la cuenta de otra persona. El uso de la aplicación genera consumo de datos móviles o internet, USTED acepta que para usar la aplicación
            debe proporcionar su propio acceso a Internet (ya sea a través de un PC o terminal), pagando todos los cargos por servicio eventualmente cobrados por terceros en relación a tal acceso. Tratamiento de datos personales. El tratamiento de la
            información se realiza en los términos de la Ley 1581 de 2012, los cuales autorizan a Comcel S.A. y Telmex S.A. Con la aceptación de los presentes términos y condiciones, autoriza libre, voluntaria y expresamente a Comcel S.A. y Telmex Colombia
            S.A. para hacer tratamiento de los datos personales con propósitos comerciales y/o publicitarios, así como todas aquellas finalidades necesarias para la prestación de los servicio de Comcel S.A. y Telmex Colombia S.A. y para el uso efectivo
            de Mi Claro. Esta información será conservada por Comcel S.A. y Telmex Colombia S.A. con la debida diligencia. Los derechos sobre el particular se encuentran previstos en el artículo 8 de la Ley 1581 de 2012; en especial: a) Conocer, actualizar
            y rectificar sus datos personales frente a los Responsables del Tratamiento o Encargados del Tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos
            cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado; b) Solicitar prueba de la autorización otorgada al Responsable del Tratamiento salvo cuando expresamente se exceptúe como requisito para el Tratamiento, de conformidad
            con lo previsto en el artículo 10 de la mencionada ley; c) Ser informado por el Responsable del Tratamiento o el Encargado del Tratamiento, previa solicitud, respecto del uso que le ha dado a sus datos personales; d) Presentar ante la Superintendencia
            de Industria y Comercio quejas por infracciones a lo dispuesto en la referida ley y las demás normas que la modifiquen, adicionen o complementen; e) Revocar la autorización y/o solicitar la supresión del dato cuando en el Tratamiento no se
            respeten los principios, derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el Tratamiento el Responsable o Encargado han incurrido
            en conductas contrarias a la ley y a la Constitución. Sin perjuicio del derecho que asiste a los titulares de la información de solicitar revocatoria o supresión de la información, con los siguientes datos: nombre y apellidos, domicilio a
            efectos de notificaciones, petición en que se concreta la solicitud, fecha, firma de la persona interesada, éstas medidas no procederán cuando exista una obligación legal o contractual que imponga al usuario el deber de permanecer en nuestras
            bases de datos; f) Acceder en forma gratuita a sus datos personales que hayan sido objeto de Tratamiento. Los responsables de tratamiento de los datos personales son Comcel S.A., con NIT 800153993-7, dirección principal Carrera 68 A # 24B-10
            y teléfono 6169797 en Bogotá y Telmex Colombia S.A. con NIT 830.053.800-4, dirección principal Carrera 68 A # 24B-10 y teléfono 6500300 en Bogotá. La política de tratamiento de datos de Comcel S.A. y Telmex Colombia S.A., está disponible para
            consulta en el link: http://www.claro.com.co/portal/recursos/co/comcel/Politicas_Seguridad_Inf_Claro.pdf Propiedad de la información – Comcel S.A. y Telmex Colombia S.A. sus emblemas y los demás signos distintivos contenidos en MI CLARO, son
            marcas comerciales y/o de servicios registradas. Los derechos de autor sobre las páginas, las imágenes y en general todo contenido obrante en MI CLARO, son propiedad de Comcel S.A. y/o Telmex Colombia S.A salvo indicación expresa en contrario.
            Por lo anterior, EL USUARIO no podrá reproducir, retransmitir, distribuir, vender, publicar, divulgar, circular o comercializar, y en general a disponer por cualquier medio de la información aquí contenida, total o parcialmente, salvo que
            exista autorización previa, expresa y escrita de Comcel S.A. y/o Telmex Colombia S.A. Limitación de responsabilidad – Cualquier daño o perjuicio que USTED sufra por el uso de Mi Claro, cualquier pérdida que llegare a sufrir por tener acceso
            o por ejecutar operaciones a través del mismo, es SU responsabilidad exclusiva y por lo tanto USTED declara que mantendrá indemne y libre de toda responsabilidad a Comcel S.A. y a Telmex Colombia S.A. Igualmente, USTED releva de cualquier
            responsabilidad a Comcel S.A. y/o Telmex Colombia S.A. por los daños que llegare a sufrir el hardware y el software, o cualquier aparato electrónico a través del cual acceda a Mi Claro. En ningún caso Comcel S.A. y/o Telmex Colombia S.A. serán
            responsables por daños, pérdidas o gastos que pudiesen surgir por conectarse a Mi Claro o por el uso que se haga del mismo, o por la incapacidad para hacer uso del mismo por parte de cualquier persona, o por cualquier falla en la ejecución,
            error, omisión, interrupción, defecto, demora en la transmisión de la información o en la información transmitida o en la conexión, o por la existencia de un virus en la computadora o por fallas del sistema o en la línea, o por su suspensión
            o terminación, aun cuando Comcel S.A. y Telmex Colombia S.A. o sus representantes se encuentren notificados sobre la posibilidad de tales daños, pérdidas o gastos. Los enlaces a Mi Claro Móvil corren totalmente por cuenta de EL USUARIO. Modificaciones,
            actualizaciones y supresiones a los términos y condiciones de acceso y uso de Mi Claro. - Comcel S.A. y Telmex Colombia S.A. se reservan el derecho de actualizar las condiciones de uso de Mi Claro en cualquier momento a su entera discreción
            y USTED acepta desde ahora que cualquier actualización que Comcel S.A. y Telmex Colombia S.A. desee introducir en las condiciones de uso lo obligan a partir del momento en el cual se le dén a conocer la(s) modificación(es) por cualquier medio
            idóneo incluyendo el Internet o cualquier sistema electrónico de transmisión de datos. USTED acepta que el uso continuo de los servicios una vez implementada la actualización constituirá su aceptación de los cambios. Sanciones – USTED acepta
            que cualquier incumplimiento de las obligaciones contenidas en los términos y condiciones Mi Claro, facultan a Comcel S.A. y Telmex Colombia S.A. para el inicio de las acciones legales a que haya lugar.


        </div>
        <div class="cb"></div>
    </script>

    <!-- Modal -->
    <script type="text/ng-template" id="felicitacionesregistro.html">
        <div class="col-xs-12 tac mt6p">
            <img src="/Images/Felcitaciones.png" class="ma"></img>
        </div>

        <div class="col-xs-12 tac fwbbold fs15 mt4p cgraybold">Ya puedes empezar a disfrutar de los</div>
        <div class="col-xs-12 tac fwbbold fs15 mt1p cgraybold">beneficios que trae Mi Claro</div>

        <div class="col-xs-4 col-xs-offset-4 bgcorange cwhite pt10 pb10 fs18 tac mt8p cpointer mb8p" ng-click="Tagging('Registro','bt_registroexitoso_finalizar');Continuar()">
            Iniciar ahora
        </div>
        <div class="cb"></div>
    </script>

    <div class="col-xs-12 p0" id="contentmaster">
        <div class="col-xs-12 p0">
            <!-- Header -->
            <a href="/">
                <div class="col-xs-12 bgcorange h80 cwhite fs30 pt15 tac">
                    <img src="/Images/icon_nuevomiclaroblanco4.png" alt="Logo_marca_mi_claro_app">
                </div>
            </a>
        </div>

        <!--.page-content-->
        <div class="col-xs-12 p0 mh0">
            <paso-unofr ng-if="vista == 1"></paso-unofr>
            <paso-dosfr ng-if="vista == 2"></paso-dosfr>
        </div>
        <!--.page-content-->

        <div id="footer" class="col-xs-12 bgcorange h50 tac cwhite">
            <div class="pt7 fs15">Mi Claro</div>
            <div class="fs10"><script type="text/javascript">document.write(new Date().getFullYear());</script></div>
        </div>
    </div>

</body>

</html>