<div class="col-xs-12 p0" block-ui="elegidoshogartemplate">
    <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
        Administra tus Elegidos Fijo – Móvil
    </div>
    <div class="col-xs-12 fs15 tac cgraybold mt1p mt26">
        Número de cuenta <span class="corange ml10">{{OpSelec.hogar}}</span>
    </div>
    <!--<div class="col-xs-12 col-sm-6 col-sm-offset-3 cgraybold p0 mt26">
        
    </div>-->
    <!-- Mobil -->
    <!--<div class="col-xs-12 hidden-md hidden-lg">
        <div class="h4"></div>
    </div>-->        
    
    <!-- Desktop -->
    <div class="col-md-12 hidden-xs hidden-sm tac fs15 fwbbold clilalight mt2p">
        <div class="col-xs-12 col-md-4 col-md-offset-4">Disfruta gratis los primeros 5 minutos de cada llamada realizada desde tu número fijo Claro hacia los móviles elegidos Claro</div>
    </div>
    
    <!-- Mobil -->
    <div class="col-xs-12 hidden-md hidden-lg tac fs15 fwbbold clilalight mt2p">
        <div>Disfruta gratis los primeros 5 minutos de cada llamada realizada desde tu número fijo Claro hacia los móviles elegidos Claro</div>
    </div>    
    
    <!-- Mobil -->
    <div class="col-xs-12 hidden-md hidden-lg">
        <div class="h4"></div>
    </div>    
    
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 cgraylight fs15 mt2p p0">
        <div class="col-xs-12">
            <div class="col-xs-1 col-md-1 col-md-offset-1 tac"><img src="/Images/Point.png"></img></div><div class="col-xs-10">Inscribe hasta 4 Líneas Móviles Claro (Prepago - Postpago). </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-1 col-md-1 col-md-offset-1 tac"><img src="/Images/Point.png"></img></div><div class="col-xs-10">Quedarán activos a partir de las 00:00 horas del día siguiente a la inscripción.</div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-1 col-md-1 col-md-offset-1 tac"><img src="/Images/Point.png"></img></div><div class="col-xs-10">Las modificaciones las podrás realizar 30 días calendario después de la inscripción o la última modificación.</div>
        </div>
    </div>

    <!-- Contenedor -->
    <div class="col-xs-12 col-md-10 col-md-offset-1 p0 mt25">

        <!-- Mobil -->
        <div class="col-xs-12 hidden-md hidden-lg">
            <div class="h4"></div>
        </div>

        <!-- Content Right-->
        <div class="col-xs-12 p0">

            <!-- Números, cantidad de megas asignadas y gastadas -->

            <!-- Head -->
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 mt2p">
                <div class="col-xs-1 p0">
                </div>
                <div class="col-xs-11 p0 pt10 pb10 fs15 cgray">
                    <div class="col-xs-9 p0 psuspensivos">
                        Número de teléfono
                    </div>
                </div>
            </div>

            <!-- Body -->
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 mb20 p0">
                <div class="col-xs-12 p0" ng-repeat="item in numhogar">
                    <!-- ng-if="item.state == 'A'" -->
                    <div class="col-xs-1 p0 tac h65 bgcorange pt15 fs18 fwbbold cwhite bc1graylight">
                        {{$index + 1}}
                    </div>
                    <div class="col-xs-11 p0 h65 pt10 pb10 bc1graylight">
                        <div class="col-xs-6 col-sm-7 p0 brgrayop1px h100p">
                            <div class="col-xs-12 p0 fwbbold fs18 cblack mt2p tac griddatoscompartidosmobile">{{item}}</div>
                        </div>
                        <div class="col-xs-6 col-sm-5 p0 h100p">
                            <div class="col-sm-8 col-sm-offset-2 bclilalight tac p7 cwhite fwbbold mt5 cpointer" ng-click="Tagging('Hogar','_ini_elefijomovil_admin');elegidosinfo(item)">Administrar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>