<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<div class="col-xs-12 p0" block-ui="block">
    <pre-dts-modulo-uno ng-if="module == 1"></pre-dts-modulo-uno>
    <pre-dts-modulo-dos ng-if="module == 2"></pre-dts-modulo-dos>
    <pre-dts-modulo-tres ng-if="module == 3"></pre-dts-modulo-tres>
    <pre-dts-modulo-cuatro ng-if="module == 4"></pre-dts-modulo-cuatro>
    <pre-dts-modulo-cinco ng-if="module == 5"></pre-dts-modulo-cinco>
    <pre-dts-modulo-seis ng-if="module == 6"></pre-dts-modulo-seis>
    <pre-dts-modulo-siete ng-if="module == 7"></pre-dts-modulo-siete>
    <pre-dts-modulo-ocho ng-if="module == 8"></pre-dts-modulo-ocho>
</div>
