<style type="text/css">
    :focus {
        outline: none;
    }
</style>
<script>
    var URLactual = window.location;
    if (URLactual.pathname.indexOf('.') != -1) {
        window.location.href = "/";
    }
</script>
<!-- Modal: Mas productos postpago -->
<script type="text/ng-template" id="popupmasinformaciontarjeta.html">
    <div class="col-xs-6 col-xs-offset-3 p0 mt6p">
        <div class="col-xs-12 p0 fs30 corange fwbbold tac">
            Detalle plan
        </div>

        <div class="col-xs-10 col-xs-offset-1 p0 cpointer mt13p" ng-bind-html="Data">
        </div>
    </div>

    <div class="col-xs-6 col-xs-offset-3 bgcorange cwhite pt10 pb10 fs16 tac mt8p cpointer mb8p" ng-click="cancel()">
        Aceptar
    </div>
    <div class="cb"></div>
</script>

<div class="col-xs-12 p0" block-ui="block">

    <div class="col-xs-12 p0">
        <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
            Cambia tu plan
        </div>
        <div class="col-xs-12 fs20 tac cgraybold mt1p pb25">
            <div class="col-xs-12 tac cgraybold mt1p">
                Número de Cuenta <span class="corange ml20">{{OpSelec.prepago}}</span>
            </div>
        </div>
        <!-- Content padre -->
        <div class="col-xs-12 p0" block-ui="block">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div class="col-xs-12">
                    <!--<div class="col-xs-12 tac  mb15  pb7" ng-repeat="item in dataView" ng-if="dataView.length != 0">-->
                    <ui-carousel slides="multiple.slides" slides-to-show="1" slides-to-scroll="1" initial-slide="0" autoplay="false"  dots="false" centerMode="true" draggable="true" on-init="onCarouselInit(event, slick, currentSlide)" >
                        <carousel-item class="elemnt">
                            <div class="col-xs-12 tac cblackopacity fwbbold mb15  fs35 pb7 hidden-xs hidden-sm">
                                {{item.PlanName}}
                            </div>
                            <div class="col-xs-12 tac cblackopacity fwbbold mb15  fs20 pb7 hidden-md hidden-lg">
                                {{item.PlanName}}
                            </div>
                            <div class="col-xs-12 col-md-10 col-md-offset-1 fs15 br5all bsallppg p20">
                                <div class="col-xs-12 p0  cNegro mt12 mb15">
                                    <div class="col-xs-2 mr10 p0 tal">
                                        <div class="col-xs-12 p0 fs-sm">
                                            <img src="/Images/Icon_grupo.svg" class="img img-responsive w50"></img>
                                        </div>
                                    </div>
                                    <div class="col-xs-9 blgray1px fs-s p0 tal">
                                        <div class="col-xs-12 pl10 p0">
                                            {{item.PreConavegacion}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 p0  cNegro mt12 mb15">
                                    <div class="col-xs-2 mr10 p0 tal">
                                        <div class="col-xs-12 p0 fs-sm">
                                            <img src="/Images/icon_paquetes.svg" class="img img-responsive w50"></img>
                                        </div>
                                    </div>
                                    <div class="col-xs-9 blgray1px fs-s p0 tal">
                                        <div class="col-xs-12 pl10 p0">
                                            {{item.PreCopqnavegacion}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 p0  cNegro mt12 mb15">
                                    <div class="col-xs-2 mr10 p0 tal">
                                        <div class="col-xs-12 p0 fs-sm">
                                            <img src="/Images/icon_recargas.svg" class="img img-responsive w50"></img>
                                        </div>
                                    </div>
                                    <div class="col-xs-9 blgray1px fs-s p0 tal">
                                        <div class="col-xs-12 pl10 p0">
                                            {{item.PreCovoz}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 p0 cNegro mt12 mb15">
                                    <div class="col-xs-2 mr10 p0 tal">
                                        <div class="col-xs-12 p0 fs-sm">
                                            <img src="/Images/icon_voz.svg" class="img img-responsive w50"></img>
                                        </div>
                                    </div>
                                    <div class="col-xs-9 blgray1px fs-s p0 tal">
                                        <div class="col-xs-12 pl10 p0">
                                            {{item.PreCoelegidos}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-9 p0 col-xs-offset-4 tdul tac fs16 fwbbold corange mt12 mb15" ng-click="$parent.$parent.detalles(item.PlanDescription)">
                                    <div class="col-xs-4 tdul p0 tal">
                                        <div class="col-xs-12 tdul pl10 pr0">
                                            Más información
                                        </div>
                                    </div>
                                    <div class="col-xs-1 p0 tdul tal">
                                        <div class="col-xs-12 tdul p0">
                                            <img src="/Images/icon_flecharoja.png"></img>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 bgcorange cwhite pt10 pb10 fs18 tac mt3p mb8p cpointer outlinenone" ng-click="$parent.$parent.Tagging('Prepago','bt_pre_ini_dtarifa_dplan_cambiopl_adq');$parent.$parent.adquirirplan(item)">
                                ¡Cámbiate ahora!
                            </div>
                        </carousel-item>
                    </ui-carousel>
                </div>
                <!-- </div>-->
                
            </div>
        </div>
    </div>

</div>
