<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<div class="col-xs-12 p0" block-ui="block">

    <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
        Mejora tu plan
    </div>
    <div class="col-xs-12 col-md-12 fs25 tac cgraybold mt1p mt26">
        Número de cuenta<span class="corange ml10 tac">{{OpSelec.postpago}}</span>
    </div>

    <!-- Contenedor -->
    <div class="col-xs-12 col-md-4 col-md-offset-4 mt25">
        <div class="col-xs-12 bgcorange tal p5 cwhite fs16 fwbbold br10all bnfocusounder mb10" ng-click="openFiltro(1)">
            Selecciona los filtros
        </div>
        
        <div class="col-xs-12 p0 mb10 dn-flex">
            <div class="bcgraymousebold tal p5 cwhite fs16 fwbbold br10all bnfocusounder ">
                {{rngoPrecio(tipoValor)}}
            </div>
        </div>
        
        <div class="col-xs-12 p0">
            <ui-carousel class="mb10 servicioadd p15 br10all idPaquetes" slides="multiple.slides" slides-to-show="1" slides-to-scroll="1" initial-slide="0" autoplay="false" autoplay-speed="2000" dots="false" centerMode="true" draggable="true"
                on-init="onCarouselInit(event, slick, currentSlide)" 
                on-after-change="onAfterChange(currentSlide)">
                <carousel-item class="elemnt">
                    <div class="col-xs-12 p0">
                        <div class="col-xs-12 text-center fs18">
                            Plan
                        </div>
                        <div class="col-xs-12 text-center fwbbold cblack fs18">
                            {{item.PlanName}} 
                        </div>
                        <div class="col-xs-12 p0 corange fwbbold fs35 tac">
                            {{item.moneda(item.PlanAmount)}}
                        </div>
                        <div class="col-xs-12 p0 cblack fs11 tac mb10">
                            Impuestos incluidos
                        </div>
                        <div class="col-xs-12 p0 tac">
                            <div class="col-xs-12 p0 bcgraylight pb5 pt5 dn-flex flex-ai-center">
                                <div class="col-xs-6">
                                    <div class="col-xs-12 p0">
                                        <img src="/Images/ico_megasPlan.png" alt="Compra de Paquetes y Recargas" class="w23">
                                    </div>
                                    <div class="col-xs-12 p0 fs10 fwbbold">
                                        Datos
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="col-xs-12 p0 fs16 fwbbold">{{item.PlanLines[1].Quantity+" "+item.PlanLines[1].Unit}}</div>
                                    <div class="col-xs-12 p0 fs10">Navegación</div>
                                </div>
                            </div>
                            <div class="col-xs-12 p0 bcwhite pb5 pt5 dn-flex flex-ai-center">
                                <div class="col-xs-6">
                                    <div class="col-xs-12 p0">
                                        <img src="/Images/ico_llamaTodoDestino.png" alt="Compra de Paquetes y Recargas" class="w23">
                                    </div>
                                    <div class="col-xs-12 p0 fs10 fwbbold">
                                        Voz
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="col-xs-12 fs16 fwbbold">{{item.PlanLines[0].Quantity}}</div>
                                    <div class="col-xs-12 fs11 fwbbold">{{item.PlanLines[0].Unit}}</div>
                                </div>
                            </div>
                            <div class="col-xs-12 p0 bcgraylight pb5 pt5 dn-flex flex-ai-center">
                                <div class="col-xs-6">
                                    <div class="col-xs-12 p0">
                                        <img src="/Images/ico_megasPlan.png" alt="Compra de Paquetes y Recargas" class="w23">
                                    </div>
                                    <div class="col-xs-12 p0 fs10 fwbbold">
                                        SMS
                                    </div>
                                </div>
                                <div class="col-xs-6 p0 fs16 fwbbold">
                                    <div>{{item.PlanLines[2].Quantity+" "+item.PlanLines[2].Unit}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 text-center clila fwbbold cpointer bnfocusounder mt10" ng-click="item.detalle(item.PlanDescription)">
                            Ver detalle plan
                        </div>
                    </div>
                </carousel-item>
            </ui-carousel>
        </div>
        <div class="col-xs-12 tac fwbbold fs15 cblackopacity mt3p p0">
            <div class="col-xs-10 tdul tal cgraylight">
                Enviaremos copia del contrato con las nuevas condiciones
                en tu siguiente factura.
            </div>
            <md-switch ng-model="terminos.aceptar"></md-switch>
        </div>
        <div class="col-xs-8 col-xs-offset-2 p0 mt20">
            <div class="col-xs-12 bgcorange tac p5 cwhite fs16 fwbbold br10all bnfocusounder" ng-click="confirmarCambio()" ng-if="terminos.aceptar == true">
                <img src="/Images/ico_compraMovil.png" alt="Compra de Paquetes y Recargas" class="w23 pabsolute l11">
                Adquirir este plan
            </div>
            
            <div class="col-xs-12 bcgraymousebold tac p5 cwhite fs16 fwbbold br10all bnfocusounder" ng-if="terminos.aceptar == false">
                <img src="/Images/ico_compraMovil.png" alt="Compra de Paquetes y Recargas" class="w23 pabsolute l11">
                Adquirir este plan
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0 col-md-4 col-md-offset-4 mt25">
        <div class="col-xs-12 bclilalight tac cwhite fs16 fwbbold mt20 bnfocusounder">
           <div class="col-xs-12 bclilalight cwhite tac p5 fwbbold fs16 cpointer outlinenone" ng-click="volver(1)">
                Cancelar
            </div>  
        </div>
    </div>
</div>