<script>
var URLactual = window.location;
if (URLactual.pathname.indexOf('.') != -1) {
    window.location.href = "/";
}
</script>
<!--Modal Términos y condiciones Flujo 3-->
<script type="text/ng-template" id="postermsandcondsblindaje.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img></div>
    <div class="col-xs-12 mh200"  block-ui="detalleplanprepago">
        <div class="col-xs-12 tac fwbbold fs25 fsm25 mt3p cgraybold">
            Recibe más velocidad
        </div>
        <div class="col-xs-12 tac fwbbold fs25 fsm25 cgraybold">
            Términos y Condiciones
        </div>

        <div class="col-xs-10 col-xs-offset-1 fs17 cgraybold mt4p taj fs40">
            <ul>
                <li> La campaña aplica para personal naturales que sean clientes actuales de servicios móviles del segmento Personas, con antigüedad superior a 6 meses, con planes Postpago bundle (voz y datos) con CFM desde $48.000 en adelante, que no tengan campañas promocionales o de fidelización previas activas y que se encuentren al dia en sus pagos. </li>
                <li> El usuario deberá mantenerse al día en su facturación; en caso de mora, perderá el derecho a recibir el beneficio de mayor cantidad de datos móviles.</li>
                <li> Si realiza cambio de plan por uno de menor valor, cambio de ciclo o cede la línea, se pierde el beneficio.</li>
                <li> Los minutos ilimitados aplican para llamadas a cualquier destino nacional y son para uso exclusivo del titular de la línea; no se permite la comercialización. </li>
                <li> El uso de las apps Chat de WhatsApp, Facebook y Twitter consume datos del plan.</li>
                <li> Una vez consumidos los datos del plan, el usuario podrá continuar usando estas apps sin costo; no aplica para llamadas, videollamadas o servicios de voz a través de estas apps, carga y descarga de fotos fuera de estas apps, redireccionamiento a URL externas, compartir ubicación, ni la reproducción de videos alojados dentro de Facebook y Twitter.</li>
                <li> Los servicios móviles están sujetos a la disponibilidad de cobertura de red de Comcel S.A.</li>
                <li> Para hacer uso de 3G/4G/4.5G se debe contar con un equipo y una simcard que soporte la tecnología.</li>
                <li> Aplica también para clientes de servicios fijos con Internet; el beneficio de aumentar la velocidad en el Internet fijo no aplica para paquetes de Internet de 3 megas, ni para clientes Multiplay que tengan previamente el beneficio incluido en la oferta.</li>
                <li> Condiciones y restricciones en claro.com.co</li>
            </ul>
        </div>
    
        <div class="col-xs-12 p0 mt3p mb3p" >
            <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4" ng-click="cancel()">
                <div class="col-xs-12 bgcorange cwhite pt10 pb10 fs18 tac mt8p cpointer mb8p outlinenone">
                 Aceptar
                </div>
            </div>       
        </div>
        <div class="cb"></div>
    </div>
    <div class="cb"></div>
</script>
<!--Modal Términos y condiciones Flujo 3-->
<script type="text/ng-template" id="popupdetallebeneficio.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img></div>
    <div class="col-xs-12 mh200"  block-ui="detalleplanprepago">
        <div class="col-xs-12 tac fwbbold fs25 fsm25 mt3p cgraybold">
            Detalles de plan
        </div>

        <div class="col-xs-10 col-xs-offset-1 fs17 cgraybold mt4p taj fs40">
            <div class="col-xs-12 col-sm-12 col-md-12 p0 fs16 RobotoBold tac cblack mb30">
               {{detalleBeneficio}}
            </div>
        </div>
    
        <div class="col-xs-12 p0 mt3p mb3p" >
            <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4" ng-click="cancel()">
                <div class="col-xs-12 bgcorange cwhite pt10 pb10 fs18 tac mt8p cpointer mb8p outlinenone">
                 Aceptar
                </div>
            </div>       
        </div>
        <div class="cb"></div>
    </div>
    <div class="cb"></div>
</script>
<!-- iframe chat hogar -->
<div class="pfixed ng-scope r0 b380 zi1 bcgraychat w304 pt5 pb5 pl6" ng-if="chat == 1">
    <img src="/Images/cancellila.png" class="pfixed zi1 b390 r227 h25 w25 cpointer outlinenone pinitial" ng-click="showchat()" ng-if="chat == 1"></img>
</div>
<iframe ng-src="{{UrlIframePostpago}}" class="pfixed zi1 b0 r0 h380 bcgraylight " ng-if="chat == 1"></iframe>

<div class="col-xs-12 p0" block-ui="blockMasdatossincostos">
        <div ng-if="flujo==1">
            <div class="col-xs-12 p0">
            <div class="col-xs-12 p0 fs40 fwbbold tac cgraybold mt25">
                Recibe más datos
            </div>
        </div>
        <div class="col-xs-12 fs15 tac cgraybold mt1p">
            <div class="col-xs-12 tac cgraybold mt1p">
                Número de Cuenta <span class="corange ml10">{{OpSelec.postpago}}</span>
            </div>
        </div>
        <div class="col-xs-12 p0">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 p0 fs16 tac cgraybold mt25 mb30">
                Perteneces a la familia más grande del pais,
                <br> por eso ya estas disfrutando de este beneficio
            </div>
        </div>
        <div class="col-xs-12 p0 mb20">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 fs17 p0">
                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
                    <div class="col-sm-12 col-xs-12 col-md-12 tac">
                        <img ng-src="/Images/Group_9297.png"></img>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-12 fwbbold mt20 tac fs18 cblack">
                        {{informativo.anombre}}
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-12 mt10 tac fs18 cblack">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 cblack col-md-6 tal">
                                Fecha de aplicación:
                            </div>
                            <div class="col-xs-6 col-sm-6 cblack fwbbold col-md-6 tar">
                                {{informativo.afecha}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xs-12 col-md-12 tac fs18 cblack mt20">
                        <div class="col-xs-7 col-xs-offset-3 br5all pt10 pb10 bgcorange cwhite tac cpointer fs16" ng-click="popupdetallebeneficioopen(informativo.adescripcion);Tagging('Postpago','bt_pos_ini_blindaje_verdetabene');">
                            ver detalle de beneficio
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="col-xs-8 col-xs-offset-2 mb15 mt15 tac fs15 corange tdu bnfocusounder pr0" ng-click="postermsandcondsblindaje();Tagging('Postpago','bt_pos_ini_blindaje_terycond');">
                Ver términos y condiciones
                <img src="/Images/icon_flecharoja.png" class="mb15 mt15 p0 ml10"></img>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0" ng-if="flujo == 2">
        <div class="col-xs-12 p0">
            <div class="col-xs-12 p0 fs40 fwbbold tac cgraybold mt25">
                Recibe más datos
            </div>
        </div>
        <div class="col-xs-12 fs15 tac cgraybold mt1p">
            <div class="col-xs-12 tac cgraybold mt1p">
                Número de Cuenta <span class="corange ml10">{{OpSelec.postpago}}</span>
            </div>
        </div>
        <div class="col-xs-12 p0">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 p0 fs16 tac cgraybold mt25 mb40">
                Mensuales adicionales sobre el CFM contratado
            </div>
        </div>
        <div class="col-xs-12 p0 mb20">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 fs17 p0">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb20">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 bsallppg p20" ng-repeat="item in objblindaje">
                                <div class="col-xs-12 tac fwbbold fs25 RobotoBold mb10 cgraydark">
                                    Te obsequiamos
                                </div>
                                <div class="col-xs-12 p0">
                                    <div class="col-xs-6 tac pr0 pl0 fs48 clila">
                                        <div class="lh1 fwbbold">{{item.valorBlindajeTotal}} GB</div>
                                        <div class="cgraydark fs20 RobotoBold lh1 fwbbold">Adicional a tu
                                            <br class="hidden-xs hidden-md hidden-lg elmnmsdatabr" />plan</div>
                                    </div>
                                    <div class="col-xs-6 fs35 tac clila dib">
                                        <div class="RobotoBold lh1">SIN</div>
                                        <div class="RobotoBold lh1">COSTO</div>
                                    </div>
                                </div>
                                <div class="col-xs-12 bclilalight tac cpointer cwhite p5 mt25" ng-click="verDetalle(1,item,$index+1)">
                                    <div class="col-xs-5 tar"><img src="/Images/pospago_aumentatuplan_click.png" alt="Ver oferta" class="w20"></div>
                                    <div class="col-xs-7 tal">Ver Oferta</div>
                                </div>
                                <br>
                            </div>
                            <div class="col-xs-12 col-md-6 bsallppg p20" ng-repeat="item in UpSelling">
                                <div class="col-xs-12 tac fwbbold fs25 RobotoBold mb10 cgraydark">
                                    Aumenta tu plan
                                </div>
                                <div class="col-xs-12 p0">
                                    <div class="col-xs-6 fs30 tac corange dib">
                                        <div class="cgraydark fs20 RobotoBold lh1 fwbbold">Recibe</div>
                                        <div class="lh1 fwbbold">{{item.valorBeneficio}} GB</div>
                                        <div class="cgraydark fs18 RobotoBold lh1 fwbbold">Con minutos ilimitados</div>
                                    </div>
                                    <div class="col-xs-6 tac pr0 pl0 fs32 corange">
                                        <div class="cgraydark fs20 RobotoBold lh1 fwbbold">Por solo</div>
                                        <div class="lh1 fwbbold">{{item.valorAumentoCargoFijo | currency:'$':0}}</div>
                                        <div class="cgraydark fs18 RobotoBold lh1 fwbbold">Mensuales adicionales</div>
                                    </div>
                                </div>
                                <div class="col-xs-12 bgcorange tac cpointer cwhite p5 mt25" ng-click="verDetalle(2,item,$index+objblindaje.length+1)">
                                    <div class="col-xs-5 tar"><img src="/Images/pospago_aumentatuplan_click.png" alt="Ver oferta" class="w20"></div>
                                    <div class="col-xs-7 tal">Ver Oferta</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0" ng-if="flujo == 3">
        <div class="col-xs-12 p0">
            <div class="col-xs-12 p0 fs40 fwbbold tac cgraybold mt25">
                Recibe más datos
            </div>
        </div>
        <div class="col-xs-12 p0">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 p0 fwbbold fs30 tac cgraybold mt25 mb30">
                Para más información sobre esta campaña:
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 tac">
            <img src="/Images/icon_nobeneficio.png" class="mwxs65"></img>
        </div>
        <div class="col-xs-8 col-xs-offset-2 fs30 fsm20 fwbbold tac cgray mt35">
            Comunícate al *611 o chatea con nosotros.
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-4 bgcorange tac pt20 pb10 br10all mt20" ng-click="showchat()" role="button" tabindex="0">
            <div class="col-xs-4  fsm16 mwms80 tar" ng-click="showchat()">
                <img src="/Images/ico_atencionClientes.png" alt="Chatea con nosotros" class="w35">
            </div>
            <div class="col-xs-8 fs20 fsm15 cwhite fwbbold pt6 tal pt591px" ng-click="showchat();Tagging('Postpago','bt_pos_ini_blindaje_noapli_regre')">
                Chatea con nosotros
            </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 mt15">
            <div class="col-xs-8 col-xs-offset-2 mb15 mt15 tac fs15 corange tdu bnfocusounder pr0" ng-click="postermsandcondsblindaje();Tagging('Postpago','bt_pos_ini_blindaje_terycond');">
                Ver términos y condiciones
                <img src="/Images/icon_flecharoja.png" class="mb15 mt15 p0 ml10"></img>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0" ng-if="flujo == 4">
        <div class="col-xs-12 p0">
            <div class="col-xs-12 p0 fs40 fwbbold tac cgraybold mt25">
                Recibe más datos
            </div>
        </div>
        <div class="col-xs-12 fs15 tac cgraybold mt1p">
            <div class="col-xs-12 tac cgraybold mt1p">
                Número de Cuenta <span class="corange ml10">{{OpSelec.postpago}}</span>
            </div>
        </div>
        <div class="col-xs-12 p0">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 p0 fs16 tac cgraybold mt25 mb30">
                Mensuales adicionales sobre el CFM contratado
            </div>
        </div>
        <div class="col-xs-12 p0 mb20">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 fs17 p0">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb20">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 bsallppg p20" ng-repeat="item in objblindaje">
                                <div class="col-xs-12 tac fwbbold fs25 RobotoBold mb10 cgraydark">
                                    Te obsequiamos
                                </div>
                                <div class="col-xs-12 p0">
                                    <div class="col-xs-6 tac pr0 pl0 fs48 clila">
                                        <div class="lh1 fwbbold">{{item.valorBlindajeTotal}} GB</div>
                                        <div class="cgraydark fs20 RobotoBold lh1 fwbbold">Adicional a tu
                                            <br class="hidden-xs hidden-md hidden-lg elmnmsdatabr" />plan</div>
                                    </div>
                                    <div class="col-xs-6 fs35 tac clila dib">
                                        <div class="RobotoBold lh1">SIN</div>
                                        <div class="RobotoBold lh1">COSTO</div>
                                    </div>
                                </div>
                                <div class="col-xs-12 bclilalight tac cpointer cwhite p5 mt25" ng-click="verDetalle(1,item,$index+1)">
                                    <div class="col-xs-5 tar"><img src="/Images/pospago_aumentatuplan_click.png" alt="Ver oferta" class="w20"></div>
                                    <div class="col-xs-7 tal">Ver Oferta</div>
                                </div>
                                <br>
                            </div>
                            <div class="col-xs-12 col-md-6 bsallppg p20" ng-repeat="item in UpSelling">
                                <div class="col-xs-12 tac fwbbold fs25 RobotoBold mb10 cgraydark">
                                    Aumenta tu plan
                                </div>
                                <div class="col-xs-12 p0">
                                    <div class="col-xs-6 fs30 tac corange dib">
                                        <div class="cgraydark fs20 RobotoBold lh1 fwbbold">Recibe</div>
                                        <div class="lh1 fwbbold">{{item.valorBeneficio}} GB</div>
                                        <div class="cgraydark fs18 RobotoBold lh1 fwbbold">Con minutos ilimitados</div>
                                    </div>
                                    <div class="col-xs-6 tac pr0 pl0 fs32 corange">
                                        <div class="cgraydark fs20 RobotoBold lh1 fwbbold">Por solo</div>
                                        <div class="lh1 fwbbold">{{item.valorAumentoCargoFijo | currency:'$':0}}</div>
                                        <div class="cgraydark fs18 RobotoBold lh1 fwbbold">Mensuales adicionales</div>
                                    </div>
                                </div>
                                <div class="col-xs-12 bgcorange tac cpointer cwhite p5 mt25" ng-click="verDetalle(3,item,$index+objblindaje.length+1)">
                                    <div class="col-xs-5 tar"><img src="/Images/pospago_aumentatuplan_click.png" alt="Ver oferta" class="w20"></div>
                                    <div class="col-xs-7 tal">Ver Oferta</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0" ng-if="flujo=='Detalle1'">
        <div class="col-xs-12 p0">
            <div class="col-xs-12 p0 fs40 fwbbold tac cgraybold mt25">
                Beneficios
            </div>
        </div>
        <div class="col-xs-12 fs16 tac cgraybold mt1p">
            <div class="col-xs-12 tac cgraybold mt1p fwbbold">
                Número de Cuenta <span class="corange ml10">{{OpSelec.postpago}}</span>
            </div>
        </div>
        <div class="col-xs-12 p0">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 p0 fs22 tac cgraybold mt25 mb30">
                ¡En Claro pensamos en ti!
                <br> Por eso queremos darte un obsequio para que navegues más.
            </div>
        </div>
        <div class="col-xs-12 p0 mb20 mt20">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 fs17 p0">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 brgray pl60 pr0">
                                <div class="col-xs-12 tac fs30 RobotoBold mb10 cgraydark">
                                    Te obsequiamos
                                </div>
                                <div class="col-xs-12 tac pr0 pl0 fs60 clila">
                                    <div class="lh1 fwbbold">{{detalleInternaBlindaje.valorBlindajeTotal}} GB</div>
                                    <div class="RobotoBold lh1 fwbbold">SIN COSTO</div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-5 pl30">
                                <div class="col-xs-12 pr0 pl0 fs20">
                                    <ul class="mt0">
                                        <li class="cgraybold pb0"> El obsequio se activará a partir del siguiente corte de facturación.
                                        </li>
                                        <li class="cgraybold pb0"> No acumulable con otras campañas.
                                        </li>
                                        <li class="cgraybold pb0"> Aplican las reglas del validador de beneficios.
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 tac tdul fwbbold fs18 RobotoBold mt10 clila" ng-click="postermsandcondsblindaje();Tagging('Postpago','bt_pos_ini_blindaje_terycond');">
                                    Ver terminos y condiciones. 
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 pt10 pb10 fs30 bclilalight tac cpointer cwhite p5 mt8p">
                                Obtener beneficio
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0" ng-if="flujo=='Detalle2'">
        <div class="col-xs-12 p0">
            <div class="col-xs-12 p0 fs40 fwbbold tac cgraybold mt25">
                Detalle oferta
            </div>
        </div>
        <div class="col-xs-12 fs16 tac cgraybold mt1p">
            <div class="col-xs-12 tac cgraybold mt1p fwbbold">
                Número de Cuenta <span class="corange ml10">{{OpSelec.postpago}}</span>
            </div>
        </div>
        <div class="col-xs-12 p0">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 p0 fwbbold fs30 tac corange mt25 mb30">
                Podrás navegar mucho más.
            </div>
        </div>
        <div class="col-xs-12 p0 mb20 mt20">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 fs17 p0">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 brgray pl60 pr0">
                                <div class="col-xs-12 tac fs25 mb10 cgraylight">
                                    Ahora tu plan tendrá
                                </div>
                                <div class="col-xs-12 tac pr0 pl0 fs60 corange">
                                    <div class="lh1 fwbbold">{{detalleInternaUpSelling.valorBeneficio}} GB</div>
                                </div>
                                <div class="col-xs-12 tac fs25 mb10 cgraylight">
                                    de datos de navegación
                                </div>
                                <div class="col-xs-12 tac fs25 fwbbold mb10 cgraydark">
                                    Por tan solo
                                </div>
                                <div class="col-xs-12 tac pr0 pl0 fs60 corange">
                                    <div class="lh1 fwbbold">{{detalleInternaUpSelling.valorAumentoCargoFijo | currency:'$':0}}</div>
                                </div>
                                <div class="col-xs-12 tac fs25 fwbbold mb10 cgraydark">
                                    Mensuales adicionales
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-5 pl30">
                                <div class="col-xs-12 pr0 pl0 fs20">
                                    <div class="col-xs-12 tac fs25 mb10 cgraylight">
                                        Tu nuevo plan seriá
                                    </div>
                                    <div class="col-xs-12 tac fs25 mb10 cgraydark fwbbold">
                                        {{detalleInternaUpSelling.nombre}}
                                    </div>
                                     <div class="col-xs-12 col-sm-12 pt5 pb5 ml10 mr10 fs25 bgcorange tac cpointer cwhite p5 mt8p" ng-click="popupdetallebeneficioopen(detalleInternaUpSelling.descripcion);Tagging('Postpago','bt_pos_ini_blindaje_verdetabene')">
                                        Ver detalle de tu plan
                                    </div>
                                    <div class="col-xs-12 tac fs15 mt8p cgraylight">
                                        <div class="col-xs-7 col-xs-offset-3 tac">
                                             La activación de tu plan se realizará en la próxima fecha de corte*
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-md-offset-3 h1 bbcgray"></div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 tac mt3p">
                                            <div class="col-xs-12 fs18 fwbbold cgraydark">
                                                Nuevo cargo fijo mensual
                                            </div>
                                            <div class="col-xs-12 fs14 mb10 cgraylight">
                                                Impuestos incluidos
                                            </div>
                                            <div class="col-xs-12 pr0 pl0 fs48 cgraydark">
                                                <div class="lh1 fwbbold">{{detalleInternaUpSelling.cargoFijoMensual | currency:'$':0}}</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 hidden-md hidden-lg cgray fs20 mt3p mb3p tac">
                                            <div class="cpointer col-xs-7 tar" ng-click="postermsandcondsblindaje();Tagging('Postpago','bt_pos_ini_blindaje_terycond');"><span class="tdul cgraylight cpointer">Acepto Términos y condiciones de mejora de plan<span></div>
                                            <div class="col-xs-5 fs20">
                                                <md-switch ng-model="oferta.cptteminos"></md-switch>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 hidden-xs hidden-sm cgray fs20 mt3p tac">
                                            <div class="cpointer col-xs-7 tar" ng-click="postermsandcondsblindaje();Tagging('Postpago','bt_pos_ini_blindaje_terycond');"><span class="tdul cgraylight cpointer">Acepto Términos y condiciones de mejora de plan<span></div>
                                            <div class="col-xs-5 fs20">
                                                <md-switch ng-model="oferta.cptteminos"></md-switch>
                                            </div>
                                        </div> 
                                    </div> 
                                </div>
                            </div>
                            
                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 pt10 pb10 fs30 bgcorange tac cpointer cwhite p5 mt8p" ng-click="confirmarBeneficio(detalleInternaUpSelling)" ng-disabled="!oferta.cptteminos">
                                Aceptar
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0" ng-if="flujo=='Detalle3'">
        <div class="col-xs-12 p0">
            <div class="col-xs-12 p0 fs40 fwbbold tac cgraybold mt25">
                Detalle oferta
            </div>
        </div>
        <div class="col-xs-12 fs16 tac cgraybold mt1p">
            <div class="col-xs-12 tac cgraybold mt1p fwbbold">
                Número de Cuenta <span class="corange ml10">{{OpSelec.postpago}}</span>
            </div>
        </div>
        <div class="col-xs-12 p0">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 p0 fwbbold fs30 tac corange mt25 mb30">
                Podrás navegar mucho más.
            </div>
        </div>
        <div class="col-xs-12 p0 mb20 mt20">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 fs17 p0">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 mb10">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 brgray pl60 pr0">
                                <div class="col-xs-12 tac fs25 mb10 cgraylight">
                                    Ahora tu plan tendrá
                                </div>
                                <div class="col-xs-12 tac pr0 pl0 fs60 corange">
                                    <div class="lh1 fwbbold">{{detalleInternaUpSelling.valorBeneficio}} GB</div>
                                </div>
                                <div class="col-xs-12 tac fs25 mb10 cgraylight">
                                    de datos de navegación
                                </div>
                                <div class="col-xs-12 tac fs25 fwbbold mb10 cgraydark">
                                    Por tan solo
                                </div>
                                <div class="col-xs-12 tac pr0 pl0 fs60 corange">
                                    <div class="lh1 fwbbold">{{detalleInternaUpSelling.valorAumentoCargoFijo | currency:'$':0}}</div>
                                </div>
                                <div class="col-xs-12 tac fs25 fwbbold mb10 cgraydark">
                                    Mensuales adicionales
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-5 pl30">
                                <div class="col-xs-12 pr0 pl0 fs20">
                                    <div class="col-xs-12 tac fs25 mb10 cgraylight">
                                        Tu nuevo plan seriá
                                    </div>
                                    <div class="col-xs-12 tac fs25 mb10 cgraydark fwbbold">
                                        {{detalleInternaUpSelling.nombre}}
                                    </div>
                                     <div class="col-xs-12 col-sm-12 pt5 pb5 ml10 mr10 fs25 bgcorange tac cpointer cwhite p5 mt8p" ng-click="popupdetallebeneficioopen(detalleInternaUpSelling.descripcion);Tagging('Postpago','bt_pos_ini_blindaje_verdetabene')">
                                        Ver detalle de tu plan
                                    </div>
                                    <div class="col-xs-12 tac fs15 mt8p cgraylight">
                                        <div class="col-xs-7 col-xs-offset-3 tac">
                                             La activación de tu plan se realizará en la próxima fecha de corte*
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6 col-md-offset-3 h1 bbcgray"></div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-6 tac mt3p">
                                            <div class="col-xs-12 fs18 fwbbold cgraydark">
                                                Nuevo cargo fijo mensual
                                            </div>
                                            <div class="col-xs-12 fs14 mb10 cgraylight">
                                                Impuestos incluidos
                                            </div>
                                            <div class="col-xs-12 pr0 pl0 fs48 cgraydark">
                                                <div class="lh1 fwbbold">{{detalleInternaUpSelling.cargoFijoMensual | currency:'$':0}}</div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 hidden-md hidden-lg cgray fs20 mt3p mb3p tac">
                                            <div class="cpointer col-xs-7 tar" ng-click="postermsandcondsblindaje();Tagging('Postpago','bt_pos_ini_blindaje_terycond');"><span class="tdul cgraylight cpointer">Acepto Términos y condiciones de mejora de plan<span></div>
                                            <div class="col-xs-5 fs20">
                                                <md-switch ng-model="oferta.cptteminos"></md-switch>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6 hidden-xs hidden-sm cgray fs20 mt3p tac">
                                            <div class="cpointer col-xs-7 tar" ng-click="postermsandcondsblindaje();Tagging('Postpago','bt_pos_ini_blindaje_terycond');"><span class="tdul cgraylight cpointer">Acepto Términos y condiciones de mejora de plan<span></div>
                                            <div class="col-xs-5 fs20">
                                                <md-switch ng-model="oferta.cptteminos"></md-switch>
                                            </div>
                                        </div> 
                                    </div> 
                                </div>
                            </div>
                            
                            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 pt10 pb10 fs30 bgcorange tac cpointer cwhite p5 mt8p" ng-click="confirmar(detalleInternaUpSelling);" ng-disabled="!oferta.cptteminos">
                                Aceptar
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0" ng-if="flujo=='confirmacionAct'">
        <div class="col-xs-12 p0">
            <div class="col-xs-12 p0 fs40 fwbbold tac cgraybold mt25">
                Beneficios
            </div>
        </div>
        <div class="col-xs-12 fs16 tac cgraybold mt1p">
            <div class="col-xs-12 tac cgraybold mt1p fwbbold">
                Número de Cuenta <span class="corange ml10">{{OpSelec.postpago}}</span>
            </div>
        </div>
        <div class="col-xs-12 p0">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 p0 fwbbold fs25 tac cgraydark mt25 mb30">
                En este momento tienes activo este beneficio:
            </div>
        </div>
        <div class="col-xs-12 p0 mb20 mt20">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2 fs17 p0">
                <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 tac fs25 mb10 cgraylight">
                    {{beneficioCuenta.anombre}}
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 p0 fwbbold fs25 tac cgraydark mb10">
                    Recuerda que no puedes tener más de un beneficio activo.
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 p0 fwbbold fs24 tac cred mb10">
                    Si aceptas, se activará el sigiente beneficio:
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 tac fs22 mb10 cgraylight">
                    {{detalle.descripcion}}
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 tac tdul fs22 mb10 corange cpointer" ng-click="postermsandcondsblindaje();Tagging('Postpago','bt_pos_ini_blindaje_terycond');">
                    Ver terminos y condiciones <img src="/Images/icon_flecharoja.png"></img>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-sm-offset-3 col-md-3 fs25 bcgraydark tac cpointer br5all cwhite p5 mb20 mt3p" ng-click="cambioFlujo('Detalle3');Tagging('Postpago','bt_pos_ini_blindaje_paq1_cance');">
                        cancelar
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-3 pt5 pb5 ml10 mr10 fs25 bgcorange tac cpointer cwhite br5all p5 mb20 mt3p" ng-click="confirmarBeneficio(detalle);Tagging('Postpago','bt_pos_ini_blindaje_paq1_confi');">
                        Confirmar
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0" ng-if="flujo=='confirmacionOferta'">
        <div class="col-xs-12 p0">
            <div class="col-xs-12 p0 fs40 fwbbold tac cgraybold mt25">
                Confirmación exitosa
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 tac mt5p">
            <img src="/Images/icon_beneficio2.png" class="mwxs65"></img>
        </div>
        <div class="col-xs-12 p0">
            <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-4 p0  fs30 tac cgraybold mt25 mb30">
                Tu beneficio entrará en vigencia a partir de tu próxima fecha de corte.
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-md-offset-4 bgcorange tac pt20 pb10 br10all mt20" ng-click="homeGeneral();Tagging('Postpago','bt_pos_ini_blindaje_paq1_confi_acep')" role="button" tabindex="0">
            <div class="col-xs-12 fs20 fsm15 cwhite fwbbold tac tal">
                Aceptar
            </div>
        </div>
    </div>
</div>