<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<!-- Modal: Descripción -> Postpago -> Ver movimientos de la cuenta  -->
<script type="text/ng-template" id="postmovimientosdelacuenta.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img></div>
    <div class="col-xs-12 fs28 fwbbold tac cgraybold mt25 mb25">Ver movimientos de tu cuenta</div>
    
    <div class="col-xs-10 col-xs-offset-1 fs16 cblack fwbbold pt20 pb20 tac cpointer outlinenone" ng-click="Tagging('Postpago','Postpago_Vermovimientosdelacuenta_Elultimomes');Time=1;ok()">El último mes</div>
    <div class="col-xs-10 col-xs-offset-1 bc1graylight"></div>
    <div class="col-xs-10 col-xs-offset-1 fs16 cblack fwbbold pt20 pb20 tac cpointer outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_vermovimientoscuenta_2meses');Time=2;ok()">Los últimos 2 meses</div>
    <div class="col-xs-10 col-xs-offset-1 bc1graylight"></div>
    <div class="col-xs-10 col-xs-offset-1 fs16 cblack fwbbold pt20 pb20 tac cpointer outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_vermovimientoscuenta_4meses');Time=4;ok()">Los últimos 4 meses</div>
    <div class="col-xs-10 col-xs-offset-1 bc1graylight"></div>    
    <div class="col-xs-10 col-xs-offset-1 fs16 cblack fwbbold pt20 pb20 tac cpointer outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_vermovimientoscuenta_6meses');Time=6;ok()">Los últimos 6 meses</div>
    <div class="col-xs-10 col-xs-offset-1 bc1graylight"></div>        
    
    <div class="col-xs-4 col-xs-offset-4 bgcorange cwhite pt10 pb10 fs18 tac mt8p mb8p cpointer " ng-click="Tagging('Postpago','bt_pos_ini_vermovimientoscuenta_cancelar');cancel()">
        Cancelar
    </div>
    
    <div class="cb"></div>
</script>

<div class="col-xs-12 p0" block-ui="block">
    <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
        Movimientos de las cuentas
    </div>
    
    <!-- Contenedor -->
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <!-- Detalle factura -->
        <div class="col-xs-12 p0 mt25">
            <div class="col-xs-12 col-md-8 col-md-offset-2 p0">                
                <div class="col-xs-12 bc1graylight bcgraylight mt25 p0">
                    <div class="col-xs-12 p0 pb30 pt15 max-h500 ofy">
                        <!-- Desktop -->
                        <div class="col-xs-6 pt20 pb20 bbcgray hidden-xs hidden-sm" ng-repeat="item in consumocuenta">
                            <!--<div class="col-xs-12 cgraybold fwbbold fs18 tac mb4p">{{item.Channel}}</div>-->
                            <div class="col-xs-12 p0">
                                <div class="col-xs-3 p0 cgraybold fwbbold fs15">Fecha:</div>
                                <div class="col-xs-9 p0 cred fwbbold fs15 tac">{{item.Date}}</div>
                            </div>
                            <div class="col-xs-12 p0">
                                <div class="col-xs-3 p0 cgraybold fwbbold fs15">Canal:</div>
                                <div class="col-xs-9 p0 cred fwbbold fs15 tac">{{item.Transaction}}</div>
                            </div>                            
                        </div>
                        <!-- Mobil -->
                        <div class="col-xs-12 pt20 pb20 bbcgray tac hidden-md hidden-lg" ng-repeat="item in consumocuenta">
                            <!--<div class="col-xs-12 cgraybold fwbbold fs18 tac mb4p">{{item.Channel}}</div>-->
                            <div class="col-xs-12 col-md-5 col-md-offset-1 p0">
                                <div class="col-xs-5 p0 cgraybold fwbbold fs15">Fecha:</div>
                                <div class="col-xs-7 p0 cred fwbbold fs15 tac">{{item.Date}}</div>
                            </div>
                            <div class="col-xs-12 col-md-5 p0">
                                <div class="col-xs-5 cgraybold fwbbold fs15">Canal:</div>
                                <div class="col-xs-7 p0 cred fwbbold fs15 tac">{{item.Transaction}}</div>
                            </div>                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>