<script>
    var URLactual = window.location;
    if (URLactual.pathname.indexOf('.') != -1) {
        window.location.href = "/";
    }
</script>
<!-- Modal Terminos y condiciones legalizacion -->
<script type="text/ng-template" id="terminos.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img>
    </div>
    <div class="col-xs-12 tac fwbbold fs21 mt2p cgraybold">Términos y Condiciones</div>
    <div class="col-xs-12 max-h360 taj fs15 mt2p mb4p cgraybold ofy p20 overflowxh">
            Promoción válida del 1 al 31 de octubre de 2018 y/o hasta agotar 1.200 unidades
            del Huawei P20; 9.500 unidades disponibles del iPhone 6 32GB. Aplica para clientes
            nuevos o actuales que contraten o tengan contratado un plan postpago con cargo
            fijo mensual desde $69.900 en adelante. El monto del descuento en el Smartphone
            está sujeto al valor del cargo fijo mensual del plan contratado. Los servicios móviles
            están sujetos a la disponibilidad de cobertura de red de Comcel. Para hacer uso de
            los servicios en red 3G/4G/4.5G debes contar con un equipo y una Sim card que
            soporten la tecnología. Conoce condiciones y restricciones en claro.com.co
            <br />
            <br />
            El espacio disponible es menor debido al almacenamiento del sistema operativo y las 
            apps preinstaladas; puede variar por las actualizaciones del dispositivo.
    </div>
    <div class="cb"></div>
</script>
<div class="col-xs-12 p0" block-ui="blockinfo">

    <!-- Primera pantalla -->
    <div class="col-xs-12 p0" ng-if="secion != 6">
        <div class="col-xs-12 p0 fs40 fwbbold tac cgraybold mt25">
            Renueva tu equipo
        </div>
    </div>
    <div class="col-xs-12 fs15 tac cgraybold mt1p pb25" ng-if="secion != 6">
        <div class="col-xs-12 tac cgraybold mt1p">
            Número de Cuenta <span class="corange ml10">{{OpSelec.postpago}}</span>
        </div>
    </div>
    <div class="col-xs-12 p0 hidden-xs" ng-if="secion == 1">
        <div class="col-xs-12 p0 fwbbold tac fs18 clila">
            Renueva tu equipo y recibe más beneficios.
        </div>
    </div>
    <div class="col-xs-12 p0 hidden-xs" ng-if="secion == 1">
        <div class="col-xs-12 p0 fwbbold tac fs18 clila">
            Selecciona tu equipo preferido, recuerda que
        </div>
        <div class="col-xs-12 p0 fwbbold tac fs18 clila">
            todos los envíos son GRATIS.
        </div>
    </div>
    <div class="col-xs-12 p0 fwbbold tac pb25 fs18 clila hidden-sm hidden-md hidden-lg" ng-if="secion == 1">
        Renueva tu equipo y recibe más beneficios.
    </div>
    <div class="col-xs-12 p0 fwbbold tac pb25 fs18 clila hidden-sm hidden-md hidden-lg" ng-if="secion == 1">
        Selecciona tu equipo preferido, recuerda que todos los envíos son GRATIS.
    </div>
    <div class="col-xs-12 tac tdul fwbbold fs18 RobotoBold mt10 mb15 clila" ng-click="terminos();">
        Ver términos y condiciones.
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 p0 mb30 tac cgraylight" ng-if="secion != 6">
        <div class="col-xs-4 maincpointer p0">
            <div class="col-xs-3 p0 tar">
                <img align="right" src="/Images/RTE_equipo_rojo.png" alt="" class="ma img-responsive h31"></img>
            </div>
            <div class="col-xs-5 tac mt5 corange p0">
                Equipo
            </div>
            <div class="col-xs-4 mt5 corange tal p0" ng-if="secion != 1 && secion != 2">
                <img src="/Images/icon_check_ rojo.png" alt="echo" class="w17">
            </div>
            <div class="col-xs-12 p0 bbcred1px mt10" ng-if="secion == 1 || secion == 2"></div>
        </div>

        <div class="col-xs-4 maincpointer pb10" ng-if="secion == 1 || secion == 2">
            <div class="col-xs-5 p0">
                <img align="right" src="/Images/rte_entrega_gris.png" alt="" class="ma img-responsive h31"></img>
            </div>
            <div class="col-xs-7 tal mt5">
                Entrega
            </div>
        </div>

        <div class="col-xs-4 maincpointer pb10" ng-if="secion == 3 || secion == 4 || secion == 5 || secion == 6">
            <div class="col-xs-3 p0 tar">
                <img align="right" src="/Images/RTE_entrega_rojo.png" alt="" class="ma img-responsive h31"></img>
            </div>
            <div class="col-xs-5 tal mt5 corange">
                Entrega
            </div>
            <div class="col-xs-4 mt5 corange tal p0" ng-if="secion == 4 || secion == 5 || secion == 6">
                <img src="/Images/icon_check_ rojo.png" alt="echo" class="w17">
            </div>
            <div class="col-xs-12 p0 bbcred1px mt10" ng-if="secion == 3"></div>
        </div>

        <div class="col-xs-4 maincpointer pb10" ng-if="secion != 4 && secion != 5 && secion != 6">
            <div class="col-xs-5 p0">
                <img align="right" src="/Images/rte_paga_gris.png" alt="" class="ma img-responsive h31"></img>
            </div>
            <div class="col-xs-7 tal mt5">
                Pago
            </div>
        </div>

        <div class="col-xs-4 maincpointer pb10" ng-if="secion == 4 || secion == 5 || secion == 6">
            <div class="col-xs-5 p0">
                <img align="right" src="/Images/RTE_paga_rojo.png" alt="" class="ma img-responsive h31"></img>
            </div>
            <div class="col-xs-7 tal mt5 corange">
                Pago
            </div>
            <div class="col-xs-12 p0 bbcred1px mt10"></div>
        </div>
    </div>
    <ne-info ng-if="secion == 1"></ne-info>
    <ne-especificaciones ng-if="secion == 2"></ne-especificaciones>
    <ne-entrega ng-if="secion == 3"></ne-entrega>
    <ne-pago ng-if="secion == 4"></ne-pago>
    <nept-pago-factuta ng-if="secion == 5"></nept-pago-factuta>
    <neptcf-pago-factuta ng-if="secion == 6"></neptcf-pago-factuta>
</div>
