<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<!-- Modal: Mas productos postpago -->
<script type="text/ng-template" id="popupmasinformaciontarjeta.html">
    <div class="col-xs-6 col-xs-offset-3 p0 mt6p">
        <div class="col-xs-12 p0 fs21 corange fwbbold tac">
            Información
        </div>

        <div class="col-xs-10 col-xs-offset-1 p0 cpointer mt13p">
            {{Data}}
        </div>

        <div class="col-xs-12 p0 h1 bcgraymouse mt3p"></div>
    </div>

    <div class="col-xs-6 col-xs-offset-3 bcgraymouse cwhite pt10 pb10 fs16 tac mt8p cpointer mb8p" ng-click="cancel()">
        Cancelar
    </div>
    <div class="cb"></div>
</script>

<div class="col-xs-12 p0" block-ui="block">

    <div class="col-xs-12 p0">
        <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
            Cambia tu plan
        </div>
        
        <!-- Mobil -->
        <div class="col-xs-12 hidden-md hidden-lg">
            <div class="h4"></div>
        </div>        

        <div class="col-xs-12 p0 tac fs20 fwbbold cgraylight">
            <div class="">Selecciona el plan por el cual deseas</div>
            <div class="">cambiarlo</a></div>           

            <!-- Content padre -->
            <div class="col-xs-12 p0 mt4p" block-ui="block">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                    <!-- Desktop -->
                    <ui-carousel class="hidden-xs hidden-sm" slides="multiple.slides" slides-to-show="3" slides-to-scroll="1" autoplay="false" autoplay-speed="2000" dots="true" centerMode="true" 
                        draggable="true" 
                        initialSlide="0"
                        on-init="onCarouselInit(event, slick, currentSlide)" 
                        on-before-change="onCarouselBeforeChange(event, slick, currentSlide)"
                        on-after-change="onCarouselAfterChange(event, slick, currentSlide)">
                        <carousel-item class="elemnt">
                            <div class="col-xs-12">

                                <div class="col-xs-12 p0 bcblack fwbbold fs20 cwhite mb5">
                                    <div class="col-xs-10 p0 pt20 pb20">
                                        <div class="co-xs-8 col-xs-offset-2">
                                            {{item.PlanName}}
                                        </div>
                                    </div>
                                    <!-- Biñeta-->
                                    <div class="col-xs-2 p0">
                                        <img ng-src="{{item.IsOpen}}" class="pull-right p0"></img>
                                        <!--<img src="/Images/PlanCerradoTabs.png" class="pull-right p0"></img>-->
                                    </div>
                                </div>

                                <div class="col-xs-12 p0 bclilalight mb5 pt20 pb20 cpointer outlinenone">
                                    <div class="col-xs-12 p0 tac">
                                        <span class="fwbbold fs20 cwhite">{{fnreplace(item.PlanAmount)}}</span><span class="fs15 cwhite"> COP</span><br/>
                                    </div>
                                </div>
                                
                                <div class="col-xs-12 p0 bcgraylighttabs mb5 pt20 pb20">
                                    <div class="col-xs-3 p0 tac">
                                        <img src="/Images/CallTabs.png"></img>
                                    </div>
                                    <div class="col-xs-9 p0 tal">
                                        <span class="fwbbold cblack fs15">{{item.QuantityVoz}} </span><span class="cblack fs15 fwlight">{{item.UnitVoz}} a todo destino</span>
                                    </div>
                                </div>

                                <div class="col-xs-12 p0 bcgrayalllighttabs mb5 pt20 pb20">
                                    <div class="col-xs-3 p0 tac">
                                        <img src="/Images/SenalTabs.png"></img>
                                    </div>
                                    <div class="col-xs-9 p0 tal">
                                        <span class="cblack fs15 fwlight">Navegación en internet</span><span class="fwbbold cblack fs15">{{item.QuantityNav}} {{item.UnitNav}}</span>
                                    </div>
                                </div>

                                <div class="col-xs-12 p0 bcgraylighttabs mb5 pt20 pb20">
                                    <div class="col-xs-3 p0 tac">
                                        <img src="/Images/MsgTabs.png"></img>
                                    </div>
                                    <div class="col-xs-9 p0 tal">
                                        <span class="cblack fs15 fwlight">Mensajes de texto a móviles</span></br>
                                        <span class="cblack fs15 fwlight">claro de obsequio:</span><span class="fwbbold cblack fs15"> {{item.UnitMtm}}</span>
                                    </div>
                                </div>

                            </div>
                        </carousel-item>
                    </ui-carousel>

                    <!-- Login -->
                    <ui-carousel class="hidden-md hidden-lg" slides="multiple.slides" slides-to-show="1" slides-to-scroll="1" autoplay="false" autoplay-speed="2000" dots="true" centerMode="true" 
                        draggable="true" 
                        initialSlide="0"
                        on-init="onCarouselInit(event, slick, currentSlide)" 
                        on-before-change="onCarouselBeforeChange(event, slick, currentSlide)"
                        on-after-change="onCarouselAfterChange(event, slick, currentSlide)">
                        <carousel-item class="elemnt">
                            <div class="col-xs-12">

                                <div class="col-xs-12 p0 bcblack fwbbold fs20 cwhite mb5">
                                    <div class="col-xs-10 p0 pt20 pb20">
                                        <div class="co-xs-8 col-xs-offset-2">
                                            Conectado 4,5GB<br/> Cerrado Nv
                                        </div>
                                    </div>
                                    <!-- Biñeta-->
                                    <div class="col-xs-2 p0">
                                        <img src="/Images/PlanAbiertoTabs.png" class="pull-right p0"></img>
                                        <!--<img src="/Images/PlanCerradoTabs.png" class="pull-right p0"></img>-->
                                    </div>
                                </div>

                                <div class="col-xs-12 p0 bclilalight mb5 pt20 pb20 cpointer outlinenone">
                                    <div class="col-xs-12 p0 tac">
                                        <span class="fwbbold fs20 cwhite">$ 73.000 </span><span class="fs15 cwhite">COP</span><br/>
                                    </div>
                                </div>

                                <div class="col-xs-12 p0 bcgraylighttabs mb5 pt20 pb20">
                                    <div class="col-xs-3 p0 tac">
                                        <img src="/Images/CallTabs.png"></img>
                                    </div>
                                    <div class="col-xs-9 p0 tal">
                                        <span class="fwbbold cblack fs15">20 </span><span class="cblack fs15 fwlight"> minutos a todo destino</span>
                                    </div>
                                </div>

                                <div class="col-xs-12 p0 bcgrayalllighttabs mb5 pt20 pb20">
                                    <div class="col-xs-3 p0 tac">
                                        <img src="/Images/SenalTabs.png"></img>
                                    </div>
                                    <div class="col-xs-9 p0 tal">
                                        <span class="cblack fs15 fwlight">Navegación en internet</span><span class="fwbbold cblack fs15"> 4,5 GB</span>
                                    </div>
                                </div>

                                <div class="col-xs-12 p0 bcgraylighttabs mb5 pt20 pb20">
                                    <div class="col-xs-3 p0 tac">
                                        <img src="/Images/MsgTabs.png"></img>
                                    </div>
                                    <div class="col-xs-9 p0 tal">
                                        <span class="cblack fs15 fwlight">Mensajes de texto a móviles</span></br>
                                        <span class="cblack fs15 fwlight">claro de obsequio:</span><span class="fwbbold cblack fs15"> 3000</span>
                                    </div>
                                </div>

                            </div>
                        </carousel-item>
                    </ui-carousel>                    
                </div>
                
                <!-- Descipción -->
                <div class="col-xs-10 col-xs-offset-1 p0 fs15 mt3p descriptionplan">
                    <div class="col-xs-12 fs17 cgraybold">
                        Descripción del plan
                    </div>                   
                    <div class="col-xs-12 fs17 cred fwbbold mt2p">
                        {{showcard.PlanName}} 
                    </div>
                    <div class="col-xs-12 fs16 cblack mt1p">
                        {{showcard.PlanVoiceUnit}} 
                    </div>   
                    <div class="col-xs-12 p0 fs15 cgraybold mt1p mb3p max-h150 ofy">
                        {{showcard.PlanDescription}} 
                    </div>                    
                </div>
                
                <!-- Adquirir este plan -->
                <div class="col-xs-12 col-md-6 col-md-offset-3 mb8p" ng-if="showcard.PlanCode != undefined">
                    <div class="col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4 bgcorange cwhite pt10 pb10 fs18 tac mt3p mb8p cpointer outlinenone" ng-click="adquirirplan()">
                        Adquirir este plan
                    </div>
                </div>                

            </div>
        </div>
    </div>
</div>
