<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<div class="col-xs-12">
    <pre-consumo-detalle ng-if="modulo==1"></pre-consumo-detalle>
    <pre-consumo-recarga ng-if="modulo==2"></pre-consumo-recarga>
    <pre-comprar-paquetes ng-if="modulo==3"></pre-comprar-paquetes>
    <pre-detall-mes-anterior ng-if="modulo==4"></pre-detall-mes-anterior>
    <pre-detalle-paquete ng-if="modulo==5"></pre-detalle-paquete>
</div>
