<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<div class="col-xs-12" block-ui="block" ng-if="vista == 1">
    <!-- Formulario que se carga desde JavaScript y ejecuta una nueva pestaña para la domiciliacion de factura -->
    <div id="mainContent" class="dn"></div>

    <div class="col-xs-12 p0 fs40 fwbbold tac cgraybold mt25">
        Administra tu factura 
    </div>
    <div class="col-xs-12 fs15 tac cgraybold mt1p pb25">
         <div class="col-xs-12 tac cgraybold mt1p">
            Número de Cuenta <span class="corange ml10">{{OpSelec.postpago}}</span>
        </div>
    </div>

    <!-- Contenedor -->
    <div class="col-xs-12 col-md-6 col-md-offset-3 p0 mt25">
        <!-- Detalle factura -->
        <div class="col-xs-12 p0 mt25">
            <div class="col-xs-12 p0 col-md-12 bslbposconsumo mb25 bsdb mb20" ng-if="muestraUlPago != 0">
                <div class="col-xs-12 p0">
                    <div class="col-xs-12 cgraybold fs20 fwbbold mt15 mb15">Último pago en línea</div>
                    <div class="col-xs-12 pb10 pt10 fs16">
                        <div class="col-xs-6 p0 fwbbold corange">Fecha del pago:</div>
                        <div class="col-xs-6 p0 cgraybold tar">{{ultimosPagos.UltimoPago.FECHA}}</div>
                    </div>
                    <div class="col-xs-12 pb10 pt10 fs16">
                        <div class="col-xs-6 p0 fwbbold corange">Valor del pago:</div>
                        <div class="col-xs-6 p0 cgraybold tar">{{fnreplace(ultimosPagos.UltimoPago.VALOR)}}</div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 bslbposconsumo cred mb25 pt10 pb10 bsdb mb20" ng-if="muestraUlPago != 0" ng-click="Tagging('Postpago','bt_pos_ini_adminfact_verhistorico');historialdePagos()">
                <div class="col-xs-6 fs16 p0">
                    Ver histórico de pagos en línea
                </div>
                <div class="col-xs-6 tar cred bnfocusounder p0" ng-click="">
                    <img src="/Images/Extractosprepago_icon_rounded_ritgh_rojo.png" alt="Ver historico de pagos en línea" class="w27 ml10">
                </div>
            </div>

            <div class="col-xs-12 col-md-12 bslbposconsumo p0 fs16 mb25 bsdb mb20">
                <div class="col-xs-12 fs20 cgraybold mt15 mb15 fwbbold">Factura Actual</div>
                <div class="col-xs-12 pb10 pt10">
                    <div class="col-xs-6 p0 fwbbold corange">Nombre:</div>
                    <div class="col-xs-6 p0 cgraybold tar textmarker">{{Datapost.usuario.nombre}}</div>
                </div>
                <div class="col-xs-12 pb10 pt10">
                    <div class="col-xs-6 p0 fwbbold corange">Dirección de facturación:</div>
                    <div class="col-xs-6 p0 cgraybold tar textmarker">{{Datapost.usuario.direccion}}</div>
                </div>
                <div class="col-xs-12 pb10 pt10">
                    <div class="col-xs-6 p0 fwbbold corange">Pago oportuno:</div>
                    <div class="col-xs-6 p0 cgraybold tar">{{Datapost.facturaActual.pagoOportuno}}</div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12 pb10 pt10 bbcgray"></div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 bslbposconsumo p0 fs16 mb25 bsdb mb20">
                <div class="col-xs-12 pb10 pt10">
                    <div class="col-xs-12 col-md-6 p0 fwbbold corange">Total a pagar:</div>
                    <div class="col-xs-12 col-md-6 p0 cgraybold tar corange fwbbold fs20">{{fnreplace(Datapost.facturaActual.valor)}}</div>
                </div>
                <div class="col-xs-12 pb10 pt10">
                    <div class="col-xs-12 col-md-6 p0 fwbbold corange">Referencia de pago:</div>
                    <div class="col-xs-12 col-md-6 p0 cgraybold tar">{{Datapost.facturaActual.ReferenciaPagoTotal}}</div>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 bslbposconsumo fs16 p0">
                <div class="col-xs-12 pb10 pt10">
                    <div class="col-xs-12 col-md-6 p0 fwbbold corange">Fecha de inicio de plan:</div>
                    <div class="col-xs-12 col-md-6 p0 cgraybold tar">{{fechasFactura.fechaInicioCorte}}</div>
                </div>
                <div class="col-xs-12 pb10 pt10">
                    <div class="col-xs-12 col-md-6 p0 fwbbold corange">Fecha corte de plan:</div>
                    <div class="col-xs-12 col-md-6 p0 cgraybold tar">{{fechasFactura.fechaFinCorte}}</div>
                </div>
            </div>
        </div>
        <!-- Tarjetas factura -->
        <!--- nuevos botones paga tu factura y pagos autimaticos--->
        <div class="col-md-12 mt30 p0">
            <div class="col-xs-12 col-md-6 " ng-click="Tagging('Postpago','bt_pos_ini_adminfact_pagatufacturaaqui');pagatufactura()" ng-if="Datapost.facturaActual.valor != 0">
                <div class="col-xs-12 pl0 pr0 btn-primary cwhite tac br5all mt15 mb6p pb10 pt10 fwbbold fs14 cpointer outlinenone">
                   <div class="col-xs-2">
                        <img src="/Images/Internapagarfactura.png" class="tac"></img>
                    </div>
                    <div class="col-xs-10 fs14 pt10 tac">
                        Paga tu factura aquí
                    </div> 
                </div>
            </div>
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>
            <div class="col-xs-12 col-md-6 " ng-click="Tagging('Postpago','bt_pos_ini_adminfact_pagoautofactura');domiciliacion()">
                <div class="col-xs-12 pl0 pr0 btn-primary cwhite tac br5all mt15 mb6p pb10 pt10 fwbbold fs14 cpointer outlinenone">
                   <div class="col-xs-2">
                        <img src="/Images/pagosautomaticosdefactura.png" class="tac"></img>
                    </div>
                    <div class="col-xs-10 fs14 pt10 tac">
                        Pagos automáticos de factura
                    </div> 
                </div>
            </div>
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>
<!--- nuevos botones descar facturas--->
            <div class="col-md-12 p0">
                <div class="col-xs-12 col-md-6 "  ng-click="Tagging('Postpago','bt_pos_ini_adminfact_descargarfactura');getfactura()">
                    <div class="col-xs-12 pl0 pr0 plr prr balllilalight cbluelight tac br5all mt15 mb6p pb10 pt10 fwbbold fs14 cpointer outlinenone">
                       <div class="col-xs-2">
                            <img src="/Images/nternadescargarfactura.png" class="tac"></img>
                        </div>
                        <div class="col-xs-10 fs14 pt10 tac">
                            Descarga tu factura
                        </div> 
                    </div>
                </div>
                <div class="col-xs-12 hidden-md hidden-lg">
                    <div class="h4"></div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a href="#ConvenioElectronicoPostpago"  ng-click="Tagging('Postpago','bt_pos_ini_adminfact_facturadigital');">
                        <div class="col-xs-12 pl0 pr0 plr prr balllilalight cbluelight tac br5all mt15 mb6p pb10 pt10 fwbbold fs14 cpointer outlinenone">
                           <div class="col-xs-2">
                                <img src="/Images/Internaconvenioelectronico.png" class="tac"></img>
                            </div>
                            <div class="col-xs-10 fs14 pt10 tac">
                                Factura digital
                            </div> 
                        </div>
                    </a>
                    
                </div>
                <div class="col-xs-12 hidden-md hidden-lg">
                    <div class="h4"></div>
                </div>
            </div>
<!---------------------------------- end------------------------------------------------------------->
        </div>
    </div>
    
    <div class="col-xs-12 col-md-10 col-md-offset-1 p0 mt80">
        <!--<div class="col-xs-12 p0">
            <div class="col-xs-12 col-md-3 cpointer outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_adminfact_pagatufacturaaqui');pagatufactura()" ng-if="Datapost.facturaActual.valor != 0">
                <div class="col-xs-12 h80 bgcorange tac">
                    <img src="/Images/Internapagarfactura.png" class="mt10 tac"></img>
                    <div class="cwhite fs15 tac mt10">
                        Paga tu factura aquí
                    </div>
                </div>
            </div>-->

            <!-- Mobil -->
            <!--<div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>

            <div class="col-xs-12 col-md-3 cpointer outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_adminfact_pagoautofactura');domiciliacion()">
                <div class="col-xs-12 h80 bclilalight tac">
                    <img src="/Images/pagosautomaticosdefactura.png" class="mt10 tac w39"></img>
                    <div class="cwhite fs15 pb10">
                        Pagos automáticos de factura
                    </div>
                </div>
            </div>-->

            <!-- Mobil -->
            

            <!--<div class="col-xs-12 col-md-3 cpointer outlinenone" >
                <div class="col-xs-12 h80 bcgraymousebold tac" ng-click="Tagging('Postpago','bt_pos_ini_adminfact_descargarfactura');getfactura()">
                    <img src="/Images/internadescargarfactura.png" class="mt10 tac"></img>
                    <div class="cwhite fs15 mt5">
                        Descargar factura
                    </div>
                </div>
            </div>-->
            <!-- Mobil -->
           

           <!-- <div class="col-xs-12 col-md-3">
                <a href="#ConvenioElectronicoPostpago" class="outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_adminfact_facturadigital');">
                    <div class="col-xs-12 h80 bcgraymousemedium tac">
                        <img src="/Images/Internaconvenioelectronico.png" class="mt10 tac w35"></img>
                        <div class="cwhite fs15 mt5 fwbbold">
                            Factura Digital
                        </div>
                    </div>
                </a>
            </div>-->

            <!-- Mobil -->
        </div>
    </div>
</div>
<div class="col-xs-12" block-ui="block" ng-if="vista == 2">
    <!-- Formulario que se carga desde JavaScript y ejecuta una nueva pestaña para la domiciliacion de factura -->
    <div id="mainContent" class="dn"></div>

    <div class="col-xs-12 p0 fs40 fwbbold tac cgraybold mt25">
        Historial de pagos
    </div>
    
    <div class="col-xs-12 fs15 tac cgraybold mt1p pb25">
         <div class="col-xs-12 tac cgraybold mt1p">
            Número de Cuenta <span class="corange ml10">{{OpSelec.postpago}}</span>
        </div>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2 p0 mt25">
        <div class="col-xs-12 col-sm-6 col-md-4 fs13 mb15" ng-repeat="item in ultimosPagos.UltimosPagos | orderBy : 'FECHA'">
            <div class="col-xs-12 bslbposconsumo br10all p0 pt10 pb10">
                <div class="col-xs-12 cgraybold fs20 fwbbold">
                    {{item.MES | uppercase}}
                </div>
                <div class="col-xs-12 p0">
                    <div class="col-xs-6 corange">Fecha del pago:</div>
                    <div class="col-xs-6 tar">
                        {{item.FECHA}}
                    </div>
                </div>
                <div class="col-xs-12 p0">
                    <div class="col-xs-6 corange">Valor del pago:</div>
                    <div class="col-xs-6 tar">
                        {{fnreplace(item.VALOR)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3 mt4p">
            <div class="col-xs-12 p0 bgbluelight cwhite tac pb10 pt10 fwbbold fs16 cpointer outlinenone" ng-click="volveradministraFactura()">
                Volver
            </div>
        </div>
    </div>
</div>
