<style type="text/css">
    :focus {
        outline: none;
    }
</style>
<script>
    var URLactual = window.location;
    if (URLactual.pathname.indexOf('.') != -1) {
        window.location.href = "/";
    }
</script>
<!-- Modal: Mas productos postpago -->
<script type="text/ng-template" id="confimarAcDs.html">
    <div class="col-xs-12 mt6p tac">
        <img src="/Images/ico_InformacionEnLinea.svg" class="ico_InformacionEnLinea w100" ng-if="paquete.active == false">
        <img src="/Images/Miclaro.png" alt="logo miClaro popup" ng-if="paquete.active == true">
    </div>
    <div class="col-xs-12 p0" ng-if="paquete.active == false">
        <div class="col-xs-12 mt15 tac cgraybold fs22 hidden-xs hidden-sm">
            ¿Estas seguro que deseas eliminar {{paquete.solucionDesc}} de tus redes sociales?
        </div>
        <div class="col-xs-12 mt15 tac cgraybold fs20 hidden-md hidden-lg">
            ¿Estas seguro que deseas eliminar {{paquete.solucionDesc}} de tus redes sociales?
        </div>

        <div class="col-xs-12 mt15 tac clila fs20 hidden-xs hidden-sm">
            Recuerda que este cambio se verá reflejado imediatamente a tu cuenta móvil. Adicionalmente estos cambios se verán reflejados reflejados en tu próxima facturación.
        </div>
        <div class="col-xs-12 mt15 tac clila fs18 hidden-md hidden-lg">
            Recuerda que este cambio se verá reflejado imediatamente a tu cuenta móvil. Adicionalmente estos cambios se verán reflejados reflejados en tu próxima facturación.
        </div>
    </div>

    <div class="col-xs-12 p0" ng-if="paquete.active == true">
        <div class="col-xs-12 mt15 tac cgraybold fs22 lh1 hidden-xs hidden-sm">
            El consumo a esta aplicación será ilimitada sin consumir datos del plan.
        </div>
        <div class="col-xs-12 mt15 tac cgraybold fs22 lh1 hidden-xs hidden-sm">
            ¿Estas seguro que deseas adquirir la red social selecionada y agregarla a tu cuenta móvil?
        </div>

        <div class="col-xs-12 mt15 tac cgraybold fs18 lh1 18 hidden-md hidden-lg">
            El consumo a esta aplicación será ilimitada sin consumir datos del plan.
        </div>
        <div class="col-xs-12 mt15 tac cgraybold fs18 lh1 18 hidden-md hidden-lg">
            ¿Estas seguro que deseas adquirir la red social selecionada y agregarla a tu cuenta móvil?
        </div>

        <div class="col-xs-12 mt15 tac cblack fwbbold fs20">
            {{OpSelec.postpago}}
        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 p0 mb20">
            <div class="col-xs-12 mt35">
                <div class="col-xs-3">
                    Aplicación
                </div>
                <div class="col-xs-3">

                </div>
                <div class="col-xs-3">
                    Costo
                </div>
                <div class="col-xs-3">
                </div>
            </div>
            <div class="col-xs-12 mt15">
                <div class="col-xs-3">
                    <img ng-src="{{paquete.imagen}}" class="img img-responsive w32"></img>
                </div>
                <div class="col-xs-3">
                    {{paquete.solucionDesc}}
                </div>
                <div class="col-xs-3">
                    {{paquete.costoIva | currency:'$':0}}
                </div>
                <div class="col-xs-3">
                    <md-switch class="md-warn" ng-change="cancel()" ng-model="paquete.active"></md-switch>
                </div>
            </div>

            <div class="col-xs-12 bb1black mb10 mt15"></div>

            <div class="col-xs-12 mb15 tac fs16 clila">
                Recuerda que el cobro de la aplicación se verá <br> reflejado en tu factura de consumo
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 p0 fs16">
            <div class="col-xs-12 mb15 mt15">
                <div class="col-xs-8">
                    <div class="col-xs-12 p0">
                        Costo mensual
                    </div>
                    <div class="col-xs-12 p0 fs11">
                        Impuestos incluidos
                    </div>
                </div>
                <div class="col-xs-4 tar">
                    {{paquete.costoIva | currency:'$':0}}
                </div>
            </div>

            <div class="col-xs-12 mb15 mt15">
                <div class="col-xs-10">
                    Aceptar teminos y condiciones
                </div>
                <div class="col-xs-2 tar">
                    <md-switch class="md-warn" ng-model="terminos.istrue"></md-switch>
                </div>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 bcgraydark cwhite pt10 pb10 fs16 tac mt6p mb8p" ng-if="terminos.istrue == false">
            <div class="col-xs-2 p0">
                <img src="/Images/icon_comprar.png" alt="Pagar Paquete" class="">
            </div>
            <div class="col-xs-8">
                finalizar compra
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 bgcorange cwhite pt10 pb10 fs16 tac cpointer mt6p mb8p" ng-if="terminos.istrue == true" ng-click="ok()">
            <div class="col-xs-2 p0">
                <img src="/Images/icon_comprar.png" alt="Pagar Paquete" class="">
            </div>
            <div class="col-xs-8">
                finalizar compra
            </div>
        </div>

    </div>

    <div class="col-xs-10 col-xs-offset-1 mt6p mb8p" ng-if="paquete.active == false">
        <div class="col-xs-6" ng-click="cancel()">
            <div class="col-xs-12 bcgraydark cwhite pt10 pb10 fs16 tac cpointer">
                Cancelar
            </div>
        </div>
        <div class="col-xs-6" ng-click="ok()">
            <div class="col-xs-12 bgcorange cwhite pt10 pb10 fs16 tac cpointer">
                Aceptar
            </div>
        </div>
    </div>
    <div class="cb"></div>
</script>
<script type="text/ng-template" id="eliminado.html">
    <div class="col-xs-12 mt6p tac">
        <img src="/Images/ico_InformacionEnLinea.svg" class="ico_InformacionEnLinea w100">
    </div>
    <div class="col-xs-12 mt15 tac cgraybold fs18 lh1 18 ">
        Aplicación eliminada
    </div>
    <div class="col-xs-12 mb15 tac fs16 clila">
        A partir de este momento,<br> el uso de esta aplicación, consumirá los<br> datos incluidos en tu plan.
    </div>
    <div class="col-xs-10 col-xs-offset-1 mt6p mb8p">
        <div class="col-xs-10" ng-click="ok()">
            <div class="col-xs-12 bgcorange cwhite pt10 pb10 fs16 tac cpointer">
                Aceptar
            </div>
        </div>
    </div>
    <div class="cb"></div>
</script>

<div class="col-xs-12 p0">
    <div class="col-xs-12 p0">
        <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
            Elige tus Aplicaciones
        </div>
        <div class="col-xs-12 fs20 tac cgraybold mt1p pb25">
            <div class="col-xs-12 tac cgraybold mt1p">
                Número de Cuenta <span class="corange ml10">{{OpSelec.postpago}}</span>
            </div>
        </div>
        <!-- Content padre -->
        <div class="col-xs-12 p0" block-ui="blockdatosPerso" ng-if="vista == 1">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="col-xs-12 p0">
                    <div class="col-xs-12 tac mb15 pb7 p0">
                        <div class="col-xs-12 tac cgraybold mb15 p0 fs20 pb7 hidden-xs hidden-sm">
                            Activa o desactiva las aplicaciones <br> adicionales ilimitadas que deseas agregar a <br>tu cuenta móvil
                        </div>
                        <div class="col-xs-12 tac cgraybold mb15 p0 fs16 pb7 hidden-md hidden-lg">
                            Activa o desactiva las aplicaciones <br> adicionales ilimitadas que deseas agregar a <br>tu cuenta móvil
                        </div>
                        <div class="col-xs-12 dn-flex flwrap hidden-md hidden-lg p0">
                            <div class="col-xs-12 p0 mt12 fs18">
                                <div class="col-xs-2 p0 tal">Aplicación</div>
                                <div class="col-xs-4 pt20 tal"></div>
                                <div class="col-xs-4 tac">Costo Mensual</div>
                                <div class="col-xs-3 pt15 fs-s pr0 tar"></div>
                            </div>
                            <div class="col-xs-12 p0 cNegro mt12 mb15" ng-repeat="item in ofertas">
                                <div class="row">
                                    <div class="col-xs-2 p0 tal">
                                        <div class="col-xs-12 p0 fs-sm">
                                            <img ng-src="{{item.imagen}}" class="img img-responsive"></img>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 pt20 tal">
                                        <div class="col-xs-12 cgraybold fwbbold">
                                            {{item.solucionDesc}}
                                        </div>
                                    </div>
                                    <div class="col-xs-2 pt20 tac p0">
                                        <div class="col-xs-12 cgraybold fwbbold" ng-if="item.active == false">
                                            {{item.costoIva | currency:'$':0}}
                                        </div>
                                    </div>
                                    <div class="col-xs-3 pt15  fs-s pr0 tar">
                                        <div class="col-xs-12">
                                            <md-switch class="md-warn" ng-disabled="!item.habilitado" ng-change="soluciones(item)" ng-model="item.active"></md-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 dn-flex flwrap hidden-xs hidden-sm">
                            <div class="col-xs-6 p0 mt12 fs18">
                                <div class="col-xs-2 p0 tal">Aplicación</div>
                                <div class="col-xs-4 pt20 tal"></div>
                                <div class="col-xs-4 tac">Costo Mensual</div>
                                <div class="col-xs-3 pt15 fs-s pr0 tar"></div>
                            </div>
                            <div class="col-xs-6 p0 mt12 fs18">
                                <div class="col-xs-2 p0 tal">Aplicación</div>
                                <div class="col-xs-4 pt20 tal"></div>
                                <div class="col-xs-4 tac">Costo Mensual</div>
                                <div class="col-xs-3 pt15 fs-s pr0 tar"></div>
                            </div>
                            <div class="col-xs-6 p0 cNegro mt12 mb15" ng-repeat="item in ofertas">
                                <div class="row">
                                    <div class="col-xs-2 p0 tal">
                                        <div class="col-xs-12 p0 fs-sm">
                                            <img ng-src="{{item.imagen}}" class="img img-responsive"></img>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 pt20 tal">
                                        <div class="col-xs-12 cgraybold fwbbold">
                                            {{item.solucionDesc}}
                                        </div>
                                    </div>
                                    <div class="col-xs-2 pt20 tac p0">
                                        <div class="col-xs-12 cgraybold fwbbold" ng-if="item.active == false">
                                            {{item.costoIva | currency:'$':0}}
                                        </div>
                                    </div>
                                    <div class="col-xs-3 pt15  fs-s pr0 tar">
                                        <div class="col-xs-12">
                                            <md-switch class="md-warn" ng-disabled="!item.habilitado" ng-change="soluciones(item)" ng-model="item.active"></md-switch>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 p0" ng-if="vista == 2">
            <div class="col-xs-12 tac">
                <img src="/Images/ico_InformacionEnLinea.svg" class="ico_InformacionEnLinea w100">
            </div>
            <div class="col-xs-12 tac cgraybold mb15 fs20 mt25 hidden-xs hidden-sm">
                Has añadido existosamente la siguiente <br /> red social a tu cuenta móvil
            </div>
            <div class="col-xs-12 tac cgraybold mb15 fs20 mt25 hidden-md hidden-lg">
                Has añadido existosamente la siguiente red social a tu cuenta móvil
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 p0 mb20">
                <div class="col-xs-12 mt15">
                    <div class="col-xs-12 mt15 tac cblack fwbbold fs20">
                        {{OpSelec.postpago}}
                    </div>
                </div>
                <div class="col-xs-12 bb1black mb10 mt15"></div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-4 mt15">
                    <div class="col-xs-6">
                        <img ng-src="{{paqueteSelec.imagen}}" class="img img-responsive w32"></img>
                    </div>
                    <div class="col-xs-6">
                        {{paqueteSelec.solucionDesc}}
                    </div>
                </div>
                <div class="col-xs-12 p0 hidden-xs hidden-sm">
                    <div class="col-xs-12 mt15 tac clila fs20">
                        Apartir de este momento podrás disfrutar de <br /> los beneficios que acabas de adquirir.
                    </div>
                    <div class="col-xs-12 mt15 tac clila fs20">
                        Recuerda que el cobro se verá <br /> reflejado en tu próxima factura.
                    </div>
                </div>
                <div class="col-xs-12 p0 hidden-md hidden-lg">
                    <div class="col-xs-12 mt15 tac clila fs20">
                        Apartir de este momento podrás disfrutar de los beneficios que acabas de adquirir.
                    </div>
                    <div class="col-xs-12 mt15 tac clila fs20">
                        Recuerda que el cobro se verá reflejado en tu próxima factura.
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-4 mt4p bgcorange cwhite pt10 pb10 fs16 tac cpointer" ng-click="getinfo()">
                    Aceptar
                </div>
            </div>
        </div>
    </div>
</div>
