<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 p0 mb20">
    <div class="col-xs-12 p0 hidden-xs">
        <div class="col-xs-3 col-sm-4 tac">
            <div class="col-xs-12 tac fs18 mb5">
                Equipo seleccionado
            </div>
            <div class="col-xs-12 bsdetallepaquetepre mb20 p0">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 p0 pt20 pb20">
                    <img ng-src="{{dataEnviar.imagenes[0]}}" alt="{{dataEnviar.anombre}}" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-sm-8">
            <div class="col-xs-12 col-sm-10 col-sm-offset-2 p0">
                <div class="col-xs-12 p0">Precio normal</div>
                <div class="col-xs-12 cblack fwbbold fs18 tdlt p0">{{fnreplace(producto.aprecioPublico)}}</div>
                <div class="col-xs-12 cblack fwbbold fs25 mb25">
                    {{dataEnviar.anombre}}
                </div>
                <div class="col-xs-12 fs18">
                    Cliente claro
                </div>
                <div class="col-xs-12 fs28 fwbbold clila">
                    {{fnreplace(dataEnviar.aprecio)}}
                </div>
                <div class="col-xs-12 fs13">
                    Impuestos incluidos
                </div>
                <div class="col-xs-12 fs18">
                    Color seleccionado
                </div>
                <div class="col-xs-12 mb18 mt5">
                    <div ng-repeat="color in dataEnviar.alistInventarioProducto" style="background:{{color.acodigo}};" ng-if="dataEnviar.colorelid == color.aproductoColorID" class="br50pall w20 h20 flleft bc1graybold mr3">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0 hidden-md hidden-sm hidden-lg">
        <div class="col-xs-5 col-sm-4 tac p0">
            <div class="col-xs-12 bsdetallepaquetepre mb20 p0">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 p0 pt20 pb20">
                    <img ng-src="{{dataEnviar.imagenes[0]}}" alt="{{dataEnviar.anombre}}" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="col-xs-7 col-sm-8 tar p0">
            <div class="col-xs-12 col-sm-10 col-sm-offset-2 p0">
                <div class="col-xs-12 fs18 mb5">
                    Equipo seleccionado
                </div>
                <div class="col-xs-12 cblack fwbbold fs21 mb25">
                    {{dataEnviar.anombre}}
                </div>
                <div class="col-xs-12 fs18">
                    Cliente claro
                </div>
                <div class="col-xs-12 fs28 fwbbold clila">
                    {{fnreplace(dataEnviar.aprecio)}}
                </div>
                <div class="col-xs-12 fs11">
                    Impuestos incluidos
                </div>
                <div class="col-xs-12 fs18">
                    Color seleccionado
                </div>
                <div class="col-xs-12 mb18 mt5">
                    <div ng-repeat="color in dataEnviar.alistInventarioProducto" style="background:{{color.acodigo}};" ng-if="dataEnviar.colorelid == color.aproductoColorID" class="br50pall w20 h20 flr bc1graybold mr3">
                    </div>
                </div>
                
                <div class="col-xs-12">
                    <img src="/Images/rte_enviogratis.png" class="ma img-responsive pr10" align="left"></img>
                    Envío gratis
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-8 col-sm-offset-2 p0">
        <div class="col-xs-12 fwbbold fs28 p0 mb10">
            <img align="left" src="/Images/rte_equipo_gris.png" alt="" class="ma img-responsive h31 pr10"></img>
            Paga con tu factura
        </div>
        <div class="col-xs-12 p0 fs13 tac fs16 mt10 mb10">
            Escoga una opción para el pago de tu equipo
        </div>
        <div class="col-xs-12 p0 fs18 mb10">
            <div class="col-xs-10 p0">
                1 - Pago en próxima factura
            </div>
            <div class="col-xs-2 p0">
                <label for="cuotasuno"></label>
                <input type="radio" id="cuotasuno" ng-model="cuotas.tcuotas" value="1" ng-click="Tagging('Postpago','bt_pos_ini_renuequi_equi1_pagcuo_proxfac')"/>
            </div>
            <div class="col-xs-12 p0 fs16">
                Paga el monto total de tu equipo en tu próxima factura 
            </div>
            <div class="col-xs-12 p0 fs30 mb10 mt10" ng-if="cuotas.tcuotas == 1">
                <div class="col-xs-6">
                    Valor total a pagar 
                </div>
                <div class="col-xs-6 corange fwbbold">
                    {{fnreplace(dataEnviar.aprecio)}}
                </div>
            </div>
        </div>
         <div class="col-xs-12 p0 fs18">
            <div class="col-xs-10 p0">
                2 - Diferir a cuotas
            </div>
            <div class="col-xs-2 p0">
                <label for="vcuotas"></label>
                <input type="radio" id="vcuotas" ng-model="cuotas.tcuotas" value="2" ng-click="Tagging('Postpago','bt_pos_ini_renuequi_equi1_pagcuo_difcuo')" />
            </div>
            <div class="col-xs-12 p0 fs16">
                Selecciona la cantidad de cuotas con las cuales deseas diferir el pago de tu equipo.  
            </div>
            <div class="col-xs-12 p0" ng-if="cuotas.tcuotas == 2">
                <div class="col-xs-10 col-sm-offset-2 p0 mb10">
                    <div class="col-xs-12 fs24">
                        Cuotas (*)
                    </div>
                    <div class="col-xs-12 cgray fs18 mt1p">
                        <select ng-model="cuotas.ncuotas" class="col-xs-12 fs18 p7">
                          <option ng-repeat="item in cuotastext" ng-click="bt_pos_ini_renuequi_equi1_pagcuo_{{item.num}}cuo" value="{{item.num}}">{{item.num}}</option>
                        </select>
                    </div>
                    <div class="col-xs-12 tac fs16">
                        Recuerda que tu solicitud de renovación equipo será confirmada por uno de nuestros asesores.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 pt20">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 bclilalight cwhite tac pt10 pb10 mt7 cpointer" ng-click="volver(3)">
            Volver
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 bgRojoBl cwhite tac pt10 pb10 mt7 cpointer" ng-click="Tagging('Postpago','bt_pos_ini_renuequi_equi1_pagcuo_cont');ptpagarconfactura(5)">
            Pago con cargo a tu factura
        </div>
    </div>
</div>