<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 p0 mb20" ng-init="Tagging('Postpago','pt_pos_ini_renuequi_equi1_comp');">
    <div class="col-xs-12 p0 hidden-xs">
        <div class="col-xs-3 col-sm-4 tac">
            <div class="col-xs-12 tac fs18 mb5">
                Equipo seleccionado
            </div>
            <div class="col-xs-12 bsdetallepaquetepre mb20 p0">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 p0 pt20 pb20">
                    <img ng-src="{{productentrega.imagenes[0]}}" alt="{{productentrega.anombre}}" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-sm-8">
            <div class="col-xs-12 col-sm-10 col-sm-offset-2 p0">
                <div class="col-xs-12 cblack fwbbold fs25 mb25">
                    {{productentrega.anombre}}
                </div>
                
                <div ng-if="productentrega.aprecioPublico!=0">
                    <div class="col-xs-12">Precio normal</div>
                    <div class="col-xs-12 cblack fwbbold fs28 tdlt ">{{fnreplace(productentrega.aprecioPublico)}}</div>
                    <div class="col-xs-12">Cliente Claro</div>
                    <div class="col-xs-12 clila fwbbold fs28 ">{{fnreplace(productentrega.aprecio)}}</div>
                </div>
                <div ng-if="productentrega.aprecioPublico==0">
                    <div class="col-xs-12">Precio normal</div>
                    <div class="col-xs-12 clila fwbbold fs28">{{fnreplace(productentrega.aprecio)}}</div>
                </div>
                
                <div class="col-xs-12 fs13">
                    Impuestos incluidos
                </div>
                <div class="col-xs-12 fs18">
                    Color seleccionado
                </div>
                <div class="col-xs-12 mb18 mt5">
                    <div ng-repeat="color in elegircolor" style="background:{{color.colorbg.acodigo}};" ng-click="colorElegido($index)" class="br50pall bnfocus w20 h20 flleft bc1graybold mr3">
                        <img src="/Images/icon_check_azul.png" alt="Color Elegido" ng-if="color.visible == true" class="w100p">
                    </div>
                </div>
                <div class="col-xs-12">
                    <img src="/Images/rte_enviogratis.png" class="ma img-responsive pr10" align="left"></img>
                    Envío gratis
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0 hidden-md hidden-sm hidden-lg">
        <div class="col-xs-5 col-sm-4 tac p0">
            <div class="col-xs-12 bsdetallepaquetepre mb20 p0">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 p0 pt20 pb20">
                    <img ng-src="{{productentrega.imagenes[0]}}" alt="{{productentrega.anombre}}" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="col-xs-7 col-sm-8 tar p0">
            <div class="col-xs-12 col-sm-10 col-sm-offset-2 p0">
                <div class="col-xs-12 fs18 mb5">
                    Equipo seleccionado
                </div>
                <div class="col-xs-12 cblack fwbbold fs21 mb10">
                    {{productentrega.anombre}}
                </div>
                <div class="col-xs-12 fs18">
                    Cliente claro
                </div>
                <div class="col-xs-12 fs28 fwbbold clila">
                    {{fnreplace(productentrega.aprecio)}}
                </div>
                <div class="col-xs-12 fs11">
                    Impuestos incluidos
                </div>
                <div class="col-xs-12 fs18">
                    Color seleccionado
                </div>
                <div class="col-xs-12 mb18 mt5">
                    <div ng-repeat="color in elegircolor" style="background:{{color.colorbg.acodigo}};" ng-click="colorElegido($index)" ng-disabled="color.visible"  class="br50pall bnfocus w20 h20 flr bc1graybold mr3">
                        <img src="/Images/icon_check_azul.png" alt="Color Elegido" ng-if="color.visible == true" class="w100p">
                    </div>
                </div>
                <div class="col-xs-12">
                    <span class="flr">Envío gratis</span>
                    <img src="/Images/rte_enviogratis.png" class="ma img-responsive pr10 flr" align="left"></img>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 pt10 pb25 p0">
        <div class="col-xs-12 fwbbold fs28 pb10">
            <img src="/Images/rte_enviogratis.png" class="ma img-responsive pr10" align="left"></img>
            Datos de envío
        </div>
        <div class="col-xs-12 p0 fwbbold tac pb25 fs16 cgraybold">
            Los campos que se encuentran marcados con (<span class="corange">*</span>) son obligatorios.
        </div>
        <div class="col-xs-12 col-md-4 fs17 mb4p">
            Departamento <span class="corange">*</span>
            <select name="Departamento" class="form-control-entrega bnfocus hidden-xs" ng-options="departamentos.indexOf(departamento) as departamento.Departamento for departamento in departamentos" ng-change="ciudadselect()"  ng-model="datosEnvio.departamentos"></select>
            <md-select class="selectEntrega bsdetallepaquetepre fs14 cgraybold bnfocus outlinenone col-xs-12 m0 talast bcwhite hidden-sm hidden-md hidden-lg" aria-label="Follow" ng-model="datosEnvio.departamentos" ng-change="ciudadselect()">
              <md-option value="{{$index}}" ng-repeat="departamento in departamentos">{{departamento.Departamento}}</md-option>
            </md-select>
        </div>
        <div class="col-xs-12 col-md-4 fs17 mb4p">
            Ciudad <span class="corange">*</span>
            <select name="Ciudades" class="form-control-entrega bnfocus hidden-xs" ng-options="cuidades.indexOf(cuidad) as cuidad for cuidad in cuidades"  ng-model="datosEnvio.cuidad"></select>
            <md-select class="selectEntrega bsdetallepaquetepre fs14 cgraybold bnfocus outlinenone col-xs-12 m0 talast bcwhite hidden-sm hidden-md hidden-lg" aria-label="Follow" ng-model="datosEnvio.cuidad">
              <md-option value="{{$index}}" ng-repeat="cuidad in cuidades">{{cuidad}}</md-option>
            </md-select>
        </div>
        <div class="col-xs-12 col-md-4 fs17 mb4p">
            Dirección <span class="corange">*</span>
            <input type="text" name="direccion" id="direccion" class="form-control-entrega bnfocus stylePlace" ng-model="datosEnvio.direccion" placeholder="Escriba la dirección del domicilio"/>
        </div>
        <div class="col-xs-12 col-md-4 fs17 pt10 mb4p">
            Detalles de la dirección
            <textarea class="texarea-entrega form-control-entrega bnfocus stylePlace" id="detalles" rows="4" ng-model="datosEnvio.detalles" placeholder="Ingresa torre, apartamento, conjunto, casa u oficina"></textarea>
        </div>
    </div>
    <div class="col-xs-12 col-sm-10 col-md-offset-1">
        <div class="col-xs-12 col-md-6">
            <div class="col-xs-12 p0 bclilalight cwhite tac mt7 pb10 pt10 fwbbold fs16 cpointer bnfocus" ng-click="verifyInfo()">
                Volver
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="col-xs-12 bgRojoBl cwhite tac pt10 pb10 mt7 cpointer fs16 bnfocus" ng-click="tagging('Postpago','bt_pos_ini_renuequi_equi1_comp_paga');pagar(productentrega)">
                Pagar
            </div>
        </div>
    </div>
</div>