@font-face {
    font-family: 'RobotoRegular';
    src: url('/Css/Fuentes/Roboto-Regular.eot');
    src: url('/Css/Fuentes/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('/Css/Fuentes/Roboto-Regular.woff') format('woff'),
        url('/Css/Fuentes/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoLight';
    src: url('/Css/Fuentes/Roboto-Light.eot');
    src: url('/Css/Fuentes/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('/Css/Fuentes/Roboto-Light.woff') format('woff'),
        url('/Css/Fuentes/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('/Css/Fuentes/Roboto-Bold.eot');
    src: url('/Css/Fuentes/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('/Css/Fuentes/Roboto-Bold.woff') format('woff'),
        url('/Css/Fuentes/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('/Css/Fuentes/DINBoldAlternate.eot');
    src: url('/Css/Fuentes/DINBoldAlternate.eot?#iefix') format('embedded-opentype'),
        url('/Css/Fuentes/DINBoldAlternate.woff') format('woff'),
        url('/Css/Fuentes/DINBoldAlternate.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Fuentes */
.RobotoRegular{font-family: 'RobotoRegular'}
.RobotoLight{font-family: 'RobotoLight'}
.RobotoBold{font-family: 'RobotoBold'}
.DIN{font-family: 'DIN'}

input{font-family: 'RobotoRegular'}
select{font-family: 'RobotoRegular'}
body,html{font-family: 'RobotoRegular'}

.p50 {padding: 50px !important;}
.p10 {padding: 10px !important;}
.p5 {padding: 5px !important;}
.p15 {padding: 15px !important;}
.p20 {padding: 20px !important;}
.p30 {padding: 30px !important;}
.p7 {padding: 7px !important;}
.pr3 {padding-right: 3px !important;}
.pr10 {padding-right: 10px !important;}
.pr38 {padding-right: 38px !important;}
.p0 {padding:0px !important;}
.pr60 {padding-right: 60px !important;}
.pr15 {padding-right: 15px;}
.pr25 {padding-right: 25px;}
.pr30 {padding-right: 30px !important;}
.pr0 {padding-right:0px;}
.pl0 {padding-left:0px;}
.pl38 {padding-left: 38px !important;}
.pl36 {padding-left: 36px !important;}
.pl30{padding-left: 30px !important;}
.pl25 {padding-left: 25px !important;}
.pl22 {padding-left: 22px !important;}
.pl15 {padding-left: 15px !important;}
.pl16 {padding-left: 16px !important;}
.pl60 {padding-left: 60px !important;}
.pl8 {padding-left: 8px !important;}
.pl7 {padding-left: 7px !important;}
.pl6 {padding-left: 6px;}
.pl5 {padding-left: 5px !important;}
.pl3 {padding-left: 3px !important;}
.p0 {padding-left: 0px !important;}
.pl2 {padding-left: 2px !important;}
.pl1 {padding-left: 1px !important;}
.pt60 {padding-top: 60px !important;}
.pt30 {padding-top:30px !important;}
.pt33 {padding-top:33px !important;}
.pt27 {padding-top:27px !important;}
.pt25 {padding-top: 25px !important;}
.pt22 {padding-top:22px !important;}
.pt21 {padding-top:21px !important;}
.pt20 {padding-top:20px !important;}
.pt19 {padding-top:19px !important;}
.pt17 {padding-top:17px !important;}
.pt15 {padding-top:15px !important;}
.pt12 {padding-top:12px !important;}
.pt10 {padding-top:10px !important;}
.pt8 {padding-top:8px !important;}
.pt7 {padding-top: 7px;}
.pt5 {padding-top:5px !important;}
.pt4 {padding-top:4px !important;}
.pt4p {padding-top: 4% !important;}
.pt3 {padding-top:3px;}
.pb40 {padding-bottom:40px !important;}
.pb30 {padding-bottom:30px !important;}
.pb25 {padding-bottom:25px !important;}
.pb18 {padding-bottom:18px;}
.pb16 {padding-bottom:16px;}
.pb10 {padding-bottom:10px !important;}
.pb15 {padding-bottom:15px !important;}
.pb20 {padding-bottom:20px !important;}
.pb9 {padding-bottom:9px !important;}
.pb7 {padding-bottom:7px;}
.pb5 {padding-bottom:5px !important;}
.pb4p {padding-bottom:4%;}
.pb3 {padding-bottom:3px;}
.pb2 {padding-bottom:2px;}
.pl10 {padding-left:10px !important;}
.pl28 {padding-left:28px !important;}
.pl30 {padding-left:30px;}
.pl40 {padding-left:40px !important;}
.pl14p {padding-left:14% !important;}
.pl22p {padding-left:22% !important;}

/* Padding porcentajes */ 
.pt2p {padding-top:2%;}
.pb2p {padding-bottom:2%;}

.mh800{min-height: 800px !important;}
.mh316{min-height: 316px !important;}
.mh300{min-height: 300px !important;}
.mh200{min-height: 200px !important;}
.mh70{min-height: 70px !important;}
.mh0{min-height: 0px !important;}

.max-h810{max-height: 810px !important;}
.max-h800{max-height: 800px !important;}
.max-h790{max-height: 790px !important;}
.max-h780{max-height: 780px !important;}
.max-h770{max-height: 770px !important;}
.max-h750{max-height: 750px !important;}
.max-h730{max-height: 730px !important;}
.max-h710{max-height: 710px !important;}
.max-h690{max-height: 690px !important;}
.max-h640{max-height: 640px !important;}
.max-h625{max-height: 625px !important;}
.max-h600{max-height: 600px !important;}
.max-h360{max-height: 360px !important;}
.max-h500{max-height: 500px !important;}
.max-h150{max-height: 150px !important;}

.h790 {height: 790px !important;}
.h730 {height: 730px !important;}
.h500 {height: 500px;}
.h400 {height: 400px;}
.h390 {height: 390px;}
.h380 {height: 380px;}
.h360 {height: 360px;}
.h316 {height: 316px;}
.h256 {height: 256px;}
.h200 {height: 200px;}
.h179 {height: 179px;}
.h170 {height: 170px;}
.h140 {height:140px;}
.h135 {height: 135px !important;}
.h144 {height:144px;}
.h126 {height:126px;}
.h124 {height:124px;}
.h111 {height:111px;}
.h110 {height:110px;}
.h102 {height:102px;}
.h100 {height:100px;}
.h98 {height:98px;}
.h85 {height:85px;}
.h80 {height:80px;}
.h76 {height:76px;}
.h70 {height:70px;}
.h65 {height:65px;}
.h60 {height:60px;}
.h55 {height:55px;}
.h54 {height:54px;}
.h50 {height:50px;}
.h45 {height:45px;}
.h40 {height:40px;}
.h35 {height:35px;}
.h34 {height:34px;}
.h33 {height:33px;}
.h31 {height:31px;}
.h30 {height:30px;}
.h28 {height:28px;}
.h25 {height:25px;}
.h24 {height:24px;}
.h20 {height:20px;}
.h19 {height:19px !important;}
.h10 {height:10px;}
.h4 {height:4px;}
.h1 {height:1px;}

.h100p {height:100% !important;}
.h80p {height:80% !important;}

.w1977 {width: 1977px !important}
.w1500  {width: 1500px !important}
.w1300 {width: 1300px !important}
.w304 {width: 304px;}
.w260 {width: 260px !important;}
.w210 {width: 210px !important;}
.w200 {width: 125px !important;}
.w160 {width: 160px !important;}
.w125 {width: 125px !important;}
.w115 {width: 115px !important;}
.w108 {width: 108px !important;}
.w107 {width: 107px !important;}
.w145 {width: 145px !important;}
.w100 {width: 100px !important;}
.w80 {width: 80px !important;}
.w77 {width: 77px;}
.w70 {width: 70px;}
.w69 {width: 69px !important;}
.w66 {width: 66px !important;}
.w64 {width: 64px !important;}
.w60 {width: 60px !important;}
.w56 {width: 56px;}
.w55 {width: 55px !important;}
.w50 {width: 50px !important;}
.w40 {width: 40px !important;}
.w47 {width: 47px;}
.w41 {width: 41px;}
.w39 {width: 39px;}
.w35 {width: 35px;}
.w34 {width: 34px;}
.w33 {width: 33px;}
.w32 {width: 32px;}
.w36 {width: 36px !important;}
.w27 {width: 27px !important;}
.w28 {width: 28px !important;}
.w25 {width: 25px !important;}
.w23 {width: 23px !important;}
.w20 {width: 20px !important;}
.w18 {width: 18px !important;}
.w17 {width: 17px !important;}
.w10 {width: 10px !important;}
.w13 {width: 13px !important;}

.w20p{width: 20%;}
.w100p{width: 100%;}

.fs80 {font-size: 80px;}
.fs70 {font-size: 70px;}
.fs60 {font-size: 60px;}
.fs55 {font-size: 55px;}
.fs50 {font-size: 50px;}
.fs48 {font-size: 48px;}
.fs45 {font-size: 45px;}
.fs42 {font-size: 42px;}
.fs41 {font-size: 41px;}
.fs40 {font-size: 40px;}
.fs34 {font-size: 34px;}
.fs35 {font-size: 35px;}
.fs32 {font-size: 32px;}
.fs30 {font-size: 30px;}
.fs28 {font-size: 28px;}
.fs25 {font-size: 25px;}
.fs24 {font-size: 24px;}
.fs22 {font-size: 22px;}
.fs21 {font-size: 21px;}
.fs20 {font-size: 20px;}
.fs19 {font-size: 19px;}
.fs18 {font-size: 18px;}
.fs17 {font-size: 17px;}
.fs16 {font-size: 16px;}
.fs15 {font-size: 15px;}
.fs14 {font-size: 14px;}
.fs13 {font-size: 13px;}
.fs12 {font-size: 12px;}
.fs11 {font-size: 11px;}
.fs10 {font-size: 10px;}
.fs9 {font-size: 9px;}
.fs7 {font-size: 7px;}

.fsbe20{font-size: 20px;}

.lh1 {line-height: 1;}
.lh33px {line-height: 33px;}
.lh14px {line-height: 16px;}
.lh16px {line-height: 16px;}
.lh22px {line-height: 22px;}
.lh2-4px {line-height: 2.428571 !important;}

.corange{color:rgb(245, 52, 2);}
.cwhite {color:white !important;}
.cblack {color:black}
.cblackopacity{color:rgba(0, 0, 0, 0.39);}
.cblue{color:#145FB2;}
.cbluelight {color:rgb(1, 187, 211);}
.cred {color:red;}
.cgreen {color:green}
.clila{color:rgb(0, 151, 171) !important;}
.cgray{color:rgb(129, 129, 129);}
.cgraydark{color: rgb(79, 79, 79);}
.cgraylight{color:rgb(155, 155, 155) !important;}
.cgraybold {color:rgb(155, 155, 155);}
.cgrayboldhome {color:rgb(101, 101, 100);}
.cgraymouse{color: rgb(188, 188, 188);}
.clilalight{color: rgb(0, 151, 171);}
.cttc{color: rgb(155, 155, 155);}
.cdtc{color: rgb(155, 155, 155);}
.clRojoBl {color: rgb(214, 46, 4);}
.cblueface{color: rgb(0, 150, 169);}
.cgraylightple::-webkit-input-placeholder {color: rgb(155, 155, 155) !important;}
.cgraylightple:-moz-placeholder {/* FF 4-18 */color: rgb(155, 155, 155) !important;}
.cgraylightple::-moz-placeholder {/* FF 19+ */color: rgb(155, 155, 155) !important;}
.cgraylightple:-ms-input-placeholder {/* IE 10+ */color: rgb(155, 155, 155) !important;}

.ml-78 {margin-left:-78px;}
.ml-15 {margin-left:-15px;}
.ml-10 {margin-left:-10px;}
.ml35p {margin-left: 35%;}
.ml20 {margin-left: 20px;}
.ml15 {margin-left: 15px;}
.ml13 {margin-left: 13px;}
.ml10 {margin-left: 10px;}
.ml7 {margin-left: 7px;}
.ml3 {margin-left: 3px;}
.mr15 {margin-right:15px;}
.mr30 {margin-right:30px;}
.mr35 {margin-right:35px;}
.mr25 {margin-right:25px;}
.mr13 {margin-right:13px;}
.mr12 {margin-right:12px;}
.mr10 {margin-right:10px !important;}
.mr3 {margin-right:3px;}
.mt80 {margin-top:80px;}
.mt100 {margin-top:100px;}
.mt55 {margin-top:55px;}
.mt50 {margin-top:50px;}
.mt40 {margin-top:40px;}
.mt34 {margin-top:34px;}
.mt35 {margin-top:35px;}
.mt33 {margin-top:33px;}
.mt30 {margin-top:30px;}
.mt26 {margin-top:26px;}
.mt25 {margin-top:25px !important;}
.mt24 {margin-top:24px !important;}
.mt23 {margin-top:23px;}
.mt22 {margin-top:22px;}
.mt20 {margin-top:20px !important;}
.mt19 {margin-top:19px !important;}
.mt18 {margin-top:18px !important;}
.mt17 {margin-top:17px !important;}
.mt16 {margin-top:16px !important;}
.mt15 {margin-top:15px !important;}
.mt13 {margin-top:13px;}
.mt12 {margin-top:12px !important;}
.mt11 {margin-top:11px;}
.mt10 {margin-top:10px;}
.mt8  {margin-top:8px !important;}
.mt7  {margin-top:7px !important;}
.mt6  {margin-top:6px;}
.mt5  {margin-top:5px;}
.mt4  {margin-top:4px;}
.mt3  {margin-top:3px;}
.mt2  {margin-top:2px;}
.mt1  {margin-top:1px;}
.mt0  {margin-top:0px;}
.mt-3 {margin-top:-3px;}
.mt-110 {margin-top:-110px;}
.mt-100c {margin-top:-100%;}
.mt-80 {margin-top:-80px;}
.mt-12 {margin-top:-12px;}
.mt-64 {margin-top: -64px;}
.mb40 {margin-bottom: 40px;}
.mb35 {margin-bottom: 35px;}
.mb33 {margin-bottom: 33px;}
.mb30 {margin-bottom: 30px;}
.mb25 {margin-bottom: 25px !important}
.mb24 {margin-bottom: 24px;}
.mb20 {margin-bottom:20px;}
.mb18 {margin-bottom: 18px;}
.mb15 {margin-bottom: 15px;}
.mb14 {margin-bottom: 14px !important;}
.mb12 {margin-bottom: 12px;}
.mb10 {margin-bottom: 10px;}
.mb5 {margin-bottom: 5px;}
.mb2 {margin-bottom: 2px;}
.mb1 {margin-bottom: 1px;}
.mb0 {margin-bottom: 0px;}
.mb-6 {margin-bottom: -6px;}
.m0 {margin: 0px !important;}
.ma {margin: auto;}

/* Margenes porcentajes */ 

.mt13p{margin-top: 13%;}
.mt12p{margin-top: 12%;}
.mt11p{margin-top: 11%;}
.mt10p{margin-top: 10%;}
.mt9p{margin-top: 9%;}
.mt8p{margin-top: 8%;}
.mt7p{margin-top: 7%;}
.mt6p{margin-top: 6%;}
.mt5p{margin-top: 5%;}
.mt4p{margin-top: 4%;}
.mt3p{margin-top: 3%;}
.mt2p{margin-top: 2%;}
.mt1p{margin-top: 1%;}
.mb16p{margin-bottom: 16%;}
.mt20p{margin-top: 20%;}
.mb10p{margin-bottom: 10%;}
.mb8p{margin-bottom: 8%;}
.mb7p{margin-bottom: 7% !important;}
.mb6p{margin-bottom: 6%;}
.mb5p{margin-bottom: 5%;}
.mb4p{margin-bottom: 4%;}
.mb3p{margin-bottom: 3%;}
.mb2p{margin-bottom: 2%;}
.mb1p{margin-bottom: 1%;}

.t0{top:0px;}
.t54{top:54px;}
.l51{left:51px;}
.l14{left:14px;}
.l11{left:11px;}
.l34{left:34px;}
.display-box-inline{
    display: -webkit-inline-box;
}

.bgcorange{background-color:rgb(245, 52, 2) !important;}
.bclilalight{background-color: rgb(0, 151, 171);}
.bclilalightx{background-color: rgba(135, 206, 215, 0.9);}
.bcgraychat{background: #dfdfdf;}
.bcwhite{background-color: white;}
.bcblack{background-color: black !important;}
.bcgraylight{background-color: rgb(245, 245, 245);}
.bcgraycajas{background-color: rgb(248, 248, 248)}
.bcgraydark{background-color: #797979;}
.bcgraylighttabs{background-color: rgb(225, 228, 233) !important;}
.bcgrayalllighttabs{background-color:  #f7f7f7 !important;}
.bcgraymouse{background-color: rgb(188, 188, 188);}
.bcgraymousemedium{background-color: rgb(169, 168, 168);}
.bcgraymousebold{background-color: #797979;}
.bgRojoBl {background-color: rgb(214, 46, 4);}
.bgbluelight {background-color:rgb(1, 187, 211);}
.bgblueface{background-color: rgb(0, 150, 169);}
.bgrojoActive{background-color: rgb(255, 50, 34);}

.flleft{float:left;}
.flr{float: right;}
.fln{float: none !important;}

.tal{text-align: left;}
.talI{text-align: left !important;}
.tar{text-align: right;}
.tac{text-align: center;}
.taj{text-align: justify;}
.talast{text-align-last: center !important;}

.fwbbold {font-weight:bold !important;font-family: 'RobotoBold' !important}
.fwlight {font-weight:lighter;}
.fw900 {font-weight: 900;}
.fw600 {font-weight: 600;}
.fw100 {font-weight: 100;}

.pabsolute{position: absolute;}
.prelative{position: relative;}
.pinitial{position: initial !important;}
.pfixed{position: fixed;}

.b390{bottom: 390px;}
.b380{bottom: 380px;}
.b0{bottom: 0;}
.r227{right: 277px;}
.r17{right: 17px;}
.r0{right: 0;}

.outline0 {outline: 0px !important;}
.outlinenone {outline: none !important;}
.dn {display:none !important;}
.dib {display: inline-block;}
.dif {display: inline-flex;}
.dn-flex {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex}
.flwrap{-ms-flex-wrap: wrap; flex-wrap: wrap;}
.flex-ai-center{align-items:center;}
.flex-jc-space-bt{justify-content: space-between;}
.flex-jc-center{justify-content:center;}
.flex-jc-end{justify-content:flex-end;}
.flex-jc-around{justify-content:space-around;}
.flex-column{flex-direction:column;-webkit-flex-direction:column;-webkit-box-orient: vertical;}
/* do not group these rules */

.cpointer {cursor: pointer; font-family: 'RobotoBold' !important}
.maincpointer {cursor: pointer;}
.maincauto {cursor: auto !important;}
.overflowx {overflow-x:scroll;}
.overflowxh {overflow-x: hidden;}
.ofh {overflow: hidden !important;}
.ofy {overflow-y: auto !important;}
.ofys {overflow-y: scroll;}
.ofxn {overflow-x: hidden;}
.resizevertical{resize: vertical;}
.resizenone{resize: none;}
.tdn{text-decoration: none;}
.tdu{text-decoration: underline;}
.tdul{text-decoration: underline; font-family: 'RobotoLight' !important}
.ttuc{text-transform: uppercase;}
.ttc{text-transform: capitalize;}
.ttl{text-transform: lowercase;}
.tdlt{text-decoration: line-through;}

.zi1{z-index: 1;}
.cb{clear: both;}

.bn{border:none;}
.bnfocus:focus{border:0; outline: 0;}
.bnfocusounder:focus{outline: 0;}
.brd0 {border:0 !important;}
.brdb0 {border-bottom: 0 !important;}
.bnfocus1:focus{border: 1px;}
.bc1graylight{border: 1px solid rgb(234, 234, 234);}
.bc1grayinput{border: 1px solid #cccccc}
.bc1red{border: 1px solid rgb(245, 52, 2);}
.bc1black{border: 1px solid rgba(0, 0, 0, 0.39);}
.bc1black{border: 1px solid rgba(0, 0, 0, 0.39);}
.bc1graybold{border: 1px solid rgb(155, 155, 155);}
.bb1black{border-bottom-color: rgb(0, 0, 0, 0.39); border-bottom-style: solid; border-width:1px;}
.blgray{border-left-color: rgb(194, 195, 196); border-left-style: solid; border-width:1px;}
.blwhite{border-left-color: rgb(255, 255, 255); border-left-style: solid; border-width:7px;}
.brgray{border-right-color: rgb(194, 195, 196); border-right-style: solid; border-width:1px;}
.brgray2px{border-right-color: rgb(194, 195, 196); border-right-style: solid; border-width:2px;}
.blgray2px{border-left-color: rgb(194, 195, 196); border-left-style: solid; border-width:2px;}
.blgray1px{border-left-color: rgb(194, 195, 196); border-left-style: solid; border-width:1px;}
.blgrayb{border-bottom-color: rgb(194, 195, 196); border-bottom-style: solid; border-width:1px;}
.bbcgray{border-bottom-color: rgb(234, 234, 234); border-bottom-style: solid; border-width:1px;}
.bbgraybold{border-bottom-color: rgb(155, 155, 155); border-bottom-style: solid; border-width:1px;}
.btcgray2px{border-top-color: rgb(234, 234, 234); border-top-style: solid; border-width:2px;}
.bbcgray2px{border-bottom-color: rgb(234, 234, 234); border-bottom-style: solid; border-width:2px;}
.btcgray2px{border-top-color: rgb(234, 234, 234) !important; border-top-style: solid !important; border-width:2px !important;}
.bbcgray2px:focus{border-bottom-color: rgb(234, 234, 234) !important; border-bottom-style: solid !important; border-width:2px !important;}
.bbcred2px{border-bottom-color: rgb(255, 0, 0); border-bottom-style: solid; border-width:2px;}
.bbcred1px{border-bottom-color: rgb(255, 0, 0); border-bottom-style: solid; border-width:1px;}
.btcred1px{border-top-color: rgb(255, 0, 0); border-top-style: solid; border-width:1px;}
.bbblueface{border-bottom-color: rgb(0, 150, 169); border-bottom-style: solid; border-width:1px;}
.bbredface{border-bottom-color: rgb(245, 52, 2); border-bottom-style: solid; border-width:1px;}
.brgrayop1px{border-right: 1px solid rgba(194, 195, 196, 0.5);}
.blbluelight{border-left-color: rgb(1, 187, 211); border-left-style: solid; border-width:7px;}

/* Border radius */
.br10all{-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
.br20all{-webkit-border-radius: 20px;-moz-border-radius: 20px;border-radius: 20px;}
.br7all{-webkit-border-radius: 7px;-moz-border-radius: 7px;border-radius: 7px;}
.br50pall{-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
.br5all{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.br3all{-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}

/*Especiales*/
span.number {
  background:  rgb(0, 150, 169);
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
}
/*sombra mensajes*/
.sombraMensajes{
-webkit-box-shadow: 0px 0px 13px 0px rgba(155, 155, 155, 0.14);
-moz-box-shadow: 0px 0px 13px 0px rgba(155, 155, 155, 0.14);
box-shadow: 0px 0px 13px 0px rgba(155, 155, 155, 0.14);
border-radius: 8px;
}

/* Calidad del opacity placeholder */
input::-webkit-input-placeholder {
     color: black; /*Change the placeholder color*/
     opacity: 0.2; /*Change the opacity between 0 and 1*/
}
:-moz-placeholder{
     color: black; /*Change the placeholder color*/
     opacity: 0.2; /*Change the opacity between 0 and 1*/
}

::-moz-placeholder{
     color: black; /*Change the placeholder color*/
     opacity: 0.2; /*Change the opacity between 0 and 1*/
}

:-ms-input-placeholder{
     color: black; /*Change the placeholder color*/
     opacity: 0.2; /*Change the opacity between 0 and 1*/
}


md-tabs .md-tab.md-active{color: rgb(101, 101, 101) !important;}
md-tabs .md-tab{color: rgb(101, 101, 101) !important;}
md-tabs md-ink-bar{color: rgb(245, 52, 2);background: rgb(245, 52, 2);}
.recurren md-switch {float:right;}

.textmarker{
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}

.fcc {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.fccenter{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-between;
}

.psuspensivos{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
}

/* Especificos */
.btn-primary {
    background-color: #F53402 !important;
    border-color: #F53402 !important;
}

/* Border shadow*/
.bsdb{
-webkit-box-shadow: -5px 5px 14px -4px rgba(0, 0, 0, 0.19);
-moz-box-shadow: -5px 5px 14px -4px rgba(0, 0, 0, 0.19);
box-shadow: -5px 5px 14px -4px rgba(0, 0, 0, 0.19);
}

.bsall{
-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.75);
margin-left: -15rem;
width: 65rem;
}

.bsallppg {
-webkit-box-shadow: 0px 0px 55px -17px rgba(0,0,0,0.6);
-moz-box-shadow: 0px 0px 55px -17px rgba(0,0,0,0.6);
box-shadow: 0px 0px 55px -17px rgba(0,0,0,0.6);
}

.bslb {
-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
}

.bslbposconsumo{
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.04);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.04);
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.04);
}

.bsdetallepaquetepre{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
}

.servicioadd{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.07);
}

a:link {color: transparent;}

/* visited link */
a:visited {color: transparent;}

/* mouse over link */
a:hover {color: transparent;}

/* selected link */
a:active {color: transparent;}

/* Material angular */

/* Personalizados */

.panel-heading{background-color: white !important} /* Se utiliza para quitar el color por defecto del acoordeon implementado en: Postpago - Administra tu factura - Factura digital */
.newnotificacion{width: 20px; height: 20px; background-color: #f53402; border-radius: 50%; float: right}
.separadornotificaciones{height: 2px; background-color: rgb(155, 155, 155);}

.switchdemoBasicUsage .inset {
  padding-left: 25px;
  padding-top: 25px; 
}

.md-tab{text-transform: inherit !important;}
.ttc{text-transform: capitalize !important;}
.ofwini{overflow: initial;}

.scpost{
    width:60%;
}

.numPaquetesselec{background: #fff; border-radius: 50%; width: 23px; height: 23px; display: inline-block; color: #f53402; font-size: 16px; padding-top: 1px; margin-left: 8px;}


/*  switch  */
md-switch.md-checked .md-bar{background-color:rgba(245, 52, 2, 0.54);}
md-switch.md-checked .md-thumb{background-color: rgb(245, 52, 2);}
md-switch{margin: 0px;}

md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value{border-bottom-color: rgb(51, 51, 51); border-bottom:0px;}
md-select-menu.md-default-theme md-content md-option[selected], md-select-menu md-content md-option[selected] {color: rgb(245, 52, 2);}
md-select-menu.md-default-theme md-content md-option[selected]:focus, md-select-menu md-content md-option[selected]:focus {color: rgb(245, 52, 2);}
md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {color: rgb(245, 52, 2);}
.md-datepicker-input-container{width:100%; border: 1px solid darkgrey; font-size: 18px; padding: 7px !important; color: rgb(129, 129, 129);}
.md-datepicker-input-container.md-datepicker-invalid, .md-datepicker-input-container.md-datepicker-invalid{border-bottom-color: darkgrey !important;}
.md-datepicker-input-container.md-datepicker-focused, .md-datepicker-input-container.md-datepicker-focused{border-bottom-color: darkgrey !important;border-bottom-width:1px !important;}
.md-datepicker-input{color:rgb(155, 155, 155) !important; font-size: 18px !important;}
.md-button.md-icon-button {margin: 5px 13px;}
.md-select-menu-container.md-active{z-index: 10000;}

.md-accordion .expandCollapse { width:30px; height:30px; position:absolute; font-size:20px; font-weight:bold; cursor:pointer; color:#fff; display:block; margin-top: -12px; margin-left: -2px; overflow:hidden; right:6px; }
.md-accordion .expandCollapse:active { border:0px;}
.md-accordion .expandCollapse:before, .md-accordion .expandCollapse:after { width:30px; height:30px; display:block; position:absolute; top:0; left:0; line-height:32px; text-align:center; -webkit-transition: .3s all ease-out; transition: .3s all ease-out;}
.md-accordion .expandCollapse:before {opacity:1 -webkit-transform: rotate(90deg); transform: rotate(90deg); content: ">"; margin-top:-3px; }
/*.md-accordion .expandCollapse:after { opacity:1; -webkit-transform: rotate(-90deg); transform: rotate(-90deg); content: "<"; margin-left:-3px; }*/
.md-accordion .active:before { opacity:1; -webkit-transform: rotate(270deg); transform: rotate(270deg); margin-left:3px; margin-top:0px; }
.md-accordion .dataContent { height:0px; overflow:hidden; -webkit-transition: .3s all ease-out; transition: .3s all ease-out;}
.md-accordion .activeContent { height:auto; padding:20px 0; display:block;}
.md-accordion md-toolbar{ cursor:pointer; }

input.md-datepicker-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(129, 129, 129) !important;
}
input.md-datepicker-input::-moz-placeholder { /* Firefox 19+ */
  color: rgb(129, 129, 129) !important;
}
input.md-datepicker-input:-ms-input-placeholder { /* IE 10+ */
  color: rgb(129, 129, 129) !important;
}
input.md-datepicker-input:-moz-placeholder { /* Firefox 18- */
  color: rgb(129, 129, 129) !important;
}

/* Abre tabs */
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
/* Cierra tabs */
  

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.well[ui-view]{
 height: 65px; 
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  /*padding-left: 0px;*/  
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  /*padding-left: 100px;*/
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}


.btnhome.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}

.btnhome.ng-animate {
  transition:0.5s linear all;
}
.btnhome.ng-enter {
  opacity:0;
}
.btnhome.ng-enter.ng-enter-active {
  opacity:1;
}
.btnhome.ng-leave {
  opacity:1;
}
.btnhome.ng-leave.ng-leave-active {
  opacity:0;
}

/*animaciones*/
@keyframes bounce {
    0%,20%,53%,80%,to {
        animation-timing-function: cubic-bezier(.21,.61,.355,1);
        transform: translateZ(0)
    }

    40%,43% {
        animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        transform: translate3d(0,-30px,0)
    }

    70% {
        animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        transform: translate3d(0,-15px,0)
    }

    90% {
        transform: translate3d(0,-4px,0)
    }
}

.bounce:hover {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
    /*animation-name: bounce;
    transform-origin: center bottom*/
}


/*verti8cal texto gps*/
.texto-vertical-gps {
    writing-mode: vertical-lr;
    -webkit-transform : rotate(180deg);
    -o-transform : rotate(180deg);
    transform: rotate(180deg);
}

/*estados gps*/
.gps-agendado{border-right-color: rgb(1, 187, 211); border-right-style: solid; border-width:7px; color:rgb(1, 187, 211);}
.gps-realizada{border-right-color: rgb(172, 175, 175); border-right-style: solid; border-width:7px; color:rgb(172, 175, 175);}
.gps-cancelada{border-right-color: rgb(248, 173, 167); border-right-style: solid; border-width:7px; color:rgb(248, 173, 167);}

.gps-agendadoiz{border-left-color: rgb(1, 187, 211); border-left-style: solid; border-width:7px; color:rgb(1, 187, 211);}
.gps-realizadaiz{border-left-color: rgb(172, 175, 175); border-left-style: solid; border-width:7px; color:rgb(172, 175, 175);}
.gps-canceladaiz{border-left-color: rgb(248, 173, 167); border-left-style: solid; border-width:7px; color:rgb(248, 173, 167);}
.row{margin: 0;}
/*animacion gps tecnico */
.noanitionAct {opacity: 0; margin-top: -400px;  transition-duration: 1s;}
.anitionAct {opacity: 1; margin-top: 0px;  transition-duration: 1s;}

.text-muted{margin-top: 23px;}

.texarea-entrega{
    height: auto !important;
    resize: none !important;
}

md-select.selectEntrega.md-default-theme:not([disabled]):focus .md-select-value, md-select.selectEntrega:not([disabled]):focus .md-select-value {
    color: rgb(155, 155, 155) !important;
}

md-select.selectEntrega.md-default-theme .md-select-value, md-select.selectEntrega .md-select-value {
    border-bottom-color: rgba(0, 0, 0, 0) !important;
}

.selectEntrega{text-align-last: left !important; padding-left: 2px;}

.form-control-entrega {
    display: block;
    width: 100% !important;
    height: 34px ;
    padding: 2px 4px !important;
    font-size: 17px !important;
    line-height: 1.42857143 !important;
    color: rgb(155, 155, 155) !important;
    background-color: #fff !important;
    background-image: none !important;
    border: 0px solid #ccc !important;
    border-radius: 0px !important;
    
    -webkit-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,0.2);
    
    -webkit-transition: border-color ease-in-out .15s
    -webkit-box-shadow ease-in-out .15s !important;
    
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
}

.stylePlace::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(155, 155, 155) !important;
  opacity: 1 !important;
}
.stylePlace::-moz-placeholder { /* Firefox 19+ */
  color: rgb(155, 155, 155) !important;
  opacity: 1 !important;
}
.stylePlace:-ms-input-placeholder { /* IE 10+ */
  color: rgb(155, 155, 155) !important;
  opacity: 1 !important;
}
.stylePlace:-moz-placeholder { /* Firefox 18- */
  color: rgb(155, 155, 155) !important;
  opacity: 1 !important;
}


md-radio-button.md-imeidp .md-off{
    border-color: #ef3829;
}
md-radio-button.md-checked.md-imeidp .md-on{
  background-color: #ef3829;
}

.stylePlace::placeholder, input.stylePlace::placeholder, .stylePlace:placeholder, input.stylePlace:placeholder{
  color: rgb(155, 155, 155) !important;
  opacity: 1 !important;
}

/*-- slider --*/
#sliderEspecifi .ui-carousel .slide{
    padding: 0 25px;
}

#sliderEspecifi .ui-carousel .slide .carousel-item{
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

#sliderEspecifi .ui-carousel .carousel-next .carousel-btn { right: -8px; }
#sliderEspecifi .ui-carousel .carousel-prev .carousel-btn { left: -8px; }

/*omagen redonda*/
.imgRedonda {
    overflow: hidden;
    width:100px;
    height:100px;
    border-radius:150px;
   /* margin: 0 auto;*/
}

.imgRedondamovil {
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius:150px;
   /* margin: 0 auto;*/
}

/*--- remove arrow input type number ---*/
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}
/**/

.contenimgRedonda{width: 119px; height: 112px; padding-top: 11px !important; margin: 0 auto;}
.iconimgRedonda{position: absolute; right: 12px; top: 0;}
.alertnotificacion{ width: 17px; height: 17px; background-color: #f53402; border-radius: 50%; float: right; font-size:11px; color:#fff; padding-top:1px; margin-top: 7px;}
.idPaquetes{padding-left: 25px !important; padding-right: 25px !important;}
.ui-carousel.idPaquetes .carousel-prev .carousel-btn {left: -29px;}
.ui-carousel.idPaquetes .carousel-next .carousel-btn {right: -29px;}

.table-striped>tbody>tr:nth-of-type(odd) {background-color: rgb(245, 245, 245);}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
#paquetesac [class^="ui-icon-"]:before, #paquetesac [class*=" ui-icon-"]:before {font-size: 30px !important;}

/* Media Query All*/
@media (min-width: 591px){
.pt591px{padding-top: 5px}
}

@media (min-width: 992px) {
 .brgrayop1pxgps{border-right: 1px solid rgba(194, 195, 196, 0.5);}
 .h126gps {height:126px;}
 .pt27gps {padding-top:27px;}
 .mt25gps {margin-top: 25px !important;}
 .tacbil992{text-align:center;}
 .fs992px{font-size: 40px;}
}

@media (max-width: 992px) {
 .hautobilgps {height:auto;}
 .p0bilgps {padding:0;}
 .w24bilgps {width: 24px;}
 .pt12gps {padding-top: 12px !important;}
 .pb12gps {padding-bottom: 12px !important;}
}

/* Media Query All*/
@media (max-width: 640px) {
   /* #contentmaster{zoom: 0.8 !important;} */
   
   
}

@media screen and (min-width: 1209px) and (max-width: 1454px) {
    .elmnmsdatabr{display:block !important;}
}

@media (min-width: 970px) and (max-width: 991px) {
    .elmnmsdatabr{display:none !important;}
}



/* MAX-SM */
@media (max-width: 750px) {
 .form-control-entrega{    font-size: 14px !important;}
  /*altos*/
  .hautobil{height:auto;}
  .hautobil66{height: 66px;}
  /* #contentmaster{zoom: 0.8 !important;} */
  /* padding */
  .p15bil{padding-left:15px !important; margin-right:15px !important;}
  .p0bil{padding:0;}
  .pt0bil{padding-top: 0 !important;}
  .pt7bil{padding-top: 7px !important;}
  .pt8bil{padding-top: 8px !important;}
  .pt10bil{padding-top: 10px !important;}
  .pl18pxbil{padding-left:8px !important;}
  .pl15pxbil{padding-left:15px !important;}
  .pt12pxbil{padding-top: 12px !important;}
  .pb12pxbil{padding-bottom: 12px !important;}
  .pb25pxbil
  .pr10pxbil{padding-right: 10px !important;}
  .pr4pxbil{padding-right: 4px !important;}
  .imagenescl{padding: 0 5px;}
  .cardsdpp{padding-left: 10px !important; padding-right: 10px !important;}
  
  /*border*/
  .border0bil{border:0;}
   
   /*tamaños de letra*/ 
  .fs44 {font-size: 29px;}
  .fs40 {font-size: 25px;}
  .fs35 {font-size: 35px;}
  .fs28 {font-size: 28px;}
  .fs23 {font-size: 23px;}
  .fs20 {font-size: 20px;}
  .fs19 {font-size: 17px;}
  .fs18 {font-size: 15px;}
  .fs17 {font-size: 13px;}  
  .fs16 {font-size: 12px;}
  .fs15 {font-size: 13px;}
  .fs12 {font-size: 11px;}
  /*******************************************************/
  .fsbil18 {font-size: 18px;}
  
  /*stilos letra*/
  .tacbil{text-align:center;}
  .talbil{text-align:left;}
  .tarbil{text-align:right;}
  
  /*anchos*/
  .w30mobil{width: 30px;}
  .w24bil{width: 24px;}
  .w100pbil{width: 100%;}
  .w20pbil{width: 20%;}
  
  .mta20 {margin-bottom: auto !important;
    margin-top: 20% !important;}
  .mb0ml {margin-bottom: 0;}
  .mt80{margin-top: 25px;}
  .mt40{margin-top: 15px;}
  .mr30{margin-right: 4px;}
  .mt25 {margin-top: 10px !important;}  
  .c {margin-top: 5px !important;}  
  .mtbil31 {margin-top: 31px;}
  
  /*--margenes--*/
  .mtbil0 {margin-top: 0px !important;} 
  .mtbil5 {margin-top: 5px !important;} 
  .mtbil10 {margin-top: 10px !important;} 
  .mtbil11 {margin-top: 11px !important;} 
  .mtbil22 {margin-top: 22px !important;}
  .mtbil25 {margin-top: 25px !important;}
  .mlbil0 {margin-left: 0px !important;}
  .mrbil0 {margin-right: 0px !important;}
  .mbbil13 {margin-bottom: 13px !important;}
  .mbbil20 {margin-bottom: 20px !important;}
  .mbbil25 {margin-bottom: 25px !important;}
  
      
  .lhbil1px {line-height: 1 !important;}
  
  .mh316{min-height: 257px !important;}
  
  .descripcionplanpostago{margin-top: 15px !important;}
  .vercontratopostpago{margin-top: 15px !important;}
  .contenedorconsumodatospostpago{margin-top: -21px !important;}
  
  /* Postpago Dash */
  .mt15contenticoncarddash{margin-top: 15px !important;}
  
  /* Cambio de plan postpago */
  .carousel-dots{bottom: -50px !important}
  .descriptionplan{margin-top: 12% !important}
  
  .mtlineaseparatorprepagodetalleconsumo{height: 19px;}
  
  /* Datos compartidos */
  .estadisticasdatoscompartidos{border-right: 0px;}
  .griddatoscompartidosmobile{font-size: 12px;margin-top: 15px;}
  .fontsizeheaderdatoscompartidosgrilla{font-size: 10px !important;}
}

@media (max-width: 450px) {
.fsm60 {font-size: 60px;}
.fsm44 {font-size: 44px;}
.fsm41 {font-size: 41px;}
.fsm40 {font-size: 40px;}
.fsm34 {font-size: 34px;}
.fsm35 {font-size: 35px;}
.fsm30 {font-size: 30px;}
.fsm28 {font-size: 28px;}
.fsm25 {font-size: 25px;}
.fsm24 {font-size: 24px;}
.fsm22 {font-size: 22px;}
.fsm21 {font-size: 21px;}
.fsm20 {font-size: 20px;}
.fsm19 {font-size: 19px;}
.fsm18 {font-size: 18px;}
.fsm17 {font-size: 17px;}
.fsm16 {font-size: 16px;}
.fsm15 {font-size: 15px;}
.fsm14 {font-size: 14px;}
.fsm13 {font-size: 13px;}
.fsm12 {font-size: 12px;}
.fsm11 {font-size: 11px;}
.fsm10 {font-size: 10px;}
.fsm9 {font-size: 9px;}
.fsm7 {font-size: 7px;}
.mwxs80{max-width: 80%}
.mwxs65{max-width: 65%}
}

/*Max width*/

.mw30 {max-width: 30px;}
.mw39 {max-width: 39px;}
.mw44 {max-width: 44px;}

/*Términos y condiciones*/
         ul {
          list-style: none;
          padding: 0;
          margin: 0;
          padding-left: 5px;
          margin-top: 30px;
        }
            
        li {    
          padding-left: 1em; 
          text-indent: -.7em;;
          margin-top: 10px;
        }

        li::before {
          content: "• ";
          color: #03b0c6; /* or whatever color you prefer */
          font-size: 43px;
          line-height: 8px;
          position: relative;
          top: 8px;
        }
        p{
            color: rgb(155, 155, 155)
        }
        
/*Fuentes*/
.alingcenter{display: flex;justify-content: center;align-items: center;}
.fwb{font-weight: bold;}
.imgRes{padding:5px !important; max-width:100%}
/* stylos del la nueva visual de hogar */
.tel{
    display: flow-root;
}
.disinb{
    display: inline-block;
}
