<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<!-----------
Detalle de visitas anteriores 
------------->
<script type="text/ng-template" id="detallevisitasanteriores.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer bnfocus" ng-click="Tagging('Hogar','_cancelar_detalle_visitas_anterior');cancel()"></img>
    </div>
    <div class="col-xs-12 mh316 mt2p pb15" block-ui="detallevisitasanterioresblock" ng-if="DataDeVicita.NOMBRE_ESTADO_AGENDA != 'CANCELADA'">
        <div class="col-xs-12 col-sm-12 p0 {{classname}}">
            <div class="col-xs-12 col-sm-12 fwbbold ttc" ng-if="DataDeVicita.NOMBRE_ESTADO_AGENDA != 'CANCELADA'">
                {{DataDeVicita.NOMBRE_ESTADO_AGENDA | lowercase}}
            </div>
             <div class="col-xs-12 col-sm-12 fwbbold ttc" ng-if="DataDeVicita.NOMBRE_ESTADO_AGENDA == 'CANCELADA'">
                {{DataDeVicita.NOMBRE_ESTADO_AGENDA | lowercase}}
            </div>
            <div class="col-xs-12 col-sm-12 fs25 fwbbold cblack lh33px mb10 fsm24">
                {{DataDeVicita.TIPO_TRABAJO}}
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="corange fs13">Fecha del servicio</div>
                <div class="fwbbold cblack fs16">{{DataDeVicita.FECHA_SERVICIO}}</div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="corange fs13">Horario de atención</div>
                <div class="fwbbold cblack fs16">{{DataDeVicita.HORARIO_ATENCION}}</div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-12 p0 mt23">
            <div class="col-xs-6 col-sm-6">
                <div class="corange fs13">Dirección del servicio</div>
                <div class="fwbbold cblack fs16">{{DataDeVicita.CLL }} {{DataDeVicita.NUMDIR}}</div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="corange fs13">Detalle del servicio</div>
                <div class="fwbbold cblack fs16">{{DataDeVicita.APTO || ' '}}</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 p0 mt23">
            <div class="col-xs-6 col-sm-6">
                <div class="corange fs13">Fecha de solicitud</div>
                <div class="fwbbold cblack fs16">{{DataDeVicita.FECHA_SERVICIO}}</div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="corange fs13">Número de solicitud</div>
                <div class="fwbbold cblack fs16">{{DataDeVicita.ORDEN}}</div>
            </div>
        </div>
         <div class="col-xs-12 col-sm-12 mt23" ng-if="DataDeVicita.OBSERVACION != ''">
            <div class="corange fs13">Observaciones de la visita</div>
            <div>
                {{DataDeVicita.OBSERVACION || ' '}}
            </div>  
        </div>
        <div class="col-xs-8 col-xs-offset-2 bclilalight cwhite fs16 mt23 tac mb35 fwbbold pb7 pt7" ng-click="claficarCompletada()" ng-if="DataDeVicita.NOMBRE_ESTADO_AGENDA == 'COMPLETADO'">
            Califica tu visita
        </div>
    </div>
    <div class="col-xs-12 mh316 mt2p pb15" block-ui="detallevisitasanterioresblock" ng-if="DataDeVicita.NOMBRE_ESTADO_AGENDA == 'CANCELADA'">
        <div class="col-xs-12 col-sm-12 p0 {{classname}}">
             <div class="col-xs-12 col-sm-12 fwbbold ttc" ng-if="DataDeVicita.NOMBRE_ESTADO_AGENDA == 'CANCELADA'">
                {{DataDeVicita.NOMBRE_ESTADO_AGENDA | lowercase}}
            </div>
            <div class="col-xs-12 fs30 fwbbold cblack lh33px mb10 fsm24">
                {{DataDeVicita.TIPO_TRABAJO}}
            </div>
             <div class="col-xs-6 col-sm-6">
                <div class="corange fs13">Fecha del servicio</div>
                <div class="fwbbold cblack fs16">{{DataDeVicita.FECHA_SERVICIO}}</div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="corange fs13">Horario de atención</div>
                <div class="fwbbold cblack fs16">{{DataDeVicita.HORARIO_ATENCION}}</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 p0 mt23">
            <div class="col-xs-6 col-sm-6">
                <div class="corange fs13">Dirección del servicio</div>
                <div class="fwbbold cblack fs16">{{DataDeVicita.CLL }} {{DataDeVicita.NUMDIR }}</div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="corange fs13">Detalle del servicio</div>
                <div class="fwbbold cblack fs16">{{DataDeVicita.APTO || ' '}}</div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 p0 mt23">
            <div class="col-xs-6 col-sm-6">
                <div class="corange fs13">Fecha de solicitud</div>
                <div class="fwbbold cblack fs16">{{DataDeVicita.FECHA_SOLICITUD}}</div>
            </div>
            <div class="col-xs-6 col-sm-6">
                <div class="corange fs13">Número de solicitud</div>
                <div class="fwbbold cblack fs16">{{DataDeVicita.ORDEN}}</div>
            </div>
        </div>
        <div class="col-xs-12 mt23" ng-if="DataDeVicita.OBSERVACION != ''">
            <div class="corange fs13">Motivo de la cancelación</div>
            <div class="cblack fs15">
                {{DataDeVicita.MOTIVO_CANCELACION || ' '}}
            </div>  
        </div>
        <div class="col-xs-12 mt23 pb30" ng-if="DataDeVicita.OBSERVACION != ''">
            <div class="corange fs13">Observaciones adicionales</div>
            <div class="cblack fs15">
                {{DataDeVicita.OBSERVACION || ' '}}
            </div>  
        </div>
    </div>
    <div class="cb"></div>
</script>

<!------------
visitas ajendadas
-------------->
<div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 p0bil hllalt">
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p0 pt15 brgrayop1pxgps border0bil altP">
       <div class="col-xs-12 col-sm-11 p0">
           <div class="col-xs-12 col-sm-12 p0 pt33 mb14 pl15pxbil pt0bil">
              <div class="fwbbold corange fs25">
                  Visitas Agendadas
              </div>
              <div class="cgraylight fs16">
                  Estas son tus visitas programadas.
              </div>
             
           </div>
        </div>
       <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 mt20 cgraybold fwbbold fs15 mb40" ng-if="listVisitas.Agendadas.length == 0 ">No hay visitas agendadas</div>
       <div class="col-xs-12 col-sm-12 col-md-11 col-lg-11 p0 btcgray2px mt20" ng-if="listVisitas.Agendadas.length > 0 ">
            <div class="col-xs-12 col-md-12 p0 bbcgray2px dn-flex maincpointer bnfocus outlinenone" ng-repeat="item in listVisitas.Agendadas" ng-click="Tagging('Hogar','DetalleDeLaVisitaAgendata');changeModulo(2,0,item)">
                <div class="col-xs-1 col-sm-1 p0 dn-flex flex-ai-center flex-jc-center clila fwbbold ttc gps-agendadoiz">
                    <img ng-src="/Images/es_{{item.NOMBRE_ESTADO_AGENDA | lowercase | strReplace:' ':'_'}}.png" alt="">
                </div>
                <div class="col-xs-10 col-md-10 p0 mt15 mb15 pl7">
                    <div class="col-xs-12 p0">
                        <div class="col-xs-7 col-sm-6 p0 fs18 fwbbold cblack mb10">
                            {{item.TIPO_TRABAJO}}
                        </div>
                        <div class="col-xs-5 col-sm-5 col-md-offset-1 p0">
                            <div class="col-xs-12 col-sm-12 p0 fs13 cgraybold fsm11">Número de solicitud</div>
                            <div class="col-xs-12 col-sm-12 p0 cgraybold fs15 fsm11 fwbbold">{{item.ORDEN}}</div>
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-6 p0">
                        <div class="col-xs-12 col-md-12 p0 fs13 cgraybold fsm11">Dirección del servicio</div>
                        <div class="col-xs-12 col-md-12 p0 cgraybold  fs15 fsm11 fwbbold">{{item.CLL }} {{item.NUMDIR }}</div>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-offset-1 p0">
                        <div class="col-xs-12 col-md-12 p0 fs13 cgraybold fsm11">Fecha del servicio</div>
                        <div class="col-xs-12 col-md-12 p0 cgraybold fs15 fsm11 fwbbold">{{item.FECHA_SERVICIO}}</div>
                    </div>
                </div>
                <div class="col-xs-1 col-md-1 p0 dn-flex flex-ai-center flex-jc-center">
                    <img src="/Images/icon_arrow_white.png" alt="gps_indicador_siguiente">
                </div>
            </div>
        </div>
   </div>
   <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p0 pt15">
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-1 col-lg-12 col-lg-offset-1 p0 pt33 mb14 pl15pxbil pt0bil" >
           <div class="corange fwbbold fs25">
               Visitas Anteriores
           </div>
           <div class="cgraylight fs16">
               Historial de visitas realizadas o canceladas.
           </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-1 col-lg-12 col-lg-offset-1 p0 mt20 cgraybold fwbbold fs15" ng-if="listVisitas.Historial.length == 0">No hay visitas anteriores</div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-offset-1 col-lg-12 col-lg-offset-1 p0 btcgray2px mt20 mb40" ng-if="listVisitas.Historial.length > 0">
            <div class="col-xs-12 col-sm-12 p0 bbcgray2px dn-flex maincpointer bnfocus outlinenone" ng-repeat="item in listVisitas.Historial" ng-click="Tagging('Hogar','_ini_vistec_visitacancelada');detalledelavisitaanteriorft(item)">
                <div class="col-xs-1 col-sm-1 p0 dn-flex flex-ai-center flex-jc-center clila fwbbold ttc gps-realizadaiz" ng-if="item.NOMBRE_ESTADO_AGENDA == 'REPROGRAMADA'">
                    <img ng-src="/Images/es_gris_{{item.NOMBRE_ESTADO_AGENDA | lowercase | strReplace:' ':'_'}}.png" alt="">
                </div>
                <div class="col-xs-1 col-sm-1 p0 dn-flex flex-ai-center flex-jc-center clila fwbbold ttc gps-realizadaiz" ng-if="item.NOMBRE_ESTADO_AGENDA != 'REPROGRAMADA' && item.NOMBRE_ESTADO_AGENDA != 'CANCELADA'">
                    <img ng-src="/Images/es_{{item.NOMBRE_ESTADO_AGENDA | lowercase | strReplace:' ':'_'}}.png" alt="">
                </div>
                <div class="col-xs-1 col-sm-1 p0 dn-flex flex-ai-center flex-jc-center clila fwbbold ttc gps-canceladaiz" ng-if="item.NOMBRE_ESTADO_AGENDA == 'CANCELADA'">
                    <img ng-src="/Images/es_{{item.NOMBRE_ESTADO_AGENDA | lowercase | strReplace:' ':'_'}}.png" alt="">
                </div>
                <div class="col-xs-10 col-sm-10 p0 mt15 mb15 pl7">
                    <div class="col-xs-12 p0">
                        <div class="col-xs-7 col-sm-6 p0 fs18 fwbbold cblack mb10">
                            {{item.TIPO_TRABAJO}}
                        </div>
                         <div class="col-xs-5 col-sm-5 col-md-offset-1 p0">
                            <div class="col-xs-12 col-sm-12 p0 fs13 cgraybold fsm11">Número de solicitud</div>
                            <div class="col-xs-12 col-sm-12 p0 cgraybold fs15 fsm11 fwbbold">{{item.ORDEN}}</div>
                        </div>
                    </div>
                    <div class="col-xs-7 col-sm-6 p0">
                        <div class="col-xs-12 col-sm-12 p0 fs13 cgraybold fsm11">Dirección del servicio</div>
                        <div class="col-xs-12 col-sm-12 p0 cgraybold  fs15 fsm11 fwbbold">{{item.CLL }} {{item.NUMDIR }}</div>
                    </div>
                    <div class="col-xs-5 col-sm-5 col-md-offset-1 p0">
                        <div class="col-xs-12 col-sm-12 p0 fs13 cgraybold fsm11">Fecha del servicio</div>
                        <div class="col-xs-12 col-sm-12 p0 cgraybold fs15 fsm11 fwbbold">{{item.FECHA_SERVICIO}}</div>
                    </div>
                </div>
                <div class="col-xs-1 col-sm-1 p0 dn-flex flex-ai-center flex-jc-center">
                    <img src="/Images/icon_arrow_white.png" alt="gps_indicador_siguiente">
                </div>
            </div>
        </div>
   </div>
</div>