<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<div class="col-xs-12">
    <pre-consumo-detalle2 ng-if="modulo==1"></pre-consumo-detalle2>
    <pre-consumo-recarga2 ng-if="modulo==2"></pre-consumo-recarga2>
    <pre-comprar-paquetes2 ng-if="modulo==3"></pre-comprar-paquetes2>
    <pre-detall-mes-anterior2 ng-if="modulo==4"></pre-detall-mes-anterior2>
    <pre-detalle-paquete2 ng-if="modulo==5"></pre-detalle-paquete2>
</div>
