<!-- Modal: Descripción -> Postpago -> Detalle del plan -->
<script type="text/ng-template" id="seradddetalledelplan.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img>
    </div>
     <div class="col-xs-12 tac fwbbold fs21 cgraybold tac">
        <img src="/Images/Miclaro.png"></img>
    </div>

    <div class="col-xs-10 col-xs-offset-1 fs16 cgraybold mt6p taj">{{Data}}</div>

    <div class="col-xs-4 col-xs-offset-4 bgcorange cwhite pt10 pb10 fs18 tac mt8p cpointer mb8p" ng-click="ok()">
        Cerrar
    </div>
    <div class="cb"></div>
</script>
<script type="text/ng-template" id="filtroPaquetes.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer bnfocusounder" ng-click="cancel()"></img>
    </div>
    <div class="col-xs-12 tac fs18 fwbbold cblack mb15">
        Selecciona el rango de precios que más se ajuste a ti
    </div>
    <div class="col-xs-12">
        <div class="col-xs-12 fs16 cgraybold servicioadd cblack p0 br10all">
            <div class="col-xs-12 fs18 fwbbold pt5 pb5 mb15 bcgraylight">
                Selecciona el rango de precios
            </div>
            <div class="col-xs-12 p0">
                <div class="col-xs-12">
                    <input type="radio" name="filtroPaquetes" id="flp1" value="0" class="" ng-model="data.valor">
                    <label class="fw100" for="flp1"> $0 - $83.000 </label>
                </div>
                <div class="col-xs-12">
                    <input type="radio" name="filtroPaquetes" id="flp2" value="1" class="" ng-model="data.valor">
                    <label class="fw100" for="flp2"> $83.000 - $147.000 </label>
                </div>
                <div class="col-xs-12">
                    <input type="radio" name="filtroPaquetes" id="flp3" value="2" class="" ng-model="data.valor">
                    <label class="fw100" for="flp3"> $147.000 en adelante </label>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-4 col-xs-offset-4 bgcorange cwhite p5 fs16 br10all tac mt8p cpointer mb8p" ng-click="ok(data.valor)" ng-if='valor != ""'>
        Aplicar filtro
    </div>
    <div class="col-xs-4 col-xs-offset-4 bcgraymousebold cwhite p5 fs16 br10all tac mt8p mb8p" ng-if='valor == ""'>
        Aplicar filtro
    </div>
    <div class="cb"></div>
</script>
<script type="text/ng-template" id="confirmarCambio.html">
    <div class="col-xs-12 mb30 ">
        <div class="col-xs-12 tac fwbbold fs21 mt10 cgraybold tac">
            <img src="/Images/Miclaro.png"></img>
        </div>
        <div class="col-xs-12 tac fs17 mt30 cgraybold">
            ¿Estás seguro que deseas adquirir este plan?
        </div>
        <div class="col-xs-12 tac fs17 mt10 cblack">
            {{Data.PlanName}}
        </div>
        <div class="col-xs-12 tac fs17 mt10 cgraybold">
            Por un costo de
        </div>
        <div class="col-xs-12 tac fs17 mt10 cblack">
            {{fnreplace(Data.PlanAmount)}}
        </div>
        
        <div class="col-xs-12 mt25">
            <div class="col-xs-6">
                <div class="col-xs-12 bcgraydark cwhite pt10 pb10 fs18 tac cpointer mb8p" ng-click="Tagging('Mi_claro','bt_ini_personalizarcuentas_cancelar');cancel()" role="button" tabindex="0">
                    Cancelar
                </div>
            </div>
            <div class="col-xs-6">
                <div class="col-xs-12 bgcorange cwhite pt10 pb10 fs18 tac cpointer mb8p" ng-click="Tagging('Mi_claro','bt_ini_personalizarcuentas_aceptar');ok()" role="button" tabindex="0">
                    Aceptar
                </div>
            </div>
        </div>
    </div>
    <div class="cb"></div>
</script>
<postdetalleplan-uno  ng-if="vista == 1"></postdetalleplan-uno>
<postdetalleplan-dos  ng-if="vista == 2"></postdetalleplan-dos>
<postdetalleplan-tres  ng-if="vista == 3"></postdetalleplan-tres>