<script>
    var URLactual = window.location;
    if(URLactual.pathname.indexOf('.') != -1){
        window.location.href="/";
    }
</script>
<!-- Mas productos -->
<script type="text/ng-template" id="popupmasopcioneshogar.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img>
    </div>
    <div class="col-xs-6 col-xs-offset-3 p0 mt2p">
        <div class="col-xs-12 p0 fs21 corange fwbbold tac">
            Más opciones
        </div>

        <div class="col-xs-12 p0 cpointer mt13p">
            <div ng-click="redireccion('AsociarProductoClaroGeneral')" class="outlinenone">
                <div class="col-xs-2 p0 tac">
                    <img src="/Images/MobileMasOpcionesPost.png"></img>
                </div>
                <div class="col-xs-10 p0 cgraybold mt10">
                    Asociar otros productos claro
                </div>
            </div>
        </div>

        <div class="col-xs-12 p0 h1 bcgraymouse mt3p"></div>
    </div>

    <div class="col-xs-6 col-xs-offset-3 bcgraymouse cwhite pt10 pb10 fs18 tac mt8p cpointer mb8p" ng-click="cancel()">
        Cancelar
    </div>
    <div class="cb"></div>
</script>

<!-- Detalle de la factura -->
<script type="text/ng-template" id="detalledelplanhogar.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="Tagging('Hogar','Hogar_Detalledefacturacion_Cerrar');cancel()"></img>
    </div>
    <div class="col-xs-12 mh316 mt2p" block-ui="blockdetalledelpaquete">
        <div class="col-xs-12">
            <div class="col-xs-12 fs40 fwbbold tac cgraybold">
                Detalle de factura
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 p0 bbcgray mt6p">
            <div class="col-xs-4 p0 cwhite fs12 bgcorange tac pt10 pb10">
                <img src="/Images/detallefacturacionsaldo.png" class="ma img-responsive w40"></img>
                <div class="col-xs-12 mt10">
                    Saldo
                </div>
            </div>
            <div class="col-xs-8 fwbbold cblack fs40 mt6p">
                {{fnreplace(DetallePlan.saldo)}}
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 p0 bbcgray mt3p">
            <div class="col-xs-4 p0 cwhite fs12 bclilalight tac pt10 pb10">
                <img src="/Images/detallefacturaciontelevision.png" class="ma img-responsive w50"></img>
                <div class="col-xs-12 mt10">
                    {{DetallePlan.productos[0].nombre}}
                </div>
            </div>
            <div class="col-xs-8 fwbbold cblack fs40 mt4p">
                {{fnreplace(DetallePlan.productos[0].valor)}}
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 p0 bbcgray mt3p">
            <div class="col-xs-4 p0 cgraybold fs12 bcgraylight tac pt10 pb10">
                <img src="/Images/detallefacturacioninternet.png" class="ma img-responsive w50"></img>
                <div class="col-xs-12 mt10">
                    {{DetallePlan.productos[1].nombre}}
                </div>
            </div>
            <div class="col-xs-8 fwbbold cblack fs40 mt6p">
                {{fnreplace(DetallePlan.productos[1].valor)}}
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 p0 bbcgray mt3p">
            <div class="col-xs-4 p0 cwhite fs12 bclilalight tac pt10 pb10">
                <img src="/Images/detallefacturacionllamada.png" class="ma img-responsive w50"></img>
                <div class="col-xs-12 mt10">
                    {{DetallePlan.productos[2].nombre}}
                </div>
            </div>
            <div class="col-xs-8 fwbbold cblack fs40 mt6p">
                {{fnreplace(DetallePlan.productos[2].valor)}}
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 p0 bbcgray mt3p">
            <div class="col-xs-4 p0 cgraybold fs12 bcgraylight tac pt10 pb10">
                <img src="/Images/detallefacturaciontelefono.png" class="ma img-responsive w34 h55"></img>
                <div class="col-xs-12 mt10">
                    {{DetallePlan.productos[3].nombre}}
                </div>
            </div>
            <div class="col-xs-8 fwbbold cblack fs40 mt6p">
                {{fnreplace(DetallePlan.productos[3].valor)}}
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 bgcorange cwhite pt10 pb10 fs18 tac mt3p mb4p cpointer" ng-click="Tagging('Hogar','bt_hog_ini_detfact_descargatufacturaaqui');descargarfactura()">
            Descarga tu factura aquí
        </div>

    </div>
    <div class="cb"></div>
</script>

<!-- Historial de facturas -->
<script type="text/ng-template" id="historialfacthogar.html">

    <div class="col-xs-12 bc1graylight bcwhite mh316 max-h600 ofy" block-ui="blockhistorialdefactura">
        <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="Tagging('Hogar','Hogar_Historialdefacturas_Cerrar');cancel()"></img>
        </div>
        <div class="col-xs-12 fs40 fwbbold tac cgraybold mt2p mb25">
            Historial de facturas
        </div>
        <div class="col-xs-12 pb30" ng-if="Historialdefactura != null">
            <div class="col-xs-12 col-md-6 pt15 pb15 bbcgray" ng-repeat="item in Historialdefactura.facturas" ng-if="$index < 12">
                <div class="col-xs-12 fs18 cblack fwbbold tac">{{item.fecha}}</div>
                <div class="col-xs-12 p0 mt2p">
                    <div class="col-xs-6 p0 cgraybold fwbbold fs15 tac">No. de factura</div>
                    <div class="col-xs-6 p0 cgraybold fwbbold fs15 tac">Valor</div>
                </div>
                <div class="col-xs-12 p0 mt2p">
                    <div class="col-xs-6 p0 cblack fwbbold fs15 tac">{{item.numeroFactura}}</div>
                    <div class="col-xs-6 p0 cblack fwbbold fs15 tac">{{fnreplace(item.valor)}}</div>
                </div>
            </div>
        </div>
        <div class="cb"></div>
        <div>
</script>

<!-- Detalle del plan prepago -->
<script type="text/ng-template" id="popupdesasociarproducto.html">
    <div class="col-xs-12" block-ui="desasociarproductoblockui">
        <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img>
        </div>
        <div>
            <div class="col-xs-12 tac fwbbold fs30 mt3p cgraybold">Desasociar Cuenta</div>
            <div class="col-xs-12 tac fs15 mt2p cgraybold">Se desasociará la siguiente cuenta de tu aplicación: </div>
            <div class="col-xs-12 tac fs18 mt2p cblack fwbbold">{{cuenta}}</div>
            <div class="col-xs-8 col-xs-offset-2 tac fs18 mt2p cblack fwbbold">
                ¿Estás seguro?
            </div>
            <div class="col-xs-8 col-xs-offset-2 bgcorange cwhite pt10 pb10 fs18 tac cpointer mb8p mt30" ng-click="clicsesaciarcuenta()" role="button" tabindex="0">
                Desasociar
            </div>
        </div>
        <div class="cb"></div>
    </div>
    <div class="cb"></div>
</script>

<!-- iframe chat -->
<div class="pfixed ng-scope r0 b380 zi1 bcgraychat w304 pt5 pb5 pl6" ng-if="chat == 1">
    <img src="/Images/cancellila.png" class="zi1 b390 r227 h25 w25 cpointer outlinenone pinitial" ng-click="showchat()" ng-if="chat == 1"></img>
</div>
<iframe ng-src="{{UrlIframe}}" class="pfixed zi1 b0 r0 h380 bcgraylight " ng-if="chat == 1"></iframe>

<!-- iframe productos -->
<div class="pfixed ng-scope r0 b380 zi1 bcgraychat w304 pt5 pb5 pl6" ng-if="adProductos == 1">
    <img src="/Images/cancellila.png" class="pfixed zi1 b390 r227 h25 w25 cpointer outlinenone pinitial" ng-click="showchatadProductos()" ng-if="adProductos == 1"></img>
</div>
<iframe ng-src="{{UrlIframeAdProductos}}" class="pfixed zi1 b0 r0 h380 bcgraylight " ng-if="adProductos == 1"></iframe>

<!-- Contenedor -->
<div class="col-xs-12 col-md-10 col-md-offset-1 p0" block-ui="block" ng-if="notieneproducto.length > 0">
    <div id="showcerrarsesion" class="mr10 cpointer ttc tac cgraybold mt15 hidden-md hidden-lg" ng-if="nombreUserClaro != ''">
        Hola {{nombreUserClaro | lowercase}}
    </div>
    
    <div class="col-xs-12 col-sm-6 col-sm-offset-3  col-lg-4 col-lg-offset-4">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 bc1graylight pt10 pb10 mt25">
            <div class="col-xs-3 p0 clila fs15 RobotoRegular">Cuenta:</div>
            <div class="col-xs-9">
                <select class="corange bn outlinenone col-xs-12 bcwhite talast hidden-xs" ng-model="OpSelec.hogar" ng-change="validar()">
                  <option value="">-- Seleccione --</option>
                  <option value="{{item.AccountId}}" ng-repeat="item in Us.cuentas" ng-if="item.LineOfBusiness == 1 || item.LineOfBusiness == 4">{{item.AccountId}}</option>
                </select>
                
                <md-select class="corange bn outlinenone col-xs-12 m0 bcwhite talast hidden-sm hidden-md hidden-lg" aria-label="Follow" ng-model="OpSelec.hogar" ng-change="validar()">
                  <md-option value="">-- Seleccione --</md-option>
                  <md-option value="{{item.AccountId}}" ng-repeat="item in Us.cuentas" ng-if="item.LineOfBusiness == 1 || item.LineOfBusiness == 4">{{item.AccountId}}</md-option>
                </md-select>
            </div>
        </div>
    </div>

    <!-- Contenedor Dashboard Card-->
    <div class="col-xs-12 p0" ng-show="ShowDash == 1">
        <!-- Dirección de la cuenta -->
        <div class="col-xs-12 fwbbold fs18 cgraylight tac mt3p mb1p ttuc">
            DIRECCIÓN: {{(adress == "")?'No Aplica':adress}}
        </div>

        <div class="col-xs-12 p0 mt25">

           <div class="col-xs-6 col-md-3 outlinenone" ng-click="fcninterna('DetallePaqueteTelevisionSatelital')">
                <div class="col-xs-12 h170 bcgraylight tac cpointer">
                    <img src="/Images/DTH_detalledepaquetes.png" class="ma mt19 img-responsive"></img>
                    <div class="cgrayboldhome fwbbold fs18 mt5">
                        Detalle de Paquete de
                    </div>
                    <div class="cgrayboldhome fwbbold fs18">
                        Televisión Satelital
                    </div>
                </div>
            </div>
            
            <div class="col-xs-6 col-md-3 outlinenone" ng-click="">
                <div class="col-xs-12 h170 bclilalight tac cpointer">
                    <img src="/Images/DTH_comprapaquetes.png" class="mt12"></img>
                    <div class="cwhite fwbbold fs18 mt5">
                        Compra de
                    </div>
                    <div class="cwhite fwbbold fs18">
                        paquetes
                    </div>
                </div>
            </div>

            <!-- Mobil -->
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>
            
            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Hogar','_ini_encuentranuestraszonaswifi');fcninterna('ZonasWifiHogar')">
                <div class="col-xs-12 h170 bcgraylight tac cpointer">
                    <img src="/Images/DTH_zonaswificlaro.png" class="mt12"></img>
                    <div class="cgrayboldhome fwbbold fs18 mt5">
                        Encuentra nuestras
                    </div>
                    <div class="cgrayboldhome fwbbold fs18">
                        Zonas WiFi 
                    </div>
                </div>
            </div>
            
            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Hogar','_ini_adquirirproducto');showchatadProductos()">
                <div class="col-xs-12 h170 bgcorange tac cpointer outlinenone">
                    <img src="/Images/DTH_adquirirproductos.png" class="pt30"></img>
                    <div class="cwhite fwbbold fs18 mt10">
                        Adquirir producto
                    </div>
                </div>
            </div>
            
            <!-- <div class="col-xs-6 col-md-3 outlinenone" ng-click="">
                <div class="col-xs-12 h170 bcgraylight tac cpointer">
                    <img src="/Images/RegistrototodestinoGray.png" class="ma mt15 img-responsive w66"></img>
                    <div class="cgraybold  fs15 mt5">
                        Ingresa a
                    </div>
                    <div class="cgraybold fwbbold fs18">
                        Zona Pública
                    </div>
                </div>
            </div>-->
            
        </div>
        <div class="col-xs-12 p0 mt25">
            <!-- Mobil -->
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>
            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Hogar','_ini_desasociarcuenta');desasociarproducto()">
                <div class="col-xs-12 h170 bcwhite tac cpointer bc1red">
                    <img src="/Images/icon_desasociarcuenta_blanco.png" class="mt22"></img>
                    <div class="corange fwbbold fs18 mt10">
                        Desasociar cuenta
                    </div>
                </div>
            </div>

            <!-- Mobil -->
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>
        </div>

        <div class="col-xs-12 mt25 mb25">
            <a href="{{Target}}" target="_Blank" ng-click="Tagging('Hogar','bt_hog_ini_bannerpublicitario')">
            <img ng-src="{{BannerImg}}" class="pull-right img-responsive w100p"></img>
        </a>
        </div>
    </div>

</div>

<!-- No hay productos -->
<asociar-producto></asociar-producto>