<style type="text/css">
md-tab-item span {
    font-size: 16px !important;
}

md-tabs .md-tab.md-active {
    font-weight: 800;
}

.chart-legend li span {
    display: inline-block;
    width: 25px;
    height: 12px;
    margin-right: 5px;
}

.chart-legend li {
    padding-left: 1em;
    text-indent: -.7em;
    margin-top: 0px;
}

li::before {
    content: "";
    font-size: 43px;
    line-height: 8px;
    position: relative;
    top: 8px;
}
@media (min-width: 316px) and (max-width:363px){
  md-tab-item span {
    font-size: 12px !important;
    }
}
@media (min-width: 992px) and (max-width:1500px){
    .mlm13p {
        margin-left:13% !important;  
    }
    
}
@media (min-width: 400px) and (max-width:500px){
    .mlm25p {
        margin-left:23% !important;  
    }
    
}
@media (min-width: 501px) and (max-width:604px){
    .mlm25p {
        margin-left:30% !important;  
    }
    
}
@media (min-width: 605px) and (max-width:767px){
    .mlm25p {
        margin-left:33% !important;  
    }
    
}
</style>
<div class="col-xs-12 fs40 fwbbold tac cgraybold mt25" block-ui="blockconsumos" ng-init="getinfo()">
    Historial de consumos
</div>
<div class="col-xs-12 fs15 tac cgraybold mt1p pb25">
    <div class="col-xs-12 tac cgraybold mt1p">
        Número de Cuenta <span class="ml10 cred  fwbbold">{{OpSelec.prepago}}</span>
    </div>
</div>
<!-- Contenedor -->
<div class="col-xs-12 col-md-10 col-md-offset-1 p0">
    <!-- Detalle factura -->
    <div class="col-xs-12 p0">
        <div class="col-xs-12 col-md-8 col-md-offset-2 p0">
            <!-- Tabs Desktop-->
            <div class="col-md-10 col-md-offset-1">
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                        <!-- Subscripciones, modificaciones y desactivaciones -->
                        <md-tab label="Datos" class="fs24" ng-click="getinfo()">
                            <md-content class="md-padding bcwhite">
                                <div class="row" ng-hide="noInfoDatos">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-sm-offset-4 col-md-4 col-xs-offset-2 pl0 hidden-lg hidden-md mlm25p">
                                                <div class="col-xs-12">
                                                    <div class="w210 h160 ma prelative m0 pt15">
                                                        <canvas id="doughnuttorta" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="colorcharts" chart-options="options"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-4 hidden-sm hidden-xs mlm13p">
                                                <div class="col-xs-12">
                                                    <div class="w210 h160 ma prelative m0 pt15">
                                                        <canvas id="doughnuttorta" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="colorcharts" chart-options="options"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="js-legend" class="col-xs-12 col-sm-12 col-md-8 chart-legend mlm13p">
                                                <ul class="doughnut-legend mt10">
                                                    <li ng-repeat="item in lista.lista" class="fs13"><span style="background-color:{{item.colorHexa}}"></span>{{item.servicio}}
                                                        <p class="cred pull-right m0 fwbbold">{{item.consumo}} {{item.unidad}}</p>
                                                    </li>
                                                </ul>
                                                <div ng-show="!ocultar" class="fs14 cred m0 fwbbold pt10 pl10">Total Consumidos
                                                    <p class="cred pull-right m0">{{lista.totalConsumo}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="noInfoDatos">
                                    <div class="col-xs-12 col-md-12 tac hidden-sm hidden-xs mt10">
                                        <img class="tac pl25" ng-src="/Images/Group_9337.png"></img>
                                        <div class="fs18 tac mt10 cgraybold">
                                            No tienes información
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-12 tac hidden-md hidden-lg mt30">
                                        <img class="tac pl25" ng-src="/Images/Group_9337.png" width="180" height="190"></img>
                                        <div class="fs16 tac mt10 cgraybold">
                                            No tienes información
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <!-- Notificaciones por mail y sms -->
                        <md-tab label="Voz" ng-click="voz()">
                            <md-content class="md-padding bcwhite">
                                <div class="row" ng-hide="noInfoVoz">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4 hidden-xs hidden-sm mlm13p">
                                                <div class="col-xs-12">
                                                    <div class="w210 h160 ma prelative m0 pt15">
                                                        <canvas id="doughnuttorta" class="chart chart-doughnut" chart-data="dataVoz" chart-labels="labelsVoz" chart-colors="colorchartsVoz" chart-options="options"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4 col-sm-12 col-sm-offset-4 col-xs-offset-2 pl0 hidden-lg hidden-md mlm25p">
                                                <div class="col-xs-12">
                                                    <div class="w210 h160 ma prelative m0 pt15">
                                                        <canvas id="doughnuttorta" class="chart chart-doughnut" chart-data="dataVoz" chart-labels="labelsVoz" chart-colors="colorchartsVoz" chart-options="options"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="js-legend" class="col-xs-12 col-sm-12 col-md-8 chart-legend mt8p mlm13p">
                                                <ul class="doughnut-legend mt10">
                                                    <li ng-repeat="item in labelsVoz" class="fs16"><span style="background-color:{{item.color}}"></span>{{item.servicio}}
                                                        <p class="cred pull-right m0 fwbbold">{{item.total}}</p>
                                                    </li>
                                                </ul>
                                                <div class="fs16 cred m0 fwbbold pt10 pl10">Total llamadas
                                                    <p class="cred pull-right m0">{{totalLlamadas.TOTAL}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="noInfoVoz">
                                    <div class="col-xs-12 col-md-12 tac hidden-sm hidden-xs mt10">
                                        <img class="tac pl25" ng-src="/Images/Group_9337.png"></img>
                                        <div class="fs18 tac mt10 cgraybold">
                                            No tienes información
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-12 tac hidden-md hidden-lg mt30">
                                        <img class="tac pl25" ng-src="/Images/Group_9337.png" width="180" height="190"></img>
                                        <div class="fs16 tac mt10 cgraybold">
                                            No tienes información
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <!-- Notificacion publicación de factura -->
                        <md-tab label="SMS" ng-click="SMS()">
                            <md-content class="md-padding bcwhite">
                                 <div class="row" ng-hide="noInfoSMS">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-4 hidden-sm hidden-xs mlm13p">
                                                <div class="col-xs-12"> 
                                                    <div class="w210 h160 ma prelative m0 pt15">
                                                        <canvas id="doughnuttorta" class="chart chart-doughnut" chart-data="dataSMS" chart-labels="labelsSMS" chart-colors="colorchartsVoz" chart-options="options"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-4 col-sm-12 col-sm-offset-4 col-xs-offset-2 pl0 hidden-lg hidden-md mlm25p">
                                                <div class="col-xs-12">
                                                    <div class="w210 h160 ma prelative m0 pt15">
                                                        <canvas id="doughnuttorta" class="chart chart-doughnut" chart-data="dataSMS" chart-labels="labelsSMS" chart-colors="colorchartsVoz" chart-options="options"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="js-legend" class="col-xs-12 col-sm-12 col-md-8 chart-legend mt8p mlm13p">
                                                <ul class="doughnut-legend mt10">
                                                    <li ng-repeat="item in labelsSMS" class="fs16"><span style="background-color:{{item.color}}"></span>{{item.servicio}}
                                                        <p class="cred pull-right m0 fwbbold">{{item.total}} SMS</p>
                                                    </li>
                                                </ul>
                                                <div class="fs16 cred m0 fwbbold pt10 pl10">Total consumido
                                                    <p class="cred pull-right m0">{{totalMensajes.TOTAL}} SMS</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="noInfoSMS">
                                    <div class="col-xs-12 col-md-12 tac hidden-sm hidden-xs mt10">
                                        <img class="tac pl25" ng-src="/Images/Group_9337.png"></img>
                                        <div class="fs18 tac mt10 cgraybold">
                                            No tienes información
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-12 tac hidden-md hidden-lg mt30">
                                        <img class="tac pl25" ng-src="/Images/Group_9337.png" width="180" height="190"></img>
                                        <div class="fs16 tac mt10 cgraybold">
                                            No tienes información
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                        <!-- Blank -->
                        <md-tab label="Otros" ng-click="otros()">
                            <md-content class="md-padding ofwini bcwhite">
                                 <div class="row" ng-hide="noInfoOtros">
                                    <div class="col-md-12" ng-show="!ocultarOtros">
                                        <div class="row">
                                            <div class="col-xs-12 col-md-12 tac">
                                                <div class="col-xs-12 col-sm-12 col-md-12 fs20 cblack fwbbold hidden-xs hidden-sm">
                                                    Total otros Consumos
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 fs18 cblack fwbbold hidden-md hidden-lg">
                                                    Total otros Consumos
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 tal fs14 bslb br5all mt10 mb10">
                                                    <div class="col-xs-12 p0 mb5 mt5">
                                                        <div class="col-xs-8 tal cgraybold">
                                                            Total otros consumos
                                                        </div>
                                                        <div class="col-xs-4 tar cgraybold">
                                                            {{totalVarios.TOTAL_VARIOS}}
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 p0 mb5">
                                                        <div class="col-xs-8 tal cgraybold">
                                                            Valor Total
                                                        </div>
                                                        <div class="col-xs-4 tar cgraybold">
                                                            {{totalVarios.VALOR_TOTAL_VARIOS | currency:'$':0}}
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 p0 mb5">
                                                        <div class="col-xs-6 tal cgraybold">
                                                            Valor promocional
                                                        </div>
                                                        <div class="col-xs-6 tar cgraybold">
                                                            {{totalVarios.VALOR_TOTAL_VARIOS_BONOS | currency:'$':0}}
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 p0 mb5">
                                                        <div class="col-xs-6 tal cgraybold fwbbold">
                                                            Valor Total
                                                        </div>
                                                        <div class="col-xs-6 tar cgraybold fwbbold">
                                                            {{totalVarios.VALOR_TOTAL_VARIOS | currency:'$':0}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-show="noInfoOtros">
                                    <div class="col-xs-12 col-md-12 tac hidden-sm hidden-xs mt10">
                                        <img class="tac pl25" ng-src="/Images/Group_9337.png"></img>
                                        <div class="fs18 tac mt10 cgraybold">
                                            No tienes información
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-12 tac hidden-md hidden-lg mt30">
                                        <img class="tac pl25" ng-src="/Images/Group_9337.png" width="150" height="158"></img>
                                        <div class="fs16 tac mt10 cgraybold">
                                            No tienes información
                                        </div>
                                    </div>
                                </div>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-md-offset-1 mb8p" id="tabDatos" ng-show="!ocultar" ng-if="!noInfoDatos">
            <div class="col-xs-12 col-md-6 mb10">
                <div class="col-xs-12 fs20 fwbbold cblack pl0">
                    Consumo total de datos por día
                </div>
            </div>
            <div class="row hidden-md hidden-lg">
                <div class="col-xs-12 col-md-12">
                    <div class="col-xs-12 col-md-3 tal fs14 bslb br5all mt10 mb10" ng-repeat="historial in historialDatos ">
                        <div class="col-xs-12 p0 mb10 mt5">
                            <div class="col-xs-12 tal cblack fwbbold">
                                {{historial.RATING_GROUP_DESCRIPTION}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-8 tal cgraybold">
                                {{historial.TRANSACTION_DATE}}
                            </div>
                            <div class="col-xs-4 tar cred">
                                {{historial.CONSUMO_TOTAL_RATING_GROUP}} {{historial.UNIDAD_CONSUMO}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Hora
                            </div>
                            <div class="col-xs-6 tar cgraybold">
                                {{historial.hora}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor
                            </div>
                            <div class="col-xs-6 tar cred">
                                {{historial.COSTO_TOTAL_RATING_GROUP | currency:'$':0}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row hidden-xs hidden-sm">
                <div class="col-xs-12 col-md-12">
                    <div class="col-xs-12 col-md-3 ml10 tal fs14 bslb br5all mt10 mb10" ng-repeat="historial in historialDatos ">
                        <div class="col-xs-12 p0 mb10 mt5">
                            <div class="col-xs-12 tal cblack fwbbold">
                                {{historial.RATING_GROUP_DESCRIPTION}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-8 tal cgraybold">
                                {{historial.TRANSACTION_DATE}}
                            </div>
                            <div class="col-xs-4 tar cred">
                                {{historial.CONSUMO_TOTAL_RATING_GROUP}} {{historial.UNIDAD_CONSUMO}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Hora
                            </div>
                            <div class="col-xs-6 tar cgraybold">
                                {{historial.hora}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor
                            </div>
                            <div class="col-xs-6 tar cred">
                                {{historial.COSTO_TOTAL_RATING_GROUP | currency:'$':0}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabVoz" class="col-xs-12 col-md-12 col-md-offset-1 mb8p" ng-show="!ocultarVoz" ng-if="!noInfoVoz">
            <div class="row">
                <div class="col-xs-12 col-md-3 pl25 mb10 pull-left hidden-sm hidden-xs">
                    <div class="col-xs-12 fs20 fwbbold cblack pl0">
                        Consumo total de llamadas
                    </div>
                </div>
                <div class="col-xs-12 col-md-5 mb10 pl25 pull-left hidden-sm hidden-xs">
                    <div class="col-xs-12 fs20 fwbbold cblack pl0">
                        Consumo total de llamadas por día
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="col-xs-12 col-md-3 pl25 mb10 pull-left hidden-md hidden-lg">
                        <div class="col-xs-12 fs18 fwbbold cblack pl0">
                            Consumo total de llamadas
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 tal fs14 bslb br5all mt10 mb10 hidden-md hidden-lg">
                        <div class="col-xs-12 p0  mt5">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Número de llamadas
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalLlamadas.TOTAL_LLAMADAS}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Número de videollamadas
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                 {{totalLlamadas.TOTAL_VIDEOLLAMADAS}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Total llamadas
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalLlamadas.TOTAL}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Valor de llamadas
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalLlamadas.VALOR_TOTAL_LLAMADAS | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Valor promocional
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalLlamadas.VALOR_TOTAL_LLAMADAS_BONOS | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Valor Total
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalLlamadas.VALOR_TOTAL | currency:'$':0}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 ml10 tal fs14 bslb br5all mt10 mb10 hidden-sm hidden-xs">
                        <div class="col-xs-12 p0  mt5">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Número de llamadas
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalLlamadas.TOTAL_LLAMADAS}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Número de videollamadas
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                 {{totalLlamadas.TOTAL_VIDEOLLAMADAS}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Total llamadas
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalLlamadas.TOTAL}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Valor de llamadas
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalLlamadas.VALOR_TOTAL_LLAMADAS | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Valor promocional
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalLlamadas.VALOR_TOTAL_LLAMADAS_BONOS | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Valor Total
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalLlamadas.VALOR_TOTAL | currency:'$':0}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5 mb10 pl25 pull-left hidden-md hidden-lg">
                        <div class="col-xs-12 fs18 fwbbold cblack pl0">
                            Consumo total de llamadas por día
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 tal fs14 ml10 bslb br5all mt10 mb10 hidden-xs hidden-sm" ng-repeat="historial in historialLlamadas">
                        <div class="col-xs-12 p0 mb5 mt5">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                {{historial.DESCRICION_LLAMADA}}
                            </div>
                            <div class="col-xs-4 tar cgraybold">
                                {{historial.DURACION_LLAMADA}} Seg
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-8 tal cgraybold">
                                {{historial.FECHA_LLAMADA}}
                            </div>
                            <div class="col-xs-4 tar cgraybold">
                                {{historial.VALOR_LLAMADA | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor
                            </div>
                            <div class="col-xs-6 tar cgraybold">
                                {{historial.VALOR_LLAMADA | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor promocional
                            </div>
                            <div class="col-xs-6 tar cred">
                                {{historial.VALOR_LLAMADA_BONOS | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold fwbbold">
                                Valor Total
                            </div>
                            <div class="col-xs-6 tar cred">
                                {{historial.VALOR_LLAMADA | currency:'$':0}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 tal fs14 bslb br5all mt10 mb10 hidden-md hidden-lg" ng-repeat="historial in historialLlamadas">
                        <div class="col-xs-12 p0 mb5 mt5">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                {{historial.DESCRICION_LLAMADA}}
                            </div>
                            <div class="col-xs-4 tar cgraybold">
                                {{historial.DURACION_LLAMADA}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-8 tal cgraybold">
                                {{historial.FECHA_LLAMADA}}
                            </div>
                            <div class="col-xs-4 tar cgraybold">
                                {{historial.VALOR_LLAMADA | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor
                            </div>
                            <div class="col-xs-6 tar cgraybold">
                                {{historial.VALOR_LLAMADA | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor promocional
                            </div>
                            <div class="col-xs-6 tar cred">
                                {{historial.VALOR_LLAMADA_BONOS | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold fwbbold">
                                Valor Total
                            </div>
                            <div class="col-xs-6 tar cred">
                                {{historial.VALOR_LLAMADA | currency:'$':0}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="tabSMS" class="col-xs-12 col-md-12 col-md-offset-1 mb8p" ng-show="!ocultarSMS" ng-if="!noInfoSMS">
            <div class="row">
                <div class="col-xs-12 col-md-3 pl25 mb10 pull-left hidden-xs hidden-sm">
                    <div class="col-xs-12 fs20 fwbbold cblack pl0">
                        Consumo total de mensajes
                    </div>
                </div>
                <div class="col-xs-12 col-md-5 mb10 pl25 pull-left hidden-xs hidden-sm">
                    <div class="col-xs-12 fs20 fwbbold cblack pl0">
                        Consumo total SMS por día
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="col-xs-12 col-md-3 pl25 mb10 pull-left hidden-md hidden-lg">
                        <div class="col-xs-12 fs18 fwbbold cblack pl0">
                            Consumo total de mensajes
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 tal fs14 bslb br5all mt10 mb10 hidden-md hidden-lg">
                        <div class="col-xs-12 p0  mt5">
                            <div class="col-xs-10 tal cgraybold fwbbold">
                                Mensajes de texto con costo
                            </div>
                            <div class="col-xs-2 tar cgraybold fwbbold">
                                {{totalMensajes.TOTAL_MENSAJE_CON_COSTO}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-10 tal cgraybold fwbbold">
                                 Mensajes de texto sin costo
                            </div>
                            <div class="col-xs-2 tar cgraybold fwbbold">
                                 {{totalMensajes.TOTAL_MENSAJE_GRATIS}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Total mensajes
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalMensajes.TOTAL}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Valor mensajes
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalMensajes.VALOR_TOTAL_MAIN_ACCOUNT | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Valor promocional
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalMensajes.VALOR_TOTAL_BONOS | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Valor Total
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalMensajes.VALOR_TOTAL | currency:'$':0}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 ml10 tal fs14 bslb br5all mt10 mb10 hidden-xs hidden-sm">
                        <div class="col-xs-12 p0  mt5">
                            <div class="col-xs-10 tal cgraybold fwbbold">
                                Mensajes de texto con costo
                            </div>
                            <div class="col-xs-2 tar cgraybold fwbbold">
                                {{totalMensajes.TOTAL_MENSAJE_CON_COSTO}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-10 tal cgraybold fwbbold">
                                 Mensajes de texto sin costo
                            </div>
                            <div class="col-xs-2 tar cgraybold fwbbold">
                                 {{totalMensajes.TOTAL_MENSAJE_GRATIS}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Total mensajes
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalMensajes.TOTAL}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Valor mensajes
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalMensajes.VALOR_TOTAL_MAIN_ACCOUNT | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Valor promocional
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalMensajes.VALOR_TOTAL_BONOS | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0">
                            <div class="col-xs-8 tal cgraybold fwbbold">
                                Valor Total
                            </div>
                            <div class="col-xs-4 tar cgraybold fwbbold">
                                {{totalMensajes.VALOR_TOTAL | currency:'$':0}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5 mb10 pl25 pull-left hidden-lg hidden-md">
                        <div class="col-xs-12 fs18 fwbbold cblack pl0">
                            Consumo total SMS por día
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 tal fs14 bslb br5all mt10 mb10 hidden-lg hidden-md" ng-repeat="historial in historialSMS">
                        <div class="col-xs-12 p0 mb5 mt5">
                            <div class="col-xs-12 tal cgraybold fwbbold">
                                {{historial.DESCRICION_MENSAJE}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-8 tal cgraybold">
                                {{historial.FECHA_MENSAJE}}
                            </div>
                            <div class="col-xs-4 tar cred">
                                1
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor
                            </div>
                            <div class="col-xs-6 tar cgraybold">
                                {{historial.VALOR_MENSAJE_MAIN_ACCOUNT | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor promocional
                            </div>
                            <div class="col-xs-6 tar cgraybold">
                                {{historial.VALOR_MENSAJE_BONOS | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold fwbbold">
                                Valor Total
                            </div>
                            <div class="col-xs-6 tar cred">
                                {{historial.VALOR_MENSAJE | currency:'$':0}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 ml10 tal fs14 bslb br5all mt10 mb10 hidden-sm hidden-xs" ng-repeat="historial in historialSMS">
                        <div class="col-xs-12 p0 mb5 mt5">
                            <div class="col-xs-12 tal cgraybold fwbbold">
                                {{historial.DESCRICION_MENSAJE}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-8 tal cgraybold">
                                {{historial.FECHA_MENSAJE}}
                            </div>
                            <div class="col-xs-4 tar cred">
                                1
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor
                            </div>
                            <div class="col-xs-6 tar cgraybold">
                                {{historial.VALOR_MENSAJE_MAIN_ACCOUNT | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor promocional
                            </div>
                            <div class="col-xs-6 tar cgraybold">
                                {{historial.VALOR_MENSAJE_BONOS | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold fwbbold">
                                Valor Total
                            </div>
                            <div class="col-xs-6 tar cred">
                                {{historial.VALOR_MENSAJE | currency:'$':0}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-md-offset-1 mb8p" id="tabOtros" ng-show="!ocultarOtros" ng-if="!noInfoOtros">
            <div class="col-xs-12 col-md-6 col-md-offset-4 pl0 mb10 hidden-md hidden-lg">
                <div class="col-xs-12 fs18 fwbbold cblack pl10">
                    Detalle otros consumos
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-md-offset-4 pl0 mb10 hidden-xs hidden-sm">
                <div class="col-xs-12 fs20 fwbbold cblack pl0">
                    Detalle otros consumos
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="col-xs-12 col-md-3 tal fs14 bslb br5all mt10 mb10 hidden-md hidden-lg" ng-repeat="historial in historialOtros">
                        <div class="col-xs-12 p0 mb10 mt5">
                            <div class="col-xs-12 tal cblack fwbbold">
                                {{historial.DESCRIPCION}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-8 tal cgraybold">
                                {{historial.FECHA}}
                            </div>
                            <div class="col-xs-4 tar cgraybold">
                                {{historial.CANTIDAD}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor
                            </div>
                            <div class="col-xs-6 tar cgraybold">
                                {{historial.VALOR_VARIOS_MAIN_ACCOUNT | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor promocional
                            </div>
                            <div class="col-xs-6 tar cgraybold">
                                {{historial.VALOR_VARIOS_BONOS | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor Total
                            </div>
                            <div class="col-xs-6 tar cgraybold">
                                {{historial.VALOR_TOTAL | currency:'$':0}}
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 ml10 tal fs14 bslb br5all mt10 mb10 hidden-xs hidden-sm" ng-repeat="historial in historialOtros">
                        <div class="col-xs-12 p0 mb10 mt5">
                            <div class="col-xs-12 tal cblack fwbbold">
                                {{historial.DESCRIPCION}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-8 tal cgraybold">
                                {{historial.FECHA}}
                            </div>
                            <div class="col-xs-4 tar cgraybold">
                                {{historial.CANTIDAD}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor
                            </div>
                            <div class="col-xs-6 tar cgraybold">
                                {{historial.VALOR_VARIOS_MAIN_ACCOUNT | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor promocional
                            </div>
                            <div class="col-xs-6 tar cgraybold">
                                {{historial.VALOR_VARIOS_BONOS | currency:'$':0}}
                            </div>
                        </div>
                        <div class="col-xs-12 p0 mb5">
                            <div class="col-xs-6 tal cgraybold">
                                Valor Total
                            </div>
                            <div class="col-xs-6 tar cgraybold">
                                {{historial.VALOR_TOTAL | currency:'$':0}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>