<div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
    Resumen de tu cuenta: <span class="ttc">{{meanterior(1)}}</span>
</div>

<div class="col-xs-12 fs15 tac cgraybold mt1p pb25">
    <div class="col-xs-12 tac cgraybold mt1p">
        Número de Cuenta <span class="corange ml10">{{OpSelec.prepago}}</span>
    </div>
</div>

<!-- Contenedor -->
<div class="col-xs-12 col-md-10 col-md-offset-2 p0 mt25">
    <div class="col-xs-12 col-md-8 col-md-offset-1 mt4p fs16 cgraylight p0 mb20">
        <div class="col-xs-12 bcgraylight fs17 pt10 pb10 mb25 cblack">
            Detalles
        </div>
        <div class="col-xs-12 fs17 pt10 pb10 bslbposconsumo mb25 cblack">
            <div class="col-xs-12 p0">
                <div class="col-xs-6 p0 lh1">
                    Saldo de mes anterior<br>
                    <span class="fs13">{{meanterior(2)}}</span>
                </div>
                <div class="col-xs-6 tar p0">
                    {{fnreplace(InfoConsumo.SALDO_ANTERIOR)}}
                </div>
            </div>
            <div class="col-xs-12 p0 mb5">
                <div class="col-xs-6 p0">
                    Recargas de este mes:
                </div>
                <div class="col-xs-6 tar p0">
                    {{fnreplace(InfoConsumo.TOTAL_RECARGA)}}
                </div>
            </div>
            <div class="col-xs-12 p0 mb5">
                <div class="col-xs-6 p0">
                    Consumo de este mes
                </div>
                <div class="col-xs-6 tar p0">
                    {{fnreplace(InfoConsumo.TOTAL_CONSUMO)}}
                </div>
            </div>
            <div class="col-xs-12 p0 mb5">
                <div class="col-xs-10 p0">
                </div>
                <div class="col-xs-2 tar p0 btcred1px">
                </div>
            </div>
            <div class="col-xs-12 p0 mb5 cred fs20">
                <div class="col-xs-6 p0">
                    Saldo Disponible
                </div>
                <div class="col-xs-6 tar p0 fs24">
                    {{fnreplace(InfoConsumo.SALDO_FINAL)}}
                </div>
            </div>
        </div>

        <div class="col-xs-12 bslbposconsumo cred mb25 pt10 pb10">
            <div class="col-xs-6 fs18 p0">
                Historial de recargas
            </div>
            <div class="col-xs-6 tar cred bnfocusounder p0" ng-click="Tagging('Prepago','bt_pre_ini_recargasdelmes');openhistorialrecargas()">
                Ver <img src="/Images/Extractosprepago_icon_rounded_ritgh_rojo.png" alt="ver historial de recargas" class="w27 ml10">
            </div>
        </div>

        <div class="col-xs-12 bslbposconsumo cred mb25 pt10 pb10">
            <div class="col-xs-6 fs18 p0">
                Detalle de consumos
            </div>
            <div class="col-xs-6 tar cred bnfocusounder p0" ng-click="Tagging('Prepago','bt_pre_ini_consumodelmes');changeModulo(5)">
                Ver
                <img src="/Images/Extractosprepago_icon_rounded_ritgh_rojo.png" alt="ver detalle de consumos" class="w27 ml10">
            </div>
        </div>
        <!--<div class="col-xs-12 col-md-6 col-md-offset-3 mt5p pr0 bclilalight cwhite tac pt10 pb10 fs16 tac cpointer outlinenone p0" ng-click="datalleMesAnterior(0)">
            Volver
        </div>-->
        <div class="col-xs-12 col-md-6 col-sm-6 p0 bil pl10 mb10">
            <div class="col-xs-12 bclilalight tac pt10 pb10 cwhite fs16 fwbbold br10all" ng-click="datalleMesAnterior(0)">
                <div class="col-xs-12 tac pl10">Volver</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-sm-6 p0 bil pl10 mb10 hidden-sm hidden-xs">
            <div class="col-xs-12 bgcorange tac pt10 pb10 cwhite fs16 fwbbold br10all" ng-click="changeModulo(8);historicoPaquetes()">
                <div class="col-xs-3">
                    <img src="/Images/Group_15347.png" alt="Compra de Paquetes con tu Saldo" class="w28">
                </div>
                <div class="col-xs-8 tal pl10">Paquetes adquiridos del mes</div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-sm-6 p0 bil mb10 hidden-md hidden-lg">
            <div class="col-xs-12 bgcorange tac pt10 pb10 cwhite fs16 fwbbold br10all" ng-click="changeModulo(8);historicoPaquetes()">
                <div class="col-xs-3">
                    <img src="/Images/Group_15347.png" alt="Compra de Paquetes con tu Saldo" class="w28">
                </div>
                <div class="col-xs-8 tal pl10">Paquetes adquiridos del mes</div>
            </div>
        </div>
    </div>
</div>
