<style type="text/css">
    .nav>li>a:focus,
    .nav>li>a:hover {
        text-decoration: none;
        background-color: #fff;
    }

    .nav-container {
        display: block;
        width: 100%;
        text-align: center;
    }

    .nav-text,
    .nav-icons {
        padding: 10px 0 0;
    }

    .nav-icons>li {
        display: inline-block;
    }

    .nav-text>li:first-child a,
    .nav-icons>li:first-child a {
        padding-left: 0;
    }

    .nav-icons>li>a {
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .nav-text>li>a,
    .nav-icons>li>a {
        display: block;
        padding: 0px 16px;
        color: #9A9A9A;
        text-align: center;
        filter: alpha(opacity=80);
    }

    li::before {
        content: "";
    }

    li {
        padding-left: 1em;
        text-indent: -.7em;
        margin-top: 10px;
    }

    ul {
        margin-top: 0px;
    }
</style>
<script>
    var URLactual = window.location;
    if (URLactual.pathname.indexOf('.') != -1) {
        window.location.href = "/";
    }
</script>
<div block-ui="detalleHogar">
    <div class="pfixed ng-scope r0 b380 zi1 bcgraychat w304 pt5 pb5 pl6" ng-if="chatHd == 1">
        <img src="/Images/cancellila.png" class="zi1 b390 r227 h25 w25 cpointer outlinenone" ng-click="showchatHd()" ng-if="chatHd == 1"></img>
    </div>
    <iframe src="{{UrlIframeChatHd}}" class="pfixed zi1 b0 r0 h380 bcgraylight " ng-if="chatHd == 1"></iframe>

    <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
        Detalle de tu plan
    </div>
    <div class="col-xs-12 p0 col-sm-8 col-sm-offset-2 mt25 mb10 fs20">
        <div class="col-xs-6 fs14 fwbbold cgraybold mt3 tar">
            Número de Cuenta
        </div>
        <div class="col-xs-6 fs15 fwbbold cred tal">
            {{OpSelec.hogar}}
        </div>
    </div>
    <div class="content-planHogar">
        <div class="row">
            <div class="col-xs-12 col-md-4 pl0 plm17p" ng-hide="ocultar">
                <div ng-if="megasInternet.length>0" class="col-xs-12 col-sm-12  tal fs18 bslb br5all mt10 mb10">
                    <div class="col-xs-12 alingcenter tac mt10">
                        <img src="/Images/internet.png" class="img-responsive">
                    </div>
                    <div class="col-xs-12 cblackopacity fs24 tac fwbbold mt10">
                        Internet
                    </div>
                    <div class="col-xs-12 tac mt10 fs35 cblackopacity fwbbold mb6p">
                        {{megasInternet[0].descripcion}}
                    </div>
                </div>
                <div ng-if="!megasInternet.length" class="col-xs-12 col-sm-12  tal fs18 bslb br5all mt10 mb10">
                    <div class="col-xs-12 tac mt13p fs35 cblackopacity fwbbold">
                        <img src="/Images/icon_info64x64.png">
                    </div>
                    <div class="col-xs-12 tac mb6p cblackopacity fwbbold mt10">
                        Actualmente no cuentas con este servicio
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 pl0 plm17p" ng-hide="ocultar">
                <div ng-if="television.length>0" class="col-xs-12 col-sm-12 tal fs18 bslb br5all mt10 mb10">
                    <div class="col-xs-4 p0 alingcenter mt10">
                        <div class="row">
                            <div class="col-xs-12 alingcenter">
                                <img src="/Images/tv.png" class="img-responsive">
                            </div>
                            <div class="col-xs-12 tac cblackopacity fwbbold mt10 fs24">
                                Televisión
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 p0 mt10 alingcenter">
                        <div class="row">
                            <div class="col-xs-12 tac fs24 mt10 cblackopacity fwbbold ">
                                {{television[0].descripcion}}
                            </div>
                            <div class="col-xs-12 tac fs24 cblackopacity fwbbold ">
                                {{television[1].descripcion}}
                            </div>
                            <div class="col-xs-12 tac clila mt10 fs14 fwbbold tdul" ng-click="pauqtesTv(television);Tagging('Hogar','_ini_detalleplan_verpaque');">
                                <div class="row tdul">
                                    <div class="col-xs-10 fs16 tac tdul">
                                        Ver paquetes contratados
                                    </div>
                                    <div class="col-xs-2 mt5 tdul">
                                        <img src="/Images/flecha.png" class="img-responsive">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 btn-primary cwhite tac br5all mt15 mb6p pb10 pt10 fwbbold fs14 cpointer outlinenone" ng-click="fcninterna('paquetesHdHogar');Tagging('Hogar','_ini_detalleplan_adquipaque')" ng-if="delleHd.servicioDisponible.length != 0 && delleHd.servicioDisponible != ''">
                        <div class="col-xs-2 tal">
                            <img src="/Images/icon_premium.png" class="w41"></img>
                        </div>
                        <div class="col-xs-9 fs14 pt5 tac">
                            Adquiere aquí paquetes premium
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 btn-primary cwhite tac br5all mt15 mb6p pb10 pt10 fwbbold fs14 cpointer outlinenone" ng-click="showchatHd();Tagging('Hogar','_ini_detalleplan_adquipaque')" ng-if="delleHd.servicioDisponible.length == 0">
                        <div class="col-xs-2 tal">
                            <img src="/Images/icon_premium.png" class="w41"></img>
                        </div>
                        <div class="col-xs-9 fs14 pt5 tac">
                            Adquiere aquí paquetes premium
                        </div>
                    </div>
                </div>
                <div ng-if="!television.length" class="col-xs-12 col-sm-12  tal fs18 bslb br5all mt10 mb10">
                    <div class="col-xs-12 tac mt13p fs35 cblackopacity fwbbold">
                        <img src="/Images/icon_info64x64.png">
                    </div>
                    <div class="col-xs-12 tac mb6p cblackopacity fwbbold mt10">
                        Actualmente no cuentas con este servicio
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 pl0 plm17p" ng-hide="ocultar">
                <div ng-if="telefonia.length>0" class="col-xs-12 col-sm-12  tal fs18 bslb br5all mt10 mb10">
                    <div class="col-xs-4 p0 alingcenter mt10">
                        <div class="row">
                            <div class="col-xs-12 alingcenter">
                                <img src="/Images/tlefoniafija.png" class="img-responsive">
                            </div>
                            <div class="col-xs-12 tac cblackopacity fwbbold mt10 fs24">
                                Telefonía
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 p0 mt30 alingcenter">
                        <div class="row">
                            <div class="col-xs-12 tac fs24 mt10 cblackopacity fwbbold ">
                                {{telefonia[0].descripcion}}
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-xs-12 col-sm-12 btn-primary cwhite tac mt10 mb10 pb5 pt5 fs14 br5all cpointer outlinenone" ng-click="PortalVoz()">
                        <div class="col-xs-2 tal">
                            <img src="/Images/icon_portalvoz.png" class="w41"></img>
                        </div>
                        <div class="col-xs-9  pl0 pt10 tac">
                            Ir a Portal Voz
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 btn-primary cwhite tac mb15 pb5 pt5 fs14 br5all cpointer outlinenone" ng-click="telefonoVirtual()">
                        <div class="col-xs-2 tal">
                            <img src="/Images/ico_respaldoDia.png" class="w35"></img>
                        </div>
                        <div class="col-xs-9  pl0 pt10 tac">
                            Acceder a Teléfono Virtual
                        </div>
                    </div>-->
                </div>
                <div ng-if="!telefonia.length" class="col-xs-12 col-sm-12  tal fs18 bslb br5all mt10 mb10">
                    <div class="col-xs-12 tac mt13p fs35 cblackopacity fwbbold">
                        <img src="/Images/icon_info64x64.png">
                    </div>
                    <div class="col-xs-12 tac mb6p cblackopacity fwbbold mt10">
                        Actualmente no cuentas con este servicio
                    </div>
                </div>
            </div>
        </div>
        <div id="mainContent">

        </div>
    </div>
</div>
