<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 p0 mb20">
    <div class="col-xs-12 col-md-8 col-md-offset-2 cgray fs20 fw600">
        <div class="col-xs-12 p0 fs40 fwbbold tac cgraybold mt25 mb3p">
            Confirmar
        </div>
        <div class="col-xs-12 tac mb2p">
            ¿Estás seguro que deseas continuar con el proceso de renovación de tu equipo?
        </div>
        <div class="col-xs-12 p0 mb2p">
            <div class="col-xs-12 tac cblack">
                Valor total del equipo:
            </div>
            <div class="col-xs-12 tac cblack">
                {{fnreplace(dataEnviar.aprecio)}}
            </div>
        </div>
        <div class="col-xs-12 p0 mb2p" ng-if="formaPago != 'cf'">
            <div class="col-xs-12 tac cblack">
                Cuotas:
            </div>
            <div class="col-xs-12 tac cblack">
                {{cuotas.ncuotas}}
            </div>
        </div>
       <!-- <div class="col-xs-12 tac mb2p">
            Recuerda que este cargo se verá reflejado en tu próxima factura
        </div>-->
        <div class="col-xs-12 tac mb2p">
            Recuerda que tu solicitud de renovación de equipo será confirmada por uno de nuestros asesores. 
        </div>
    </div>
    <div class="col-xs-12 pt20">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 bclilalight cwhite tac pt10 pb10 mt7 cpointer" ng-click="Tagging('Postpago','bt_pos_ini_renuequi_equi1_pagcuo_cont_ca');volver()">
            Cancelar
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 bgRojoBl cwhite tac pt10 pb10 mt7 cpointer" ng-click="Tagging('Postpago','bt_pos_ini_renuequi_equi1_pagcuo_cont_co');pagarEletronico('3')">
            Confirmar
        </div>
    </div>
</div>