<script type="text/ng-template" id="terminos.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img>
    </div>
    <div class="col-xs-12 tac fwbbold fs21 mt2p cgraybold">Términos y Condiciones</div>
    <div class="col-xs-12 max-h360 taj fs15 mt2p mb4p cgraybold ofy overflowxh">
        <strong>
            1. Capacidad
        </strong>
        <p>
            Los Servicios de Renovación de equipo (APP MI CLARO) sólo están disponibles para personas que
            tengan capacidad legal para contratar en la República de Colombia.<br />
    
            No podrán utilizar los servicios las personas que no tengan esa capacidad y los menores de edad.
            Los actos que estos realicen en la (APP MI CLARO) serán responsabilidad de sus padres, tutores,
            encargados o curadores, y por tanto se considerarán realizados por éstos en ejercicio de la
            representación legal con la que cuentan. Solamente podrán registrarse como Usuarios de la (APP
            MI CLARO) las personas naturales, entendiendo por persona natural todo individuo mayor de edad
            con capacidad para contratar de conformidad con la ley colombiana.
            <br />
            <br />
            El espacio disponible es menor debido al almacenamiento del sistema operativo y las apps preinstaladas;
            puede variar por las actualizaciones del dispositivo.
        </p>
        <strong>
            2. Procedimiento para hacer uso de Renovación de equipo (APP MI CLARO)
        </strong>
        <p>
            Estos Términos y Condiciones Generales de Renovación de equipo (APP MI CLARO) que adoptan
            Comcel y Telmex para la (APP MI CLARO) regulan el proceso para adquirir los Productos. Así
            mismo regulan el proceso de tratamiento de datos de los Usuarios que se registren en la (APP MI
            CLARO) y, de quienes adquieren Productos a través de esta.<br />
    
            Comcel y Telmex se comprometen a promover que la información que se comunique en la (APP MI
            CLARO) sea respetuosa de los derechos de propiedad intelectual, así como de la dignidad humana,
            la moral y las buenas costumbres. Es obligación de los visitantes, Usuarios y proveedores hacer un
            uso honesto de la información a la que accedan.
        </p>
        <strong>
            3. Formalización del contrato de venta
        </strong>
        <p>
            Para todos los casos en que la ley exija un “contrato de venta” o documento equivalente se
            entenderá que estos Términos y Condiciones, junto con el precio, modalidad de entrega, forma de
            pago y características esenciales del Producto, constituyen el Contrato de Venta entre el Usuario y
            Comcel y/o Telmex. Para tal efecto, una vez aprobada la transacción por parte de la entidad
            bancaria correspondiente, el Usuario podrá ver un resumen que contendrá las condiciones de la
            <br />
            transacción realizada. A su vez, estos Términos y Condiciones, estarán siempre disponibles en la
            (APP MI CLARO). Para la Renovación de equipo atreves de la APP MI CLARO , el Usuario requiere
            únicamente agotar los siguientes pasos:
            <br />
            a) Descargar y registrarse en (APP MI CLARO). Si es un Usuario nuevo, debe registrarse llenando el
            formulario de registro. Si es un Usuario ya registrado, debe ingresar a su Cuenta con su usuario y
            Clave.
            <br />
            b) En caso de olvido de contraseña el usuario puede recuperarla mediante la opción “Recordar
            Clave”.
            <br />
            c) Seguir las instrucciones y diligenciar la información solicitada. La información requerida puede
            variar según la ciudad de residencia del Usuario.
            <br />
            d) El usuario tendrá dos opciones de Renovación de equipo: con cargo a la siguiente factura o pago
            de contado por medio de tarjeta de Crédito.
            <br />
            e) En caso que el pago se realice con tarjeta de Crédito, al Usuario se le mostrará un resumen de la
            misma el cual podrá imprimir o descargar. Posteriormente, debe esperar vía correo electrónico
            este mismo resumen confirmando su pedido.
            <br />
            F) En caso que el usuario elija la opción “Cargo a la Factura”, en un término de 24 horas se dará
            respuesta vía correo electrónico informando el estado de su solicitud (rechazo o aprobación)
        </p>
        <strong>
            Condiciones de entrega:
        </strong>
        <p>
            a) Los productos ofertados en la Renovación de equipo (APP MI CLARO) están sujetos a
            disponibilidad de inventario.
            <br />
            b) Una vez realizada la Renovación de equipo en la APP MI CLARO, logística realizará contacto con
            el cliente en un término de cuarenta y ocho (48) horas hábiles para acordar las condiciones de
            entrega.
            <br />
            c) La entrega del equipo se realizara en el término de setenta y dos (72) horas hábiles posteriores
            al contacto realizado por el equipo de logística, y entregados en el domicilio que el cliente asigne
            para este efecto.
            <br />
            d) Comcel y Telmex se comprometen a entregar los equipos de acuerdo a su cobertura a nivel
            nacional y de acuerdo a las condiciones pactadas con el cliente.
            <br />
            e) El cliente recibirá junto con el producto adquirido, la documentación requerida para la
            legalización de la Renovación de equipo. La firma de este documento constituye la aceptación del
            producto y las condiciones del contrato de venta suscrito.
        </p>
        <strong>
            4. Retracto
        </strong>
        <p>
           Comcel y Telmex ofrecen a sus clientes la posibilidad de retractarse de la Renovación de equipo
            dentro de los cinco (5) días hábiles siguientes a la entrega del Producto.<br />
            Para poder ejercer el derecho de retracto, el Usuario que ha hecho la Renovación de equipo
            deberá cumplir con las condiciones generales que se detallan a continuación. No obstante, cuando
            un Producto tenga unas condiciones específicas para poder ejercer el derecho de retracto, éstas se
            especificarán en las características del Producto.
        </p>
        <strong>
            Condiciones Generales para el retracto
        </strong>
        <p>
            • El Producto no debe estar averiado o deteriorado por acciones correspondientes al
            Usuario o cliente.
            <br />
            • El Producto debe tener etiquetas, factura de venta, accesorios y empaques. Originales
            (incluyendo manuales, guías de uso, certificados de garantía, etc.).
            <br />
            • El Producto no debe mostrar señales de uso, suciedad o desgaste.
            <br />
            • El Producto no debe tener más de cinco (5) días hábiles de entregado.
            <br />
            • El Producto adquirido no debe ser perecedero, de uso personal o íntimo.
        </p>
        <strong>
            Condiciones de reembolso del retracto
        </strong>
        <p>
            • Si el Producto fue pagado directamente por el Usuario antes del retracto, se reembolsará
            el dinero dentro de los treinta (30) días hábiles después que Comcel y/o Telmex acepten el
            retracto. En el caso del Producto que fue adquirido por medio de la utilización de tarjeta crédito, la
            cancelación del mismo se tramitará directamente por el Usuario con la entidad bancaria
            correspondiente. Comcel y/o Telmex informarán a dicha entidad acerca del uso del derecho de
            retracto por parte del Usuario.
            <br />
            • Los Usuarios que deseen cambiar el Producto, deberán hacer primero la devolución dentro
            de los cinco (5) días hábiles siguientes a la entrega del Producto, de acuerdo con el procedimiento
            de retracto explicado anteriormente, y luego realizar una nueva solicitud para el nuevo producto a
            través de la Tienda Virtual.
            <br />
            • Después de pasados los cinco (5) días hábiles a partir de la entrega del Producto, el
            Usuario ya no podrá devolver el Producto.
            <br />
            • En el caso que el Producto se encontrase abierto y el Usuario requiera un cambio por
            desperfecto, deberá remitirse al proceso de garantía.
            <br />
            • El cliente puede solicitar el reembolso de su dinero en efectivo aportando los soportes
            necesarios para dicho trámite, la devolución de dineros en efectivo debe realizarse en centros de
            servicio (puntos autorizados).
            <br />
            • El término para realizar un rembolso de dineros al cliente por parte de Claro es de quince
            (15) días hábiles a partir de la aceptación de reembolso al usuario.
            <br />
            • Si el usuario adquirió el equipo con la opción “Cargo a la factura”, el cobro será eliminado
            de la misma.
        </p>
        <strong>
            5. Plazo de validez de la oferta y precio
        </strong>
        <p>
            El plazo de validez de la oferta es aquel que coincide con la fecha en que los Productos que se ven
            en la APP MI CLARO y para los que el botón de compra esté habilitado están disponibles, y se
            entenderá que termina su vigencia en virtud del agotamiento de las cantidades de Productos
            disponibles para esa oferta debidamente informados al Usuario, o mientras la oferta se mantenga
            disponible, el menor de éstos plazos. Cuando quiera que en una oferta no se indique una fecha de
            terminación se entenderá que la actividad se extenderá hasta el agotamiento de los inventarios
            correspondientes.
            <br />
            Los precios de los Productos disponibles en la APP MI CLARO, mientras aparezcan en él, solo
            tendrán vigencia y aplicación en éste. Los precios de los Productos ofrecidos En la APP MI CLARO
            están expresados en Pesos Colombianos salvo que se manifieste lo contrario.
        </p>
        <strong>
            6. Promociones
        </strong>
        <p>
            Las promociones que se ofrezcan en la APP MI CLARO no son necesariamente las mismas que
            ofrezcan otros canales de venta utilizados por Comcel y/o Telmex cuyos Productos se venden,
            <br />
            tales como tiendas físicas, venta telefónica, catálogos u otros, a menos que se señale
            expresamente en la APP MI CLARO o en la publicidad que realicen tales empresas para cada
            promoción. Cuando en la APP MI CLARO se ofrezcan promociones que consistan en la entrega
            gratuita o rebajada de un Producto por la compra de otro, el despacho del bien que se entregue
            gratuitamente o a precio rebajado, se hará en el mismo lugar en el cual se despacha el Producto
            comprado. Comcel y/o Telmex someten sus promociones y actividades promocionales al
            cumplimiento de las normas vigentes y específicamente a las disposiciones de la ley 1480 de 2012.
        </p>
        <strong>
            7. Proceso de garantía
        </strong>
        <p>
            Cuando un Producto adquirido por medio de la APP MI CLARO presenta algún defecto de
            fabricación en las primeras setenta y dos (72) horas después de haber sido recibido, debe
            reportarse dentro de este plazo de tiempo a través de la opción “Quejas y Reclamos” dentro del
            Portal de Internet www.claro.com.co, y se le darán las indicaciones para hacer el cambio, siempre
            y cuando cumpla con las condiciones definidas para ello.
            <br />
            Cuando un Producto es adquirido por medio de la APP MI CLARO presenta alguna falla técnica
            que no sea causada por manipulación indebida del usuario, después de las setenta y dos (72)
            horas iniciales, debe reportarlo a través de la opción “Quejas y Reclamos” que encontrará en el
            Portal Web www.claro.com.co, y se le darán las indicaciones para solicitar la reparación del
            Producto por garantía. El plazo de la garantía será de doce (12) meses y empieza a correr desde la
            fecha de recepción de Producto por parte del Usuario.
        </p>
        <strong>
            8. Autorización para tratamiento de datos personales.
        </strong>
        <p>
            El suscriptor y/o usuario da su consentimiento previo expreso e informado a Comcel y Telmex para
            el tratamiento de sus datos personales, de conformidad con lo señalado en la normatividad
            vigente, así: Derechos del titular de los datos personales (i) Acceder en forma gratuita a los datos
            proporcionados a Comcel y Telmex que hayan sido objeto de tratamiento. (ii) Conocer, actualizar y
            rectificar su información frente a datos parciales, inexactos, incompletos, fraccionados, que
            induzcan a error, o a aquellos cuyo tratamiento esté prohibido o no haya sido autorizado. (iii)
            Solicitar prueba de la autorización otorgada (iv) Presentar ante la Superintendencia de Industria y
            Comercio (SIC) quejas por infracciones a lo dispuesto en la normatividad vigente. (v) Revocar la
            autorización y/o solicitar la supresión del dato cuando en el tratamiento no se respeten los
            principios, derechos y garantías constitucionales y legales, el cual procederá cuando la autoridad
            haya determinado que Comcel y Telmex en el tratamiento ha incurrido en conductas contrarias a
            la Constitución y la normatividad vigente. (vi) Abstenerse de responder las preguntas sobre datos
            <br />
            sensibles. Finalidad: Los datos personales suministrados serán incorporados a una base de datos,
            por tanto autorizo a Comcel y Telmex a utilizar esta información para el envío y/o recepción de
            mensajes cortos de texto, correo electrónico y/o mensajes multimedia con fines comerciales y/o
            publicitarios.
            <br />
            Comcel y Telmex mantendrán la confidencialidad de todos los datos personales registrados, en la
            página web de Claro.com.co, por los suscriptores y/o usuarios de Comcel y Telmex, así como toda
            aquella información que se llegue a conocer. Comcel y Telmex no divulgará esta información sin la
            previa autorización del titular de la misma, excepto en los casos en los cuales sea solicitada por
            mandato legal o judicial, que releve tal consentimiento.
            <br />
            Comcel y Telmex utilizará las medidas técnicas, humanas y administrativas que sean necesarias
            para otorgar seguridad a los registros de los suscriptores y/o usuarios de Comcel y Telmex,
            evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o fraudulento.
            <br />
            El suscriptor y/o usuario debe mantener la confidencialidad de su contraseña. Si revela a otros su
            contraseña o comparte su cuenta y/o dispositivos con otras personas, deberá asumir toda la
            responsabilidad derivada de las acciones de dichas personas. El suscriptor y/o usuario es
            responsable de todo uso en su cuenta, incluyendo el uso no autorizado de terceros.
        </p>
        <strong>
            9. Principios Generales Para El Tratamiento de Datos Personales
        </strong>
        <p>
            En el Tratamiento de Datos Personales se cumplirá con los siguientes principios:
            <br />
            • Principio de finalidad: El Tratamiento de Datos Personales debe obedecer a una finalidad
            legítima que se informará al Titular.
            <br />
            • Principio de libertad: El Tratamiento de Datos Personales sólo puede ejercerse con el
            consentimiento, previo, expreso e informado del Titular. Los Datos Personales no podrán ser
            obtenidos o divulgados sin previa autorización, o en ausencia de mandato legal o judicial que
            releve el consentimiento del Titular.
            <br />
            • Principio de veracidad o calidad: La información sujeta a Tratamiento debe ser veraz,
            completa, exacta, actualizada, comprobable y comprensible. Se prohíbe el Tratamiento de datos
            parciales, incompletos, fraccionados o que induzcan a error.
            <br />
            • Principio de transparencia: En el Tratamiento debe garantizarse el derecho del Titular a
            obtener de Comcel y Telmex, en cualquier momento y sin restricciones, información acerca de la
            existencia de datos que le conciernan.
            <br />
            • Principio de seguridad: La información sujeta a Tratamiento se deberá manejar con las
            medidas técnicas, humanas y administrativas que sean necesarias para otorgar seguridad
            a los registros evitando su adulteración, pérdida, consulta, uso o acceso no autorizado o
            fraudulento.
            <br />
            • Principio de confidencialidad: Todas las personas que intervengan en el Tratamiento de
            Datos Personales están obligadas a garantizar la reserva de la información, inclusive después de
            finalizada su relación con alguna de las labores que comprende el Tratamiento.
        </p>
        <strong>
            10. Seguridad
        </strong>
        <p>
            Tenemos en marcha medidas técnicas y de seguridad para evitar el acceso no autorizado o ilegal o
            la pérdida accidental, destrucción u ocurrencia de daños a su información. Cuando se recogen
            datos a través de la APP MI CLARO, recogemos sus datos personales en un servidor seguro. Si bien
            no podemos garantizar al 100% de seguridad, estos sistemas han probado ser efectivos en el
            manejo de información reservada y harán que sea difícil para un hacker descifrar sus datos. Se
            recomienda no enviar todos los detalles de tarjetas de crédito sin cifrar las comunicaciones
            electrónicas con nosotros. Mantenemos las salvaguardias físicas, electrónicas y de procedimiento
            en relación con la recopilación, el almacenamiento y la divulgación de su información. Nuestros
            procedimientos de seguridad implican que en ocasiones podremos solicitarle una prueba de
            identidad antes de revelar información personal. Tenga en cuenta que usted es el único
            responsable de la protección contra el acceso no autorizado a su clave o contraseña y a su
            computadora.
        </p>
        <strong>
            11. Propiedad Industrial e Intelectual
        </strong>
        <p>
            Todo el contenido incluido o puesto a disposición del Usuario en la APP MI CLARO , incluyendo
            textos, gráficas, logos, íconos, imágenes, archivos de audio, descargas digitales y cualquier otra
            información (el "Contenido"), es de propiedad de Comcel y/o Telmex ha sido licenciada a ésta por
            terceros. La compilación del Contenido es propiedad exclusiva de Comcel y Telmex y, en tal
            sentido, el Usuario debe abstenerse de extraer y/o reutilizar partes del Contenido sin el
            consentimiento previo y expreso de Comcel y Telmex.
            <br />
            Además del Contenido, las marcas, denominativas o figurativas, marcas de servicio, diseños
            industriales y cualquier otro elemento de propiedad intelectual que haga parte del Contenido (la
            "Propiedad Industrial"), son de propiedad de Comcel, Telmex o de terceros y, por tal razón, no
            pueden ser usadas por los Usuarios en conexión con cualquier producto o servicio que no sea
            <br />
            provisto por Comcel y/o Telmex. En el mismo sentido, la Propiedad Industrial no podrá ser usada
            por los Usuarios en conexión con cualquier producto y servicio que no sea de aquellos que
            comercializan u ofrecen Comcel y Telmex o de forma que produzca confusión con sus clientes o
            que desacredite a Comcel y/o Telmex o las empresas cuyos productos se venden en la APP MI
            CLARO.
        </p>
        <strong>
            12. Responsabilidad de Comcel y Telmex
        </strong>
        <p>
            Comcel y Telmex harán lo posible dentro de sus capacidades para que la transmisión de la APP MI
            CLARO sea ininterrumpida y libre de errores. Sin embargo, dada la naturaleza del Internet, dichas
            condiciones no pueden ser garantizadas. En el mismo sentido, el acceso del Usuario a la Cuenta
            puede ser ocasionalmente restringido o suspendido con el objeto de efectuar reparaciones,
            mantenimiento o introducir nuevos Servicios. Comcel y Telmex no serán responsable por pérdidas
            (i) que no hayan sido causadas por el incumplimiento de sus obligaciones; (ii) lucro cesante o
            pérdidas de oportunidades comerciales; (iii) cualquier daño indirecto.
        </p>
        <strong>
            13. Términos de Ley
        </strong>
        <p>
            Este acuerdo será gobernado e interpretado de acuerdo con las leyes de Colombia, sin dar efecto a
            cualquier principio de conflictos de ley. Si alguna disposición de estos Términos y Condiciones es
            declarada ilegal, o presenta un vacío, o por cualquier razón resulta inaplicable, la misma deberá
            ser interpretada dentro del marco del mismo y en cualquier caso no afectará la validez y la
            aplicabilidad de las provisiones restantes.
        </p>
        <strong>
            14. Notificaciones
        </strong>
        <p>
            Cualquier comentario, inquietud o reclamación respecto de los anteriores Términos y Condiciones,
            la Política de Privacidad, o la ejecución de cualquiera de éstos, deberá ser notificada por escrito a
            Comcel S.A. o Telmex Colombia S.A. identificadas con el NIT 800.153.993-7 y 830.053.800-4
            respectivamente a la siguiente dirección: Avenida 68B No. 24D -10, Colombia, a los teléfono
            018000341818 o 018003200200 a nivel nacional.
        </p>
    </div>
    <div class="cb"></div>
</script>
<div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 p0 mb20">
    <div class="col-xs-12 p0 hidden-xs">
        <div class="col-xs-3 col-sm-4 tac">
            <div class="col-xs-12 tac fs18 mb5">
                Equipo seleccionado
            </div>
            <div class="col-xs-12 bsdetallepaquetepre mb20 p0">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 p0 pt20 pb20">
                    <img ng-src="{{productentrega.imagenes[0]}}" alt="{{productentrega.anombre}}" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-sm-8">
            <div class="col-xs-12 col-sm-10 col-sm-offset-2 p0">
                <div class="col-xs-12 cblack fwbbold fs25 mb25">
                    {{productentrega.anombre}}
                </div>
               <div ng-if="productentrega.aprecioPublico!=0">
                    <div class="col-xs-12">Precio normal</div>
                    <div class="col-xs-12 cblack fwbbold fs28 tdlt ">{{fnreplace(productentrega.aprecioPublico)}}</div>
                    <div class="col-xs-12">Cliente Claro</div>
                    <div class="col-xs-12 clila fwbbold fs28 ">{{fnreplace(productentrega.aprecio)}}</div>
                </div>
                <div ng-if="productentrega.aprecioPublico==0">
                    <div class="col-xs-12">Precio normal</div>
                    <div class="col-xs-12 clila fwbbold fs28 ">{{fnreplace(productentrega.aprecio)}}</div>
                </div>
                <div class="col-xs-12 fs13">
                    Impuestos incluidos
                </div>
                <div class="col-xs-12 fs18">
                    Colores disponibles
                </div>
                <div class="col-xs-6 mb18 mt5">
                    <div ng-repeat="color in elegircolor" style="background:{{color.colorbg.acodigo}};" ng-click="colorElegido($index)" class="br50pall flleft bnfocus w20 h20 bc1graybold mr3">
                        <img src="/Images/icon_check_azul.png" ng-if="color.visible == true" alt="Color Elegido" class="w100p">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0 hidden-md hidden-sm hidden-lg">
        <div class="col-xs-5 col-sm-4 tac p0">
            <div class="col-xs-12 bsdetallepaquetepre mb20 p0">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 p0 pt20 pb20">
                    <img ng-src="{{productentrega.imagenes[0]}}" alt="{{productentrega.anombre}}" class="img-responsive">
                </div>
            </div>
        </div>
        <div class="col-xs-7 col-sm-8 tar p0">
            <div class="col-xs-12 col-sm-10 col-sm-offset-2 p0">
                <div class="col-xs-12 fs18 mb5">
                    Equipo seleccionado
                </div>
                <div class="col-xs-12 cblack fwbbold fs21 mb25">
                    {{productentrega.anombre}}
                </div>
                <div class="col-xs-12 fs18">
                    Precio ahora
                </div>
                <div class="col-xs-12 fs28 fwbbold clila">
                    {{fnreplace(productentrega.aprecio)}}
                </div>
                <div class="col-xs-12 fs11">
                    Impuestos incluidos
                </div>
                <div class="col-xs-12 fs18">
                    Colores disponibles
                </div>
                <div class="col-xs-6 mb18 mt5">
                    <div ng-repeat="color in elegircolor" style="background:{{color.colorbg.acodigo}};" ng-click="colorElegido($index)" class="br50pall flr bnfocus w20 h20 bc1graybold mr3">
                        <img src="/Images/icon_check_azul.png" ng-if="color.visible == true" alt="Color Elegido" class="w100p">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 p0">
        <div class="col-xs-12 fwbbold fs28 pb10">
            <img align="left" src="/Images/rte_equipo_gris.png" alt="" class="ma img-responsive h31 pr10"></img>
            Costo de tu Smartphone
        </div>
        <div class="col-xs-12 col-sm-6 p0 fs18" ng-if="productentrega.aprecioPublico != 0">
            <div class="col-xs-6 pt5 pb5">Valor total del equipo</div><div class="col-xs-6 tar fwbbold pt5 pb5">{{fnreplace(productentrega.aprecio)}}</div>
            <div class="col-xs-7 pt5 pb5">Descuento clientes Claro</div><div class="col-xs-5 tar fwbbold pt5 pb5 clila">{{fnreplace(productentrega.descuento)}}</div>
            <div class="col-xs-7 pt5 pb5">Impuesto consumo (IVA)</div><div class="col-xs-5 tar fwbbold pt5 pb5">{{fnreplace(productentrega.aimpuesto)}}</div>
        </div>
        <div class="col-xs-12 col-sm-6 p0 fs18" ng-if="productentrega.aprecioPublico == 0">
            <div class="col-xs-6 pt5 pb5">Valor total del equipo</div><div class="col-xs-6 tar fwbbold pt5 pb5">{{fnreplace(productentrega.aprecio)}}</div>
            <div class="col-xs-7 pt5 pb5">Impuesto consumo (IVA)</div><div class="col-xs-5 tar fwbbold pt5 pb5">{{fnreplace(productentrega.aimpuesto)}}</div>
        </div>
        <div class="col-xs-12 col-sm-6 p0 fs18">
            <div class="col-xs-6 pt5 pb5">Costo de envío </div><div class="col-xs-6 tar fwbbold pt5 pb5">{{fnreplace(productentrega.costoEnvio)}}</div>
            <div class="col-xs-6 fwbbold pt5 pb5">Valor total a pagar </div><div class="col-xs-6 tar fwbbold cred fs25">{{fnreplace(productentrega.aprecio)}}</div>
        </div>
    </div>
    <div class="col-xs-12 fwbbold fs28 pl40">Selecciona medio de pago</div>
    <div class="col-xs-12 mt20">
        <div class="ol-xs-12 col-md-6 col-md-offset-3 p0 cpointer tac corange tdu bnfocusounder" ng-click="Tagging('CatalogoMovil','bt_cm_ini_renuequi_equi'+productentrega.aproductoID+'_comp_terycond');terminos()">
            Conoce condiciones y restricciones <img src="/Images/icon_flecharoja.png" class="ml10">
        </div>
    </div>
    <div class="col-xs-12 pt20">
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 bgRojoBl cwhite tac pt10 pb10 mt7 cpointer" ng-click="Tagging('CatalogoMovil','bt_cm_ini_renuequi_equi'+productentrega.aproductoID+'_pagcuo');changepage(5)">
            Pago con cargo a tu factura
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-1 bgRojoBl cwhite tac pt10 pb10 mt7 cpointer" ng-click="Tagging('CatalogoMovil','bt_cm_ini_renuequi_equi'+productentrega.aproductoID+'_comp_paga');changepage(4)">
            Otros medios de pago
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 pt20">
        <div class="col-xs-12 bclilalight cwhite tac pt10 pb10 mt7 cpointer" ng-click="Tagging('CatalogoMovil','bt_cm_ini_renuequi_equi'+productentrega.aproductoID+'_comp_volver');getInfo()">
            Volver
        </div>
    </div>
</div>