<div class="col-xs-12 p0" block-ui="block" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
    <div class="col-xs-12 p0">
        <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25 mb3p">
            Gestiona tu Equipo 
        </div>

        <!-- Mobil -->

        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 tac p0 clila fs18">
            En el siguiente menú puedes registrar el IMEI del equipo bajo tu propiedad y consultar su estado. Próximamente podrás realizar más trámites sobre tu IMEI. 
        </div>
        <div class="col-xs-12 fs15 tac cgraybold mt1p pb25">
            <div class="col-xs-12 tac cgraybold mt1p">
                Línea: <span class="corange ml10">{{OpSelec.postpago}}</span>
            </div>
        </div>
        
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="col-xs-12 mt3p mb3p">
                <div class="col-xs-12 col-sm-6">
                    <div class="col-xs-12 pr0 bgcorange cwhite tac pt10 pb10 fs16 tac cpointer br5all" ng-click="Tagging('Prepago','bt_pos_ini_registrarimei_registrarimei');registraEquipo()">
                        <div class="col-xs-2">
                            <img src="/Images/ico_imei.png" class="img-responsive ma mw30"></img>
                        </div>
                        <div class="col-xs-9 tac pt3 fs18">
                            Registra tu Equipo
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6">
                    <div class="col-xs-12 pr0 bgcorange cwhite tac pt10 pb10 fs16 tac cpointer br5all" ng-click="Tagging('Prepago','bt_pos_ini_gestiequi_consulequi');consultaEquipos()">
                        <div class="col-xs-2">
                            <img src="/Images/icon_consultatuequipo.png" class="img-responsive ma mw39"></img>
                        </div>
                        <div class="col-xs-9 tac pt3 fs18">
                            Consulta tus Equipos
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-xs-12 mb5p">
                <div class="col-xs-12 col-sm-6">
                    <div class="col-xs-12 pr0 bgcorange cwhite tac pt10 pb10 fs16 tac cpointer br5all" ng-click="registraEquipoDual()">
                        <div class="col-xs-2">
                            <img src="/Images/icon_registraIMEIduplicado.png" class="img-responsive ma mw44"></img>
                        </div>
                        <div class="col-xs-9 tac pt3 fs18">
                            Registra tu IMEI duplicado
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>