<div class="col-xs-12 p0" block-ui="block" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter">
    <!-- Modal Terminos y condiciones -->
    <script type="text/ng-template" id="terminoscondiciones.html">
        <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img>
        </div>
        <div class="col-xs-12 tac fwbbold fs21 mt2p cgraybold">Términos y condiciones</div>
        <div class="col-xs-12 max-h360 taj fs15 mt2p mb4p cgraybold ofy overflowxh">
            Autorizo conforme lo establecido en la Ley 1581 de 2012 a COMCEL o a cualquier tercero autorizado por esta compañía, para que de manera madura, libre, expresa e irrevocable obtenga de cualquier fuente y reporte y actualice a cualquier banco de datos las
            informaciones y referencias relativas a mi persona, nombres, apellidos y documento de identificación, así como para elaborar bases de datos con fines comerciales y/o publicitarios. De igual forma manifiesto que respecto a la información mencionada
            puedo ejercer los derechos dispuestos en el artículo 8 de la Ley 1581 de 2012 y que conozco que se encuentran disponibles en la página web www.claro.com.co las políticas de tratamiento de la información de que trata la referida Ley. Con la
            suscripción del presente documento como titular de la información manifiesto que los datos suministrados en la solicitud son ciertos y que no ha sido omitida o alterada ninguna información, quedando informado que la falsedad u omisión de algún
            dato supondrá la imposibilidad de prestar correctamente el servicio. Así mismo, en la Ley 1453, Decreto 1630 y Resolución CRC 3128 de 2011, autorizo la utilización de la información registrada para conformar la Base de Datos que almacena la
            relación de los números de identificación de los equipos terminales (IMEI) y demás información necesaria que soporta dicha base de datos.
        </div>
        <div class="cb"></div>
    </script>
    <div class="col-xs-12">
        <div class="col-xs-12 fs40 fwbbold tac cgraybold mt25">
            Registrar IMEI
        </div>

        <!-- Mobil -->
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>

        <div class="col-xs-12 tac fs15 fwbbold cgraybold p0">
            <div>Registra nuevos equipos asociados a tu documento si así lo requieres</div>
        </div>

        <!-- Mobil -->
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3 tac fs15 cgraylight p0">
            Por favor ingresa el serial del equipo móvil que deseas registrar a tu documento de identificación. Recuerda tener la SIM CARD de ingreso a Mi Claro en el equipo que se dispone a registrar. Carga la imagen de la factura o comprobante de adquisición legal
            del equipo.
        </div>

        <!-- Mobil -->
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3 tac fs15 fwbbold cgraybold p0">
            <div class="tac">
                Para conocer el número de serial de tu equipo
            </div>
            <div class="tac">
                marca en el celular:
            </div>
            <div class="tac fs40">
                *#06#
            </div>
        </div>

        <!-- Mobil -->
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>

        <div class="col-xs-12 tac cblackopacity fwbbold fs16">
            Sigue estos pasos para registrar tu IMEI:
        </div>

        <!-- Mobil -->
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>
        <!-- Mobil -->
        <div class="col-xs-12">
            <div class="h4"></div>
        </div>

        <!-- Contenedor -->
        <div class="col-xs-12 col-md-8 col-md-offset-2 p0">
            <!-- Content Left -->
            <div class="col-xs-12 col-md-6 p0">
                <!-- Desktop -->            
                <div class="col-md-2 hidden-xs hidden-sm p0 tac">
                    <img src="/Images/Uno.png" class="ma"></img>
                </div>

                <!-- Mobil -->
                <div class="col-xs-1 hidden-md hidden-lg fwbbold fs18 cgraybold p0 tac">
                    1
                </div>

                <div class="col-xs-11 col-md-10 fwbbold fs18 cgraymouse">
                    <div class="col-xs-12 p0 hidden-xs hidden-sm clila">
                        <div>Escribe el serial de tu equipo</div>
                        <div>móvil (IMEI)</div>
                    </div>
                    <div class="col-xs-12 p0 hidden-md hidden-lg clila">
                        Escribe el serial de tu equipo móvil (IMEI)
                    </div>
                </div>
                
                <!-- Mobil -->
                <div class="col-xs-1 hidden-md hidden-lg ">
                    
                </div>                

                <div class="col-xs-11 col-md-10 mt3p">
                    <div class="col-xs-12 p0 tac"></div>
                    <input type="text" placeholder="Serial" class="col-xs-12 fs18 p7 outlinenone pl15 tac" maxlength="15" ng-model="Obj.ImeiText">
                </div>
            </div>

            <!-- Content Right -->
            <!-- Desktop -->
            <div class="col-xs-6 hidden-xs hidden-sm p0 blgray2px">
                <div class="col-xs-3 col-md-2 col-md-offset-1 p0 tac">
                    <img src="/Images/Dos.png" class="ma"></img>
                </div>
                <div class="col-xs-9 fwbbold fs18 clila">
                    <div class="col-md-12 p0">
                        <div>Carga la imagen de la factura o comprobante de adquisición legal del equipo</div>
                    </div>
                </div>
                <div class="col-xs-12 p0">
                    <div class="col-xs-3 p0 tac"></div>
                    <div class="col-xs-9 p0">
                        <!-- Esta oculto, se encarga de cargar el archivo-->
                        <input id="uploadfileelement" class="dn" type="file" nv-file-select="" uploader="uploader" />
    
                        <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 fwbbold fs18 cgraymouse outlinenone">
                            <img src="/Images/Plus.png" class="mt7p w107 h110 cpointer ml35p" id="previewimg" ng-click="Tagging('Postpago','boton_login_postpago_inicio_registrarimei_agregarcomprobante');showBoxUploadElement()"></img>
                        </div>                      
                    </div> 
                </div>
            </div>
            
            <!-- Mobil -->
            <div class="col-xs-12 hidden-md hidden-lg p0 mt4p">
                <!-- Mobil -->
                <div class="col-xs-1 hidden-md hidden-lg fwbbold fs18 cgraybold p0 tac">
                    2
                </div>
                <div class="col-xs-9 fwbbold fs18 clila">
                    <div class="col-xs-12 p0">
                        Carga la imagen de la factura o comprobante de adquisición legal del equipo
                    </div>
                    <div class="col-xs-12 p0">
                        <!-- Esta oculto, se encarga de cargar el archivo-->
                        <input id="uploadfileelement" class="dn" type="file" nv-file-select="" uploader="uploader" />
    
                        <div class="col-xs-12 p0 fwbbold fs18 cgraymouse outlinenone tac">
                            <img src="/Images/Plus.png" class="mt7p w107 h110 cpointer" id="previewimg" ng-click="Tagging('Postpago','boton_login_postpago_inicio_registrarimei_agregarcomprobante ');showBoxUploadElement()"></img>
                        </div>                      
                    </div>                  
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 p0">
            <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 tac fwbbold fs15 cblackopacity mt3p">
                <div class="col-xs-6 col-xs-offset-2 tdul cgraylight cpointer" ng-click="Tagging('Postpago','bt_pos_ini_registrarimei_aceptoautor');terminoscondiciones()">Acepto autorización</div>
                <md-switch ng-model="CambioNumero.Terminos"></md-switch>
            </div>
        </div>        
        
        <div class="col-xs-8 col-xs-offset-2 mt3p mb5p">
            <div class="col-xs-12 col-md-4 col-md-offset-4 pr0 bgcorange cwhite tac pt10 pb10 fs16 tac cpointer" ng-click="Tagging('Postpago','bt_pos_ini_registrarimei_registrarimei');RegistrarImei()">
                REGISTRAR ESTE IMEI
            </div>
        </div>
    </div>

</div>
