<style type="text/css">
    li::before{
    content:'';    
    }
</style>
<!-- iframe chat -->
<script>
    var URLactual = window.location;
    if (URLactual.pathname.indexOf('.') != -1) {
        window.location.href = "/";
    }
</script>
<div class="pfixed ng-scope r0 b380 zi1 bcgraychat w304 pt5 pb5 pl6" ng-if="chat == 1">
    <img src="/Images/cancellila.png" class="zi1 b390 r227 h25 w25 cpointer outlinenone" ng-click="showchat()" ng-if="chat == 1"></img>
</div>
<iframe src="{{UrlIframePostpago}}" class="pfixed zi1 b0 r0 h380 bcgraylight " ng-if="chat == 1"></iframe>

<!-- Detalle del plan prepago -->
<script type="text/ng-template" id="popupdesasociarproducto.html">
    <div class="col-xs-12" block-ui="desasociarproductoblockui">
        <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img>
        </div>
        <div>
            <div class="col-xs-12 tac fwbbold fs30 mt3p cgrayboldhome">Desasociar Cuenta</div>
            <div class="col-xs-12 tac fs15 mt2p cgrayboldhome">Se desasociará la siguiente cuenta de tu aplicación: </div>
            <div class="col-xs-12 tac fs18 mt2p cblack fwbbold">{{cuenta}}</div>
            <div class="col-xs-8 col-xs-offset-2 tac fs18 mt2p cblack fwbbold">
                ¿Estás seguro?
            </div>
            <div class="col-xs-8 col-xs-offset-2 bgcorange cwhite pt10 pb10 fs18 tac cpointer mb8p mt30" ng-click="clicsesaciarcuenta()" role="button" tabindex="0">
                Desasociar
            </div>
        </div>
        <div class="cb"></div>
    </div>
    <div class="cb"></div>
</script>

<!-- Historial Imei's -->
<script type="text/ng-template" id="popuphistorialimeipostpagoCtrl.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img>
    </div>
    <div class="col-xs-12 mh200" block-ui="HistorialImei">
        <div class="col-xs-12 tac fwbbold fs30 mt3p cgrayboldhome mb3p">
            IMEIs registrados
        </div>
        <div class="col-xs-12 p0 max-h600 ofy">
            <div class="col-xs-12 tac fwbbold fs18 mt3p cblack" ng-repeat="item in HistorialImei">
                {{item}}
                <div class="col-xs-12 p0 bbcgray mt3p"></div>
            </div>
        </div>
        <div class="cb"></div>
    </div>
    <div class="cb"></div>
</script>

<!-- Contenedor -->
<div class="col-xs-12 col-md-10 col-md-offset-1 p0" block-ui="block" ng-if="notieneproducto.length > 0">
    <div id="showcerrarsesion" class="mr10 cpointer ttc tac cgrayboldhome mt15 hidden-md hidden-lg" ng-if="nombreUserClaro != ''">
        Hola {{nombreUserClaro | lowercase}}
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3  col-lg-4 col-lg-offset-4">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 bc1graylight pt10 pb10 mt25">
            <!--<div class="col-xs-3 p0 clila fs15 RobotoRegular">Número:</div>-->
            <div class="col-xs-12">
                <select class="corange bn outlinenone col-xs-12 talast bcwhite hidden-xs" ng-model="OpSelec.postpago" ng-change="filtro()">
                  <option value="">-- Seleccione --</option>
                  <option value="{{item.AccountId}}" ng-repeat="item in Us.cuentas" ng-if="item.LineOfBusiness == 3">{{item.alias}}</option>
                </select>

                <md-select class="corange bn outlinenone col-xs-12 talast bcwhite m0 hidden-sm hidden-md hidden-lg" aria-label="Follow" ng-model="OpSelec.postpago" ng-change="validar()">
                    <md-option value="">-- Seleccione --</md-option>
                    <md-option value="{{item.AccountId}}" ng-repeat="item in Us.cuentas" ng-if="item.LineOfBusiness == 3">{{item.alias}}</md-option>
                </md-select>
            </div>
        </div>
    </div>

    <!-- Contenedor -->
    <!-- Formulario Compra de paquetes y recargas-->
    <div id="mainContentPaquetesRecargas"></div>
    <style>
        form {
            display: none
        }
    </style>

    <!-- Contenedor Dashboard Card-->
    <div class="col-xs-12 p0" ng-show="ShowDash == 1">
        <div class="col-xs-12 p0 mt25 hidden-md hidden-lg">
            <!-- Mobil -->
        </div>
        <div class="col-xs-12 mt25">
            <div class="col-xs-12 bcgraylight dn-flex flex-ai-center h65 p0 cpointer outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_renuequi');fcninterna('Postrenuevatuequipo')">
                <div class="col-xs-11 col-xs-offset-1 col-sm-5 col-sm-offset-4 p0">
                    <div class="col-xs-4 p0">
                        <img src="/Images/pospago-renuevatuequipo.png" alt="" class="w66 ma img-responsive">
                    </div>
                    <div class="col-xs-7 cgrayboldhome fwbbold fs18 p0 mt8">
                        ¡Renueva tu Equipo!
                    </div>
                </div>
            </div>
            <div class="col-xs-12 p0 mt25 hidden-md hidden-lg">
            </div>
        </div>
        <div class="col-xs-12 mt10">
            <div class="col-xs-12 bgcorange dn-flex flex-ai-center h65 p0 cpointer outlinenone" ng-click="fcninterna('BeneficiosPostpago')">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 p0">
                    <div class="col-xs-4 p0">
                        <img src="/Images/Group_9436.png" alt="" class="w60 ma img-responsive">
                    </div>
                    <div class="col-xs-8 cwhite fwbbold fs22 p0 mt10 hidden-xs hidden-sm">
                        Déjanos sorprenderte
                    </div>
                    <div class="col-xs-8 cwhite fwbbold fs18 p0 mt15 hidden-md hidden-lg">
                        Déjanos sorprenderte
                    </div>
                </div>
            </div>
            <div class="col-xs-12 p0 mt25 hidden-md hidden-lg">
            </div>
        </div>
       <!-- <div class="col-xs-12 pl20 pr20 mt15 bnfocusounder" ng-click="fcninterna('postcompradatospersonalizados')">
            <div class="col-xs-12 col-sm-12 col-md-12 p0 hidden-lg hidden-md p0">
                <img src="/Images/Postpago_eligeredessocialesboton_movil.png" alt="" class="ma w100p img-responsive">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 hidden-xs hidden-sm p0">
                <img src="/Images/Postpago_eligeredessocialesboton.png" alt="" class="ma w100p img-responsive">
            </div>
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>
        </div>-->
        <div class="col-xs-12 p0 mt25">

            <div class="col-xs-6 col-md-3 outlinenone " ng-click="Tagging('Postpago','bt_pos_ini_cdatvozsms_detalle_cdatvozsms');fcninterna('ConsumoDeDatosPostpago')">
                <div class="col-xs-12 h170 bcgraylight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0">
                        <img src="/Images/Pos_detallededatos.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cgrayboldhome fwbbold fs18 mt10">
                        Consumo de Datos
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_cdatvozsms');fcninterna('ConsumoDeVozPostpago')">
                <div class="col-xs-12 h170 bclilalight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0">
                        <img src="/Images/Pos_consumodevoz.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cwhite fwbbold fs18">
                        <div class="mt5">
                            Consumos de Voz y
                        </div>
                        <div class="lh14px">
                            Servicios Adicionales.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobil -->
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>

            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_administratufactura');fcninterna('PagaTuFacturaPostpago')">
                <div class="col-xs-12 h170 bcgraylight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0">
                        <img src="/Images/Pos_administrafactura.png" class="ma  img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cgrayboldhome fwbbold fs18 mt10">
                        Administra tu Factura
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_detalleplan');fcninterna('DetallePlanPostpago')">
                <div class="col-xs-12 h170 bgcorange tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0 mt15contenticoncarddash">
                        <img src="/Images/Pos_detalledetuplan.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cwhite fwbbold fs18 mt10">
                        <div class="mt5">
                            Detalle y Cambio
                        </div>
                        <div class="lh14px">
                            de tu Plan
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xs-12 p0 mt25 hidden-md hidden-lg">
            <!-- Mobil -->
        </div>
        <div class="col-xs-12 mt25 mb25" ng-if="Us.usuario.DocumentType != 5">
            <div class="col-xs-12 bc1graylight pt10 pb10 tac cpointer outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_chateaconnosotros');showchat()">
                <div class="col-xs-12 col-md-8 col-md-offset-2 col-xs-offset-1 p0">
                    <div class="col-xs-3 col-xs-offset-1 col-sm-offset-2 col-md-2 col-md-offset-3 p0">
                        <img src="/Images/tools.png" class="ma w41"></img>
                    </div>
                    <div class="col-xs-7 col-md-7 p0 fs19 corange fwbbold mt5 tal"><span>Chatea con nosotros</span></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 p0 mbbil13">

            <!--<div class="col-xs-6 col-md-3 outlinenone">
                <div class="col-xs-12 h170 bgcorange tac cpointer dn-flex flex-column flex-jc-center" ng-click="Tagging('Postpago','bt_pos_ini_paquetesyrecargas');compradepaquetes()">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0">
                        <img src="/Images/Pos_compradepaquetes.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 cwhite fwbbold fs18 p0">
                        <div class="mt5">
                            Compra de
                        </div>
                        <div class="lh14px">
                            Paquetes y Recargas
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="col-xs-6 col-md-3 outlinenone">
                <div class="col-xs-12 h170 bgcorange tac cpointer dn-flex flex-column flex-jc-center" ng-click="Tagging('Postpago','bt_pos_ini_paquetesyrecargas');fcninterna('postcomprapaquetesrecargas')">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0">
                        <img src="/Images/Pos_compradepaquetes.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 cwhite fwbbold fs18 p0">
                        <div class="mt5">
                            Compra de
                        </div>
                        <div class="lh14px">
                            Paquetes y Recargas
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_familiaamigos_ini');fcninterna('DatosFamiliayamigos')">
                <div class="col-xs-12 h170 bcgraylight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 p0">
                        <img src="/Images/Pos_familiayamigos.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cgrayboldhome fs18 fwbbold">
                        <div class="mt5">
                            Familia y
                        </div>
                        <div class="lh14px">
                            Amigos
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mobil -->
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>

            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_admindatoscompartidos');fcninterna('DatosCompartidos')">
                <div class="col-xs-12 h170 bclilalight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0">
                        <img src="/Images/Pos_administrardatoscompartidos.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cwhite fwbbold fs18">
                        <div class="mt5">
                            Administra tus
                        </div>
                        <div class="lh14px">
                            Datos compartidos
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_registratuselegidosclaro');fcninterna('ElegidosTodoDestino')">
                <div class="col-xs-12 h170 bcgraylight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0">
                        <img src="/Images/Pos_administratuselegidos.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cgrayboldhome fwbbold fs18">
                        <div class="mt5">
                            Administra tus
                        </div>
                        <div class="lh14px">
                            Elegidos Todo Destino
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-12 p0 mt25">

            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_etexto');fcninterna('Postelegidostexto')">
                <div class="col-xs-12 h170 bcgraylight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0">
                        <img src="/Images/Pospago_elegidodetexto.png" class="ma img-responsive ma"></img>
                    </div>
                    <div class="col-xs-12 p0 cgrayboldhome fwbbold fs18">
                        <div class="mt5">
                            Administra tu
                        </div>
                        <div class="lh14px">
                            Elegido de Texto
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_registratuimei');fcninterna('RegistrarIMEI')">
                <div class="col-xs-12 h170 bclilalight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0">
                        <img src="/Images/Pos_registratuemei.png" class="ma img-responsive ma"></img>
                    </div>
                    <div class="col-xs-12 p0 cwhite fwbbold fs18">
                        <div class="mt5">
                            Gestiona tu
                        </div>
                        <div class="lh14px">
                            Equipo
                        </div>
                    </div>
                </div>
            </div>

            <!--
            <div class="col-xs-6 col-md-3 outlinenone" ng-click="fcninterna('CambiaTuPlanPostpago')">
                <div class="col-xs-12 p0 h170 bcgraylight tac cpointer">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0 mt15contenticoncarddash">
                        <img src="/Images/CambioPlan.png" class="ma mt6 img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cgrayboldhome fwbbold fs18">
                        Cambio de plan
                    </div>
                </div>
            </div>
            -->
            <!-- Mobil -->
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>
            <!--  
            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Postpago','Postpago_HistorialImeis');popuphistorialimeipostpagoCtrl()">
                <div class="col-xs-12 h170 bcgraylight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0">
                        <img src="/Images/pos_IMEISregistrados.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cgrayboldhome fwbbold fs18">
                        <div class="mt5">
                            Equipos
                        </div>
                        <div class="lh14px">
                            Registrados
                        </div>
                    </div>
                </div>
            </div>
        -->
            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_cambiatunumeroclaro');fcninterna('CambioDeNumeroPostpago')">
                <div class="col-xs-12 h170 bcgraylight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0">
                        <img src="/Images/Pos_cambiatunumero.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cgrayboldhome fwbbold fs18">
                        <div class="mt5">
                            Cambia tu
                        </div>
                        <div class="lh14px">
                            Número Claro
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_vermovimientoscuenta');fcninterna('MovimientosDeLaCuentaPostpago')">
                <div class="col-xs-12 h170 bgcorange tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0">
                        <img src="/Images/Pos_vermovimientos.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cwhite fwbbold fs18">
                        <div class="mt5">
                            Ver Movimientos
                        </div>
                        <div class="lh14px">
                            de la Cuenta
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-12 p0 mt25">
            <!-- Mobil -->
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>
            <!--
            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_vermovimientoscuenta');fcninterna('MovimientosDeLaCuentaPostpago')">
                <div class="col-xs-12 h170 bgcorange tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0">
                        <img src="/Images/Pos_vermovimientos.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cwhite fwbbold fs18">
                        <div class="mt5">
                            Ver Movimientos
                        </div>
                        <div class="lh14px">
                            de la Cuenta
                        </div>
                    </div>
                </div>
            </div>
            -->

            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Postpago','bt_pos_ini_desasociarcuenta');desasociarproducto()">
                <div class="col-xs-12 h170 bcwhite tac cpointer bc1red dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 p0">
                        <img src="/Images/icon_desasociarcuenta_blanco.png" class="ma img-responsive"></img>
                    </div>
                    <div class="corange fwbbold fs18 mt10">
                        Desasociar Cuenta
                    </div>
                </div>
            </div>


        </div>
        <div class="col-xs-12 p0 mt25 hidden-md hidden-lg">
            <!-- Mobil -->
        </div>
        <div class="col-xs-12 mt25 mb25">
            <ui-carousel slides="multiple.slides" slides-to-show="1" slides-to-scroll="1" initial-slide="0" autoplay="true" autoplay-speed="3000" dots="true" arrows="false" centerMode="true" draggable="true" on-init="onCarouselInit(event, slick, currentSlide)">
                <carousel-item class="elemnt">
                    <a href="{{item.target}}" target="_Blank" ng-click="Tagging('Postpago','bt_pos_ini_bannerpublicitario')">
                        <img ng-src="{{item.img}}" class="pull-right img-responsive w100p"></img>
                    </a>
                </carousel-item>
            </ui-carousel>
        </div>
    </div>

</div>

<!-- No hay productos -->
<asociar-producto></asociar-producto>
