<style type="text/css">
    li::before{
    content:'';    
    }
</style>
<script>
    var URLactual = window.location;
    if (URLactual.pathname.indexOf('.') != -1) {
        window.location.href = "/";
    }
</script>
<!-- Modal: Mas productos postpago -->
<script type="text/ng-template" id="popupmasopcionesprepago.html">
    <div class="col-xs-6 col-xs-offset-3 p0 mt6p">
        <div class="col-xs-12 p0 fs21 corange fwbbold tac">
            Más opciones
        </div>

        <div class="col-xs-12 p0 cpointer mt13p">
            <div ng-click="redireccion('AsociarProductoClaroGeneral')" class="outlinenone">
                <div class="col-xs-2 p0 tac">
                    <img src="/Images/MobileMasOpcionesPost.png"></img>
                </div>
                <div class="col-xs-10 p0 cgraybold mt10">
                    Asociar otros productos claro
                </div>
            </div>
        </div>

        <div class="col-xs-12 p0 h1 bcgraymouse mt3p"></div>
    </div>

    <div class="col-xs-6 col-xs-offset-3 bcgraymouse cwhite pt10 pb10 fs18 tac mt8p cpointer mb8p" ng-click="cancel()">
        Cancelar
    </div>
    <div class="cb"></div>
</script>

<!-- Detalle del plan prepago -->
<script type="text/ng-template" id="popupdetalledelplanprepagoCtrl.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img>
    </div>
    <div class="col-xs-12 mh200" block-ui="detalleplanprepago">
        <div class="col-xs-12 tac fwbbold fs18 mt3p cgraybold">{{DataDetallePlan.PlanName}}</div>

        <div class="col-xs-12 tac fwbbold fs12 mt3p clila">Tu plan tiene una tarifa por {{(DataDetallePlan.PlanVoiceUnit == 'Sec')?'segundos':(DataDetallePlan.PlanVoiceUnit == 'Min')?'minutos':''}}</div>

        <div class="col-xs-10 col-xs-offset-1 fwbbold fs12 mt3p cgraybold tac">Detalle del plan</div>

        <div class="col-xs-10 col-xs-offset-1 fs18 cgraybold mt4p taj">{{DataDetallePlan.PlanDescription}}</div>

        <div class="col-xs-12 p0 mt3p mb3p" ng-if="DataDetallePlan.PlanName != undefined">
            <a href="http://miclaroapp.com.co/archivos/contratoPrepago.pdf" target="_blank" ng-click="Tagging('Prepago','bt_pre_ini_dtarifa_dplan_vercontrato');">
                <div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4">
                    <div class="col-xs-12 bgcorange cwhite pt10 pb10 fs18 tac mt8p cpointer mb8p outlinenone">
                        Ver contrato
                    </div>
                </div>
            </a>
        </div>
        <div class="cb"></div>
    </div>
    <div class="cb"></div>
</script>

<!-- Historial Imei's -->
<script type="text/ng-template" id="popuphistorialimeiprepagoCtrl.html">
    <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img>
    </div>
    <div class="col-xs-12 mh200" block-ui="HistorialImei">
        <div class="col-xs-12 tac fwbbold fs30 mt3p cgraybold mb3p">
            IMEIs registrados
        </div>
        <div class="col-xs-12 p0 max-h600 ofy">
            <div class="col-xs-12 tac fwbbold fs18 mt3p cblack" ng-repeat="item in HistorialImei">
                {{item}}
                <div class="col-xs-12 p0 bbcgray mt3p"></div>
            </div>
        </div>
        <div class="cb"></div>
    </div>
    <div class="cb"></div>
</script>

<!-- Detalle del plan prepago -->
<script type="text/ng-template" id="popupdesasociarproducto.html">
    <div class="col-xs-12" block-ui="desasociarproductoblockui">
        <div class="col-xs-12"><img src="/Images/cancel.png" class="pull-right mt15 w20 cpointer" ng-click="cancel()"></img>
        </div>
        <div>
            <div class="col-xs-12 tac fwbbold fs30 mt3p cgraybold">Desasociar Cuenta</div>
            <div class="col-xs-12 tac fs15 mt2p cgraybold">Se desasociará la siguiente cuenta de tu aplicación: </div>
            <div class="col-xs-12 tac fs18 mt2p cblack fwbbold">{{cuenta}}</div>
            <div class="col-xs-8 col-xs-offset-2 tac fs18 mt2p cblack fwbbold">
                ¿Estás seguro?
            </div>
            <div class="col-xs-8 col-xs-offset-2 bgcorange cwhite pt10 pb10 fs18 tac cpointer mb8p mt30" ng-click="clicsesaciarcuenta()" role="button" tabindex="0">
                Desasociar
            </div>
        </div>
        <div class="cb"></div>
    </div>
    <div class="cb"></div>
</script>

<!-- iframe chat -->
<div class="pfixed ng-scope r0 b380 zi1 bcgraychat w304 pt5 pb5 pl6" ng-if="chat == 1">
    <img src="/Images/cancellila.png" class="zi1 b390 r227 h25 w25 cpointer outlinenone" ng-click="showchat()" ng-if="chat == 1"></img>
</div>
<iframe src="{{UrlIframePrepago}}" class="pfixed zi1 b0 r0 h380 bcgraylight " ng-if="chat == 1"></iframe>

<!-- p0 al contenedor original -->

<!-- Contenedor -->
<div class="col-xs-12 col-md-10 col-md-offset-1 p0" block-ui="block" ng-if="notieneproducto.length > 0">
    <!-- Formulario donde se realizara la peticion a la pagina de recargas de plan -->
    <div id="mainContentPaquetesRecargas"></div>
    <style>
        form {
            display: none;
        }
    </style>
    <div id="showcerrarsesion" class="mr10 cpointer ttc tac cgraybold mt15 hidden-md hidden-lg" ng-if="nombreUserClaro != ''">
        Hola {{nombreUserClaro | lowercase}}
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3  col-lg-4 col-lg-offset-4">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 bc1graylight pt10 pb10 mt25">
            <!--<div class="col-xs-3 p0 clila fs15 RobotoRegular">Número:</div>-->
            <div class="col-xs-12">
                <select class="corange bn outlinenone col-xs-12 talast bcwhite hidden-xs" ng-model="OpSelec.prepago" ng-change="validar()">
              <option value="">-- Seleccione --</option>
              <option value="{{item.AccountId}}" ng-repeat="item in Us.cuentas" ng-if="item.LineOfBusiness == 2">{{item.alias}}</option>
            </select>

                <md-select class="corange bn outlinenone col-xs-12 m0 talast bcwhite hidden-sm hidden-md hidden-lg" aria-label="Follow" ng-model="OpSelec.prepago" ng-change="validar()">
                    <md-option value="">-- Seleccione --</md-option>
                    <md-option value="{{item.AccountId}}" ng-repeat="item in Us.cuentas" ng-if="item.LineOfBusiness == 2">{{item.alias}}</md-option>
                </md-select>
            </div>
        </div>
    </div>

    <!-- Contenedor Dashboard Card-->
    <div class="col-xs-12 p0" ng-show="ShowDash == 1">
        <div class="col-xs-6 col-sm-6 col-md-6 mt25 tac hidden-xs hidden-sm pl20 pr0" ng-click="fcninterna('CambiaTuPlanPrepago')">
            <div class="col-xs-12 dn-flex flex-ai-center h65 p0">
                <img src="/Images/botonrojo_640x70.png" style="width:100%" alt="" class="img-responsive">
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 mt25 pl20 pr0 tac hidden-xs hidden-md hidden-lg">
            <div class="col-xs-12 dn-flex flex-ai-center h65 p0" ng-click="fcninterna('CambiaTuPlanPrepago')">
                <img src="/Images/BOTONROJOOO_384X70.png" style="width:100%;height:100%" alt="" class="img-responsive">
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 mt25 tac hidden-xs hidden-sm pr20 pl0" ng-click="fcninterna('precomprapaquetesrecargas')">
            <div class="col-xs-12 dn-flex flex-ai-center h65 p0">
                <img src="/Images/Botonnegro_640x70.png" style="width:100%" alt="" class="img-responsive">
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 mt25 tac pl0 pr20 hidden-xs hidden-md hidden-lg" ng-click="fcninterna('precomprapaquetesrecargas')">
            <div class="col-xs-12 dn-flex flex-ai-center h65 p0">
                <img src="/Images/BOTONNEGROOO_384X70.png" style="width:100%;height:100%" alt="" class="img-responsive">
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 mt25 tac pl20 pr10 hidden-sm hidden-md hidden-lg" ng-click="fcninterna('precomprapaquetesrecargas')">
            <div class="col-xs-12 dn-flex flex-ai-center h65 p0">
                <img src="/Images/btn_controlanavegacion.png" style="width:100%;height:100%" alt="" class="img-responsive">
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 mt25 tac pl10 pr20 hidden-sm hidden-md hidden-lg" ng-click="fcninterna('precomprapaquetesrecargas')">
            <div class="col-xs-12 dn-flex flex-ai-center h65 p0">
                <img src="/Images/btn_recargasypaquetes.png" style="width:100%;height:100%" alt="" class="img-responsive">
            </div>
        </div>
        <div class="col-xs-12 pl20 pr20 mt15" ng-if="haypicoplaca != 0">
            <a href="//www.claro.com.co/personas/servicios/promociones/309/" target="_blank" ng-click="Tagging('Prepago','bt_pre_ini_diapicoyplaca');">
                <div class="col-xs-12 bgcorange dn-flex flex-ai-center h65 p0">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 p0">
                        <div class="col-xs-4 p0">
                            <img src="/Images/Pre_tudiapicoyplaca.png" alt="" class="w60 ma img-responsive">
                        </div>
                        <div class="col-xs-8 cwhite fwbbold fs18 p0 mt5">
                            ¡Hoy es tu día pico y placa!
                        </div>
                    </div>
                </div>
            </a>
            <!-- Mobil -->
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>
        </div>
        <div class="col-xs-12 p0 mt25 hidden-md hidden-lg">
            <!-- Mobil -->
        </div>
        <div class="col-xs-12 p0 mt25" ng-class="(haypicoplaca != 0)? 'mtbil0' : '';">
            <div class="col-xs-6 col-md-3 outlinenone">
                <div class="col-xs-12 h170 bcgraylight tac cpointer dn-flex flex-column flex-jc-center" ng-click="Tagging('Prepago','bt_pre_ini_detalledeconsumoysaldo');fcninterna('DetalleDeConsumoSaldo')">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0 contenticoncarddash">
                        <img src="/Images/Pre_saldoyconsumo.png" class="w70 ma img-responsive"></img>
                    </div>
                    <div class="cgrayboldhome fs18 mt5">
                        Saldo y Consumo
                    </div>
                    <div class="cgrayboldhome fwbbold fs18 lh14px">
                        de Datos, Voz y SMS
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-3 outlinenone" ng-click="fcninterna('DetallePlanPrepago')">
                <div class="col-xs-12 h170 bclilalight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-4 col-xs-offset-4 col-md-4 col-md-offset-4 p0 mt15contenticoncarddash">
                        <img src="/Images/Pre_detalledetuplan.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cwhite fwbbold fs18 mt10">
                        Detalle de tu Plan
                    </div>
                </div>
            </div>

            <!-- Mobil -->
            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>

            <!--<div class="col-xs-6 col-md-3 outlinenone">
            <div class="col-xs-12 h170 bcgraylight tac cpointer dn-flex flex-column flex-jc-center" ng-click="Tagging('Prepago','bt_pre_ini_paquetesyrecargas');redireccionrecargas()">
                <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0 mt4 contenticoncarddash">
                    <img src="/Images/pre_compradepaquetesyrecargas.png" class="ma img-responsive"></img>
                </div>
                <div class="col-xs-12 p0 cgrayboldhome fwbbold fs18">
                    <div class="mt5">
                        Compra de
                    </div>
                    <div class="lh14px">
                        Paquetes y Recargas
                    </div>
                </div>           
            </div>
        </div>-->

            <div class="col-xs-6 col-md-3 outlinenone">
                <div class="col-xs-12 h170 bcblack tac cpointer dn-flex flex-column flex-jc-center" ng-click="Tagging('Prepago','bt_pre_ini_paquetesyrecargas');fcninterna('precomprapaquetesrecargas')">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0 mt4 contenticoncarddash">
                        <img src="/Images/comprapaquetesx2.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cwhite fwbbold fs18">
                        <div class="mt5">
                            Recarga y duplica
                        </div>
                        <div class="lh14px">
                            tus datos y minutos
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-6 col-md-3 outlinenone">
                <div class="col-xs-12 h170 bgcorange tac cpointer dn-flex flex-column flex-jc-center" ng-click="Tagging('Prepago','bt_pre_ini_registratuimei');fcninterna('RegistrarImeiPrepago')">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0 mt4 contenticoncarddash">
                        <img src="/Images/Pre_registratuIMEI.png" class="ma img-responsive"></img>
                    </div>
                    <div class="cwhite fwbbold fs18 mt5">
                        Gestiona tu
                    </div>
                    <div class="cwhite fwbbold fs18 lh14px">
                        Equipo
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 p0 mt25 hidden-md hidden-lg" ng-if="Us.usuario.DocumentType != 5">
            <!-- Mobil -->
        </div>
        <div class="col-xs-12 mt25 mb25" ng-if="Us.usuario.DocumentType != 5">
            <div class="col-xs-12 bc1graylight pt10 pb10 tac cpointer outlinenone" ng-click="Tagging('Prepago','bt_pre_ini_chateaconnosotros');showchat()">
                <div class="col-xs-12 col-md-8 col-md-offset-2 col-xs-offset-1 p0">
                    <div class="col-xs-3 col-xs-offset-1 col-md-2 col-md-offset-3 p0">
                        <img src="/Images/tools.png" class="ma w41"></img>
                    </div>
                    <div class="col-xs-8 col-md-7 p0 fs19 corange fwbbold mt5 tal"><span>Chatea con nosotros</span></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 hidden-md hidden-lg">
            <div class="h4"></div>
        </div>

        <div class="col-xs-12 p0 mtbil0">

            <!--    
        <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Prepago','Prepago_HistorialImeis');popuphistorialimeiprepagoCtrl()">
            <div class="col-xs-12 p0 h170 bgcorange tac cpointer dn-flex flex-column flex-jc-center">
                <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0 mt4 contenticoncarddash">
                    <img src="/Images/Pre_IMEISregistrados.png" class="ma img-responsive"></img>
                </div>
                <div class="col-xs-12 p0">
                    <div class="cwhite fwbbold fs18 mt5">
                         Equipos
                    </div>
                    <div class="cwhite fwbbold fs18 lh14px">
                        Registrados
                    </div>
                </div>
            </div>
        </div>
        -->
            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Prepago','bt_pre_ini_registrodeelegidotododestino ');fcninterna('ElegidoTodoDestinoPrepago')">
                <div class="col-xs-12 h170 bgcorange tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0 mt4 contenticoncarddash">
                        <img src="/Images/Pre_elegidostododestino_white.png" class="ma img-responsive"></img>
                    </div>
                    <div class="cwhite fwbbold fs18 mt5">
                        Administra tus
                    </div>
                    <div class="cwhite fwbbold fs18 lh14px">
                        Elegidos Todo Destino
                    </div>
                </div>
            </div>


            <div class="col-xs-6 col-md-3 outlinenone">
                <div class="col-xs-12 h170 bcgraylight tac cpointer dn-flex flex-column flex-jc-center" ng-click="Tagging('Prepago','bt_pre_ini_registronumerosamigo ');fcninterna('RegistroNumeroaAmigoPrepago')">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0 mt4 contenticoncarddash">
                        <img src="/Images/Pre_numeroamigo.png" class="ma img-responsive"></img>
                    </div>
                    <div class="cgrayboldhome fwbbold fs18 mt5">
                        Administra tus
                    </div>
                    <div class="cgrayboldhome fwbbold fs18 lh14px">
                        Números Amigo
                    </div>
                </div>
            </div>

            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>


            <div class="col-xs-6 col-md-3 outlinenone">
                <a href="//www.claro.com.co/personas/servicios/promociones/309/" target="_blank" ng-click="Tagging('Prepago','bt_pre_ini_picoyplaca');">
                    <div class="col-xs-12 h170 bclilalight tac cpointer dn-flex flex-column flex-jc-center">
                        <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0 mt4 contenticoncarddash">
                            <img src="/Images/Pre_picoyplaca.png" class="ma img-responsive"></img>
                        </div>
                        <div class="cwhite fwbbold fs18 mt10">
                            Pico y Placa
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Prepago','bt_pre_ini_administratusdatos');fcninterna('AdministraTusPaquetesPrepago')">
                <div class="col-xs-12 h170 bcgraylight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0 mt15contenticoncarddash">
                        <img src="/Images/icon_prepagoadministraciondepaquetes.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0">
                        <div class="cgrayboldhome fwbbold fs18 mt5">
                            Administra tu
                        </div>
                        <div class="cgrayboldhome fwbbold fs18">
                            Navegación
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xs-12 p0 mt25 mtbil0">
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                <div class="h4"></div>
            </div>

            <!--<div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Prepago','bt_pre_ini_administratusdatos');fcninterna('AdministraTusPaquetesPrepago')">
                <div class="col-xs-12 h170 bcgraylight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0 mt15contenticoncarddash">
                        <img src="/Images/icon_prepagoadministraciondepaquetes.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0">
                        <div class="cgrayboldhome fwbbold fs18 mt5">
                             Administra tu
                        </div>
                        <div class="cgrayboldhome fwbbold fs18">
                            Navegación
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Prepago','bt_pre_ini_cambiodeplan');fcninterna('CambiaTuPlanPrepago')">
                <div class="col-xs-12 p0 h170 bcgraylight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0 mt4 contenticoncarddash">
                        <img src="/Images/Pre_cambiodeplan.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0 cgrayboldhome fwbbold fs18">
                        Cambio de Plan
                    </div>
                </div>
            </div>


            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Prepago','bt_pre_ini_vermovimientoscuenta');fcninterna('MovimientosDeLaCuentaPrepago')">
                <div class="col-xs-12 p0 h170 bclilalight tac cpointer dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 col-lg-2 col-lg-offset-5 p0">
                        <img src="/Images/Pre_vermovimientos.png" class="ma img-responsive"></img>
                    </div>
                    <div class="col-xs-12 p0">
                        <div class="cwhite fwbbold fs18 mt5">
                            Ver Movimientos
                        </div>
                        <div class="cwhite fwbbold fs18 lh14px">
                            de la Cuenta
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 hidden-md hidden-lg">
                <div class="h4"></div>
            </div>


            <div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Prepago','bt_pre_ini_desasociarcuenta');desasociarproducto()">
                <div class="col-xs-12 h170 bcwhite tac cpointer bc1red dn-flex flex-column flex-jc-center">
                    <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 p0">
                        <img src="/Images/Pre_desasociarcuenta.png" class="ma img-responsive"></img>
                    </div>
                    <div class="corange fwbbold fs18 mt10">
                        Desasociar Cuenta
                    </div>
                </div>
            </div>


            <!--<div class="col-xs-6 col-md-3 outlinenone" ng-click="Tagging('Postpago','Prepago_AsociarproductosClaro');fcninterna('AsociarProductoClaroGeneral')">
            <div class="col-xs-12 p0 h170 bcgraydark tac cpointer">
                <div class="col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4 p0">
                    <img src="/Images/Masopciones.png" class="ma mt19 w41"></img>
                </div>
                <div class="col-xs-12 p0">
                    <div class="cwhite fs15 mt5">
                        Asociar productos
                    </div>
                    <div class="cwhite fwbbold fs18">
                        Claro
                    </div>
                </div>
            </div>
        </div>-->
        </div>

        <div class="col-xs-12 p0 mt25 hidden-md hidden-lg" ng-if="Us.usuario.DocumentType != 5">
            <!-- Mobil -->
        </div>
        <div class="col-xs-12 mt25 mb25">
            <ui-carousel slides="multiple.slides" slides-to-show="1" slides-to-scroll="1" initial-slide="0" autoplay="true" autoplay-speed="3000" dots="true" arrows="false" centerMode="true" draggable="true" on-init="onCarouselInit(event, slick, currentSlide)">
                <carousel-item class="elemnt">
                    <a href="{{item.target}}" target="_Blank" ng-click="$parent.$parent.Tagging('Postpago','bt_pre_ini_bannerpublicitario');">
                        <img ng-src="{{item.img}}" class="pull-right img-responsive w100p"></img>
                    </a>
                </carousel-item>
            </ui-carousel>
        </div>
    </div>



</div>

<!-- No hay productos -->
<asociar-producto></asociar-producto>
